workflows/Abhyasika.json
{"createdAt":"2025-11-26T13:36:04.241Z","updatedAt":"2025-11-27T04:43:48.000Z","id":"EwOJwhNHA3ZYLCDl","name":"Abhyasika","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":false}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-416,16],"id":"7223f500-e009-4891-ac91-b2e733d117ff","name":"Telegram Trigger","webhookId":"18ae30b7-9d16-4f41-aef0-8ed464b42faa","credentials":{"telegramApi":{"id":"zXaWUx4igOnflYyb","name":"Abhyasika Bot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"12"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-144,288],"id":"d6d1e0e4-0da2-4e2a-9720-f669d794d1d8","name":"Simple Memory"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-352,272],"id":"8b705c25-7d17-4274-8542-842880cc2c99","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"iIYPlVHcjbLEOZ6O","name":"Prajakta Gemini Key"}}},{"parameters":{"toolDescription":"Trained ML Model Invoke method to get prediction for student performance.\nrequired data:\n    Student_Age: Literal[18,19,20,21,22,23,24],\n    Sex: Literal['Male','Female'],\n    High_School_Type: Literal['State','Private','Other'],\n    Scholarship: int (0-100),\n    Additional_Work: Literal['Yes','No'],\n    Sports_activity: Literal['Yes','No'],\n    Transportation: Literal['Private','Bus','Other'],\n    Weekly_Study_Hours: int (0-10),\n    Attendance: Literal['Always','Sometimes','Never'],\n    Reading: Literal['Yes','No'],\n    Notes: Literal['Yes','No'],\n    Listening_in_Class: Literal['Yes','No'],\n    Project_work: Literal['Yes','No']","method":"POST","url":"https://student-performance-analysis.prasadsawant.com/predict","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Student_Age","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"Sex","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"High_School_Type","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"},{"name":"Scholarship","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"},{"name":"Additional_Work","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"Sports_activity","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"},{"name":"Transportation","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"},{"name":"Weekly_Study_Hours","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', ``, 'string') }}"},{"name":"Attendance","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', ``, 'string') }}"},{"name":"Reading","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', ``, 'string') }}"},{"name":"Notes","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', ``, 'string') }}"},{"name":"Listening_in_Class","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', ``, 'string') }}"},{"name":"Project_work","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[64,288],"id":"56b25816-eaf4-4eb6-8724-da4fceb1ef5a","name":"Predict"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Something went  wrong","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,112],"id":"c996118e-81ce-42e5-998a-d23e1e963755","name":"Send a text message1","webhookId":"1f287b19-6fa1-4b2e-a814-3d2185794971","retryOnFail":false,"credentials":{"telegramApi":{"id":"zXaWUx4igOnflYyb","name":"Abhyasika Bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.markdownV2 }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,16],"id":"8a279eab-ea4f-4ace-a202-bedb9b1e6265","name":"Send a text message","webhookId":"1f287b19-6fa1-4b2e-a814-3d2185794971","retryOnFail":false,"credentials":{"telegramApi":{"id":"zXaWUx4igOnflYyb","name":"Abhyasika Bot"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Get the content from the previous node's output\nconst inputText = $json.output;\n\n// Define the list of special characters that must be escaped in MarkdownV2\n// Note: The backslash itself needs to be escaped first.\nconst markdownV2SpecialChars = /([_*\\[\\]()~`>#+\\-=|{}.!])/g;\n\n// Function to escape the characters\n// We use 'replace' to put a backslash before each special character\nconst escapedText = inputText.replace(/\\\\/g, '\\\\\\\\').replace(markdownV2SpecialChars, '\\\\$1');\n\n// Return the cleaned string in a new JSON field\nreturn [{\n  json: {\n    markdownV2: escapedText,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,16],"id":"c2ca644b-3670-4803-9253-bf2586d5f8d2","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are a helpful assistant to student to collect information required to predict the Grade Student can get using Predict tool.\nBased on the Response of the Predict tool. Give Overview of the predicted score for student and Based on the Suggestion provided by the predict tool provide plan for the student to improve their grade.\n\nMust provide the Response into MarkdownV2"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-208,16],"id":"c80af0b5-641e-45cd-9593-77a2b5f17d26","name":"Abhyasika"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Abhyasika","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Abhyasika","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Abhyasika","type":"ai_languageModel","index":0}]]},"Predict":{"ai_tool":[[{"node":"Abhyasika","type":"ai_tool","index":0}]]},"Send a text message":{"main":[[],[{"node":"Send a text message1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Abhyasika":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f770e92-0737-4591-a2d4-12cb0f4e0a69","triggerCount":1,"shared":[{"createdAt":"2025-11-26T13:36:04.247Z","updatedAt":"2025-11-26T13:36:04.247Z","role":"workflow:owner","workflowId":"EwOJwhNHA3ZYLCDl","projectId":"Y8wSBEGBIlIwgMOi"}],"tags":[]}