workflows/Backup of workflows.json
{"createdAt":"2025-07-19T06:47:06.721Z","updatedAt":"2025-07-21T15:06:59.000Z","id":"GcEp15RddWhK0AWz","name":"Backup of workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"PrasadRSawant"},{"name":"repo.name","value":"n8n.prasadsawant.com-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"7f1618f8-c3e1-468d-a9a6-1a5f28ecf0b5","name":"Globals","type":"n8n-nodes-base.set","position":[-1984,288],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"872570d1-6812-4156-81a9-f4f9510d90a4","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1696,288],"typeVersion":1,"credentials":{"n8nApi":{"id":"MQShVXFuSBn7AwGu","name":"n8n: GitHub Backup"}}},{"parameters":{"options":{}},"id":"6dc18de9-7166-48f4-af03-e98199386212","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1472,288],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"d57ee94a-801d-4af9-baa6-1ceecb4c2309","name":"If","type":"n8n-nodes-base.if","position":[-1024,432],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"e31550be-095e-49a4-b3bc-2fed02d451c3","name":"If1","type":"n8n-nodes-base.if","position":[-304,720],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"de31315c-827f-41e7-9e9d-149f56e4d242","name":"Code","type":"n8n-nodes-base.code","position":[-688,288],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"93011297-ed85-4054-85e6-54ad08c12820","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-688,560],"typeVersion":1,"webhookId":"dc744eb9-a3be-41a4-9cce-49bba1e9cd2d","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json  - {{$now}}"},"id":"8ab3f733-609c-4e8b-a937-0579a30f664c","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[32,816],"typeVersion":1,"webhookId":"c6809069-2372-4f66-99f2-24c93e0f60a6","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"rule":{"interval":[{},{"triggerAtHour":12}]}},"id":"97bd363d-5dde-4295-aaa3-e6b8902822b2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2160,288],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"cdd53cad-c9b3-42b8-9b21-e3c90c3c497d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-32,704],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"ce24b48d-52bb-4363-a7d9-4ac53d381631","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-368,608],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":384,"width":288},"id":"1f2a9ced-559f-4342-b5b2-a911712f3b90","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-784,480],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":672,"width":528},"id":"f8cfc2ab-bf14-42d1-ad6c-bb0eed43e1ad","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1328,192],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":272,"width":288},"id":"71798b13-d9b9-4ea4-8dec-4ffa5dd0494d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-784,192],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":864,"width":256},"id":"3f4dafef-5b25-468e-85e6-72ac2279fbeb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1792,208],"typeVersion":1},{"parameters":{"content":"Set variables","height":864,"width":400},"id":"8a51c909-fee3-4f6b-8f17-ee090c32c201","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-2208,208],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"ad0b5afc-eaab-4552-97b4-030753b85788","name":"Get a file","type":"n8n-nodes-base.github","position":[-1216,432],"typeVersion":1,"alwaysOutputData":true,"webhookId":"0eeb2af5-e30f-41b4-ae2d-b95a23857075","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a781b2a9-2dad-4674-84c6-00f8c8274768","triggerCount":1,"tags":[]}