workflows/budget_setting_node.json
{"createdAt":"2025-08-09T12:35:48.850Z","updatedAt":"2025-08-09T13:53:52.000Z","id":"jJ5jIGWGdtpoWIaz","name":"budget_setting_node","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"budget_setting_node","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-432,0],"id":"4d9ae085-0dfe-40b9-bb69-731883778dec","name":"Webhook","webhookId":"4521438e-96d6-4aaf-b5f5-4f10a9e2af76"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,-16],"id":"c2f8846f-0f9c-4945-9b69-48f8d477360f","name":"Respond to Webhook"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $json.output }}\n\nExtract the json string from above and return only json string to parse\n\nis schema\n{\n  \"botReply\": \"<your response to the user>\",\n  \"formState\": <the updated form state object>\n}"}]},"options":{"systemMessage":"You are a system which only extract the json string and return to parse","maxOutputTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[144,0],"id":"17960ab8-46ec-4553-bfc4-1d5b9fbd1c5e","name":"Message a model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"jsCode":"const data=$input.first().json.content.parts[0].text.replaceAll('```json','').replaceAll('```','');\nconst response=JSON.parse(data)\nreturn response"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-16],"id":"1f416cf1-aa10-4748-8342-48a13dfa7322","name":"Code"},{"parameters":{"promptType":"define","text":"=Form State is: \n{{ $json.body.budgetState }}\n\nUser message:\"{{ $json.body.userMessage }}\"","options":{"systemMessage":"=You are a helpful Budget Setting assistant. Follow these steps precisely:\n\n1. Validate all form data fields to ensure proper format:\n   - Amount fields must be numeric values.\n   - Text fields must be strings.\n   \n2. Apply only the changes requested by the user:\n   - Update values without modifying the overall structure or format of the form state.\n   - Do NOT modify the fields \"jobNumber\" or \"type\" under any circumstances.\n\n3. After applying the requested changes, present the user with a preview of the updated form data and ask for confirmation.\n\n4. Once the user confirms the data is correct, ask explicitly if they approve submission.\n\n5. Submit the data only after the user has given approval to submit.\n\nAlways respond ONLY in the following JSON format no other content:\n\n{\n  \"botReply\": \"<your response to the user>\",\n  \"formState\": <the updated form state object>\n}\n\nBe clear, polite, and concise.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-176,0],"id":"58048370-6b61-424a-8b03-5d3c54ead1d1","name":"AI Agent"},{"parameters":{"options":{"maxOutputTokens":2000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-320,208],"id":"a346dfa1-622e-4622-97a7-b97efd267634","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.sessionId }}1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-176,208],"id":"d78809d3-4494-4c8a-bac8-7dffb758143b","name":"Simple Memory"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"1648","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","accept":"*/*","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","origin":"https://localhost:3000","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://localhost:3000/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{},"body":{"base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037","x_reconnect_token":"OWIwMDllYzktMmM4Yi00ZmE4LTg5NzItZDdjZDAxNWZlZjEy:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5HzA2OWMzZTdhMjgxYzQ3YWQ4NTk1MjZjMmZiYTgzMDQwHzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fpBU+a+M/r26V81DnC4wpww==","userMessage":"Change the oop line's cost price of main job to sum of cost price of all lines of subjobs","sessionId":"1638d189-2a0b-44dd-b519-b8aa1ca67f0f","state":"budget_setting_node","budgetState":"[{\"isMainJob\":true,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":9000000,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":0,\"noOf\":1}]},{\"isMainJob\":false,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":2428500,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":800000,\"noOf\":1}]},{\"isMainJob\":false,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":483500,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":200000,\"noOf\":1}]}]"},"webhookUrl":"https://n8n.prasadsawant.com/webhook/budget_setting_node","executionMode":"production"}}]},"versionId":"abe9435c-8636-4125-ada6-6e03d98c7244","triggerCount":1,"tags":[]}