workflows/budget_setting_node.json
{"createdAt":"2025-08-09T12:35:48.850Z","updatedAt":"2025-09-09T06:29:54.000Z","id":"jJ5jIGWGdtpoWIaz","name":"budget_setting_node","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"budget_setting_node","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-432,0],"id":"4d9ae085-0dfe-40b9-bb69-731883778dec","name":"Webhook","webhookId":"4521438e-96d6-4aaf-b5f5-4f10a9e2af76"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[592,-64],"id":"c2f8846f-0f9c-4945-9b69-48f8d477360f","name":"Respond to Webhook"},{"parameters":{"jsCode":"const data=$input.first().json.content.parts[0].text.replaceAll('```json','').replaceAll('```','');\nconst response=JSON.parse(data)\nreturn response"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-432],"id":"1f416cf1-aa10-4748-8342-48a13dfa7322","name":"Code"},{"parameters":{"promptType":"define","text":"=Form State is: {{ String($json.body.budgetState || \"\") }}\n\nUser message: \"{{ String($json.body.userMessage || \"\") }}\"\n","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful Budget Setting assistant. Follow these steps precisely:\n\n1. Validate all form data fields to ensure proper format:\n   - Amount fields must be numeric values.\n   - Text fields must be strings.\n   \n2. Apply only the changes requested by the user:\n   - ###Important: Do NOT modify the fields \"jobNumber\" or \"type\" under any circumstances.\n   - ###Important: Do NOT Add or Delete any Subjob, Only update the values.\n   - Update values without modifying the overall structure or format of the form state.\n   - Return whole form state, NOT partial state.\n\n3. After applying the requested changes, present the user with a preview of the updated form data and ask for confirmation.\n\n4. Once the user confirms the data is correct, ask explicitly if they approve submission.\n\n5. Submit the data only after the user has given approval to submit.\n\nAlways respond ONLY in the following JSON format no other content:\n\n{\n  \"botReply\": \"<your response to the user>\",\n  \"formState\": <the updated form state object>\n}\n\nBe clear, polite, and concise.\n\n\nuse below tools to search data:\n* get Task: Call this tool to search the task for task dropdown from system.\n* Submit Line Data: submit the line data "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-176,0],"id":"58048370-6b61-424a-8b03-5d3c54ead1d1","name":"AI Agent","retryOnFail":true,"maxTries":2,"waitBetweenTries":500,"onError":"continueErrorOutput"},{"parameters":{"options":{"maxOutputTokens":2000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-592,688],"id":"a346dfa1-622e-4622-97a7-b97efd267634","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-416,688],"id":"d78809d3-4494-4c8a-bac8-7dffb758143b","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n  \"botReply\": \"<your response to the user>\",\n  \"formState\": [{\n      \"isMainJob\": true,\n      \"jobNumber\": \"111100369\",\n      \"lines\": [\n        {\n          \"type\": \"FEE\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Account Manager\",\n          \"extDesc\": \"Account Manager\",\n          \"billingPrCur\": 9000000,\n          \"costPr\": 0,\n          \"noOf\": 1\n        },\n        {\n          \"type\": \"OOP\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Miscellaneous\",\n          \"extDesc\": \"Miscellaneous\",\n          \"billingPrCur\": 0,\n          \"costPr\": 0,\n          \"noOf\": 1\n        }\n      ]\n    },\n    {\n      \"isMainJob\": false,\n      \"jobNumber\": \"111100369\",\n      \"lines\": [\n        {\n          \"type\": \"FEE\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Account Manager\",\n          \"extDesc\": \"Account Manager\",\n          \"billingPrCur\": 2428500,\n          \"costPr\": 0,\n          \"noOf\": 1\n        },\n        {\n          \"type\": \"OOP\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Miscellaneous\",\n          \"extDesc\": \"Miscellaneous\",\n          \"billingPrCur\": 0,\n          \"costPr\": 800000,\n          \"noOf\": 1\n        }\n      ]\n    },\n    {\n      \"isMainJob\": false,\n      \"jobNumber\": \"111100369\",\n      \"lines\": [\n        {\n          \"type\": \"FEE\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Account Manager\",\n          \"extDesc\": \"Account Manager\",\n          \"billingPrCur\": 483500,\n          \"costPr\": 0,\n          \"noOf\": 1\n        },\n        {\n          \"type\": \"OOP\",\n          \"taskId\": \"\",\n          \"taskName\": \"\",\n          \"desc\": \"Miscellaneous\",\n          \"extDesc\": \"Miscellaneous\",\n          \"billingPrCur\": 0,\n          \"costPr\": 200000,\n          \"noOf\": 1\n        }\n      ]\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[352,672],"id":"e662095f-5b2b-45f0-87b9-86b87c033a12","name":"Structured Output Parser"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $json.output }}\n\nExtract the json string from above and return only json string to parse\n\nis schema\n{\n  \"botReply\": \"<your response to the user>\",\n  \"formState\": <the updated form state object>\n}"}]},"options":{"systemMessage":"You are a system which only extract the json string and return to parse","maxOutputTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-256,-432],"id":"17960ab8-46ec-4553-bfc4-1d5b9fbd1c5e","name":"Message a model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,96],"id":"ae0ed5ea-3226-4302-9b2f-9fa6f4255955","name":"Respond to Webhook1"},{"parameters":{"jsCode":"const state = $('Webhook').first().json.body.budgetState;\nconst responseState = JSON.parse(state)\n\nreturn {\n  \"botReply\": \"Something went wrong\",\n  \"formState\":responseState\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,96],"id":"ccac6ce6-521e-48e1-9529-e7af9048347c","name":"Code1"},{"parameters":{"jsCode":"const state = $input.first().json.output;\n\nreturn state;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-64],"id":"d5e6aa8c-fd9f-4b35-b47e-fbed02a9a136","name":"Code2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[208,464],"id":"17fed4ad-150f-42cf-a2d0-bd227101612c","name":"Auto-fixing Output Parser"},{"parameters":{"toolDescription":"Call to get task list bit substring seacrh","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/job-budget-line/tasks-tool","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Webhook').item.json.body.base_url }}"},{"name":"field","value":"task"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a commaseparated substring of task user requesting\ne.g. to search \"Discount\" parameter will be \"Disc,count,Discount,unt\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-224,672],"id":"6d6e7310-5f0c-4380-bdc9-4a6fdfbd4c8b","name":"get Tasks"},{"parameters":{"options":{"maxOutputTokens":2000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,672],"id":"f84153e1-a651-48b4-ba8f-d15d98cb172f","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"toolDescription":"Call the Tool to Submit Lines data to system","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/create_main_job_budgets","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Webhook').item.json.body.base_url }}"},{"name":"job_budgets","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `its a array of all line in below format\n\ne.g  [\n {\n   \"jobnumber\":\"job number for the this line is\",\n   \"billingpricecurrency\": 0,\n   \"costprice\": 0,\n   \"text\": \"string\",\n   \"externaldescription\": \"string\",\n   \"taskname\": \"Id of the task\",\n   \"NumberOf\": 0\n }\n]`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-896,640],"id":"ab5a1416-6763-4c35-b4b6-e425bf3f9829","name":"Submit Line Data"},{"parameters":{"description":"Call the tool to submit the Single(One) Budget line ","workflowId":{"__rl":true,"value":"YuukT59iXnxT0a7p","mode":"list","cachedResultName":"Submit Lines"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('Webhook').item.json.body.base_url }}","x_reconnect_token":"={{ $('Webhook').item.json.body.x_reconnect_token }}","billingpricecurrency":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('billingpricecurrency', `Billing price of the budget line`, 'number') }}","costprice":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('costprice', `Costprice of the budget line`, 'number') }}","NumberOf":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NumberOf', `NumberOf of the budget line`, 'number') }}","jobnumber":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobnumber', `Job number for the Budget Line`, 'string') }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', `Description  of the budget line`, 'string') }}","externaldescription":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('externaldescription', `externaldescription of the budget line`, 'string') }}","taskname":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('taskname', `taskname of the budget line`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"x_reconnect_token","displayName":"x_reconnect_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"jobnumber","displayName":"jobnumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"line_id","displayName":"line_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"billingpricecurrency","displayName":"billingpricecurrency","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"costprice","displayName":"costprice","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"externaldescription","displayName":"externaldescription","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"taskname","displayName":"taskname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"NumberOf","displayName":"NumberOf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-48,672],"id":"3b4ad63f-3c15-4b80-92ef-f89b4062de9c","name":"Submit Single Line Data"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code":{"main":[[]]},"AI Agent":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Message a model":{"main":[[]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"get Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Submit Line Data":{"ai_tool":[[]]},"Submit Single Line Data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"1648","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","accept":"*/*","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","origin":"https://localhost:3000","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://localhost:3000/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{},"body":{"base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037","x_reconnect_token":"OWIwMDllYzktMmM4Yi00ZmE4LTg5NzItZDdjZDAxNWZlZjEy:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5HzA2OWMzZTdhMjgxYzQ3YWQ4NTk1MjZjMmZiYTgzMDQwHzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fpBU+a+M/r26V81DnC4wpww==","userMessage":"Change the oop line's cost price of main job to sum of cost price of all lines of subjobs","sessionId":"1638d189-2a0b-44dd-b519-b8aa1ca67f0f","state":"budget_setting_node","budgetState":"[{\"isMainJob\":true,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":9000000,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":0,\"noOf\":1}]},{\"isMainJob\":false,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":2428500,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":800000,\"noOf\":1}]},{\"isMainJob\":false,\"jobNumber\":\"111100369\",\"lines\":[{\"type\":\"FEE\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Account Manager\",\"extDesc\":\"Account Manager\",\"billingPrCur\":483500,\"costPr\":0,\"noOf\":1},{\"type\":\"OOP\",\"taskId\":\"\",\"taskName\":\"\",\"desc\":\"Miscellaneous\",\"extDesc\":\"Miscellaneous\",\"billingPrCur\":0,\"costPr\":200000,\"noOf\":1}]}]"},"webhookUrl":"https://n8n.prasadsawant.com/webhook/budget_setting_node","executionMode":"production"}}]},"versionId":"356b9215-3b87-4a92-97b5-500cba9ced8e","triggerCount":1,"shared":[{"createdAt":"2025-08-09T12:35:48.853Z","updatedAt":"2025-08-09T12:35:48.853Z","role":"workflow:owner","workflowId":"jJ5jIGWGdtpoWIaz","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}