workflows/Data Generator.json
{"updatedAt":"2026-03-17T11:31:40.000Z","createdAt":"2026-03-12T16:33:29.965Z","id":"Kl3jl1Y5I9StYjLT","name":"Data Generator","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Data Generator","formDescription":"This is a Sythetic Data Generator AI Agent","formFields":{"values":[{"fieldLabel":"What ML model you are going to train? ","placeholder":"e.g. The ultimate target to Train a Linear Regression Model for house price prediction","requiredField":true},{"fieldLabel":"Description of the data","placeholder":"e.g. Design a dataset for me to train a Linear Regression model which consist room count, Area as features and keep other relevent features which can help to get more realistic data.","requiredField":true},{"fieldLabel":"Algorithm","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Linear Regression"},{"option":"Logistic Regression"},{"option":"Decision Tree"},{"option":"Random Forest"}]},"requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Generate Schema Of the Dataset"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"280e831b-15fb-4467-8550-3999e44cb2eb","name":"Sythetic Data Generator AI Agent","webhookId":"399ef2a1-ff9f-432b-ac1a-3b5b67aaa075"},{"parameters":{"promptType":"define","text":"=## What ML model you are going to train?\n{{ $json['What ML model you are going to train? '] }}\n\n## Description of the data\n{{ $json['Description of the data'] }}\n\n## Algorithm\n{{ $json.Algorithm }}\n\n\n## Request\nGenerate a dataset schema for me.","hasOutputParser":true,"options":{"systemMessage":"=You are helpful assistant who is expert into the dataset schema generation for sythetic but realistic data.\n\nUse the information provided by the user to generate data\n\nUser is providing;\n1. What ML model you are going to train? \nShort description of the idea\ne.g. The ultimate target to Train a Linear Regression Model for house price prediction\n\n2. Description of the data:\nDescritption of the Dataset Scheama and some special requirement which suppose to be considered while schema genetation\ne.g. Design a dataset for me to train a Linear Regression model which consist room count, Area as features and keep other relevent features which can help to get more realistic data.\n\n3. Algorithm\nIts a ML algorith for which the dataset is.\ne.g. Linear Regression, Logistic Regressio And So on.\n\n\nGenerate the proper scheam for the Dataset"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,0],"id":"e7ed3337-0ba9-4d8c-9eb8-58a0d3990dfc","name":"AI Agent"},{"parameters":{"model":"openai/gpt-oss-120b","options":{"maxTokensToSample":4096,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[80,208],"id":"98b50ed5-0085-4a19-99d1-a4bb132178a0","name":"Groq Chat Model","credentials":{"groqApi":{"id":"qfg4IRTFYATnvhGV","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[384,208],"id":"bc486f4c-7dbe-4b39-8bf4-cb15f253d15d","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n\t\"data\": [\n      {\n        \"fieldName\":\"Price\",\n        \"type\":\"continous\",\n        \"dataType\":\"float\",\n        \"min\": 10000,\n        \"max\": 100000\n      },\n      {\n        \"fieldName\":\"Direction\",\n        \"type\":\"categorical\",\n        \"dataType\":\"string\",\n        \"values\": [\"E\",\"W\",\"S\",\"N\",\"NE\",\"NW\",\"SE\",\"SW\"]\n      }\n    ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[528,416],"id":"488e2e7e-6ebc-4ed9-934e-9eb6b71ffff8","name":"Structured Output Parser"},{"parameters":{"formFields":{"values":[{"fieldLabel":"Refine the Dataset","requiredField":true}]},"options":{"formTitle":"Refine or Approve","buttonLabel":"Approve"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[560,0],"id":"ecf56666-5ebe-4294-b853-126a186d6507","name":"Form","webhookId":"8304e1d8-6894-401c-8b11-bab64eb49c15"}],"connections":{"Sythetic Data Generator AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5cc81b0e-4f3d-4f96-a82f-716163126975","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-12T16:33:29.968Z","createdAt":"2026-03-12T16:33:29.968Z","role":"workflow:owner","workflowId":"Kl3jl1Y5I9StYjLT","projectId":"jYp8xiWttkK2cWvC"}],"activeVersion":null,"tags":[]}