workflows/Data Extraction Pipeline: Share Market Data.json
{"createdAt":"2025-10-22T15:06:38.369Z","updatedAt":"2025-11-18T10:45:06.000Z","id":"4KiiIiZMEIcWtYx2","name":"Data Extraction Pipeline: Share Market Data","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,128],"id":"d931c86a-544b-420c-bbef-6248ec5288ed","name":"First Export Trigger"},{"parameters":{"language":"python","pythonCode":"banknifty_symbols = [\n  {\"symbol\": \"HDFCBANK.NS\"},\n  {\"symbol\": \"ICICIBANK.NS\"},\n  {\"symbol\": \"SBIN.NS\"},\n  {\"symbol\": \"AXISBANK.NS\"},\n  {\"symbol\": \"KOTAKBANK.NS\"},\n  {\"symbol\": \"BANKBARODA.NS\"},\n  {\"symbol\": \"PNB.NS\"},\n  {\"symbol\": \"CANBK.NS\"},\n  {\"symbol\": \"IDFCFIRSTB.NS\"},\n  {\"symbol\": \"INDUSINDBK.NS\"},\n  {\"symbol\": \"AUBANK.NS\"}\n]\n\nreturn banknifty_symbols"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,128],"id":"4f35d80c-7a94-4a1e-ad40-1d773d59fa2c","name":"Bank Sector List","alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-432,128],"id":"37853728-c739-4a47-969b-3eb71285379c","name":"Get Data for each symbol"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbol }}?interval=1d&range=1000d","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,240],"id":"97fe96ae-08cc-43fb-894d-41285f28f392","name":"Get Finance Data"},{"parameters":{"language":"python","pythonCode":"from datetime import datetime, timezone, timedelta\n\nraw_data = _input.first().json[\"chart\"][\"result\"][0]\n\n# General Data\nlong_name = raw_data.meta.longName\nshort_name = raw_data.meta.shortName\ncurrency = raw_data.meta.currency\nsymbol = raw_data.meta.symbol\nexchange_name = raw_data.meta.exchangeName\nfull_exchange_name = raw_data.meta.fullExchangeName\ninstrument_type = raw_data.meta.instrumentType\nexchange_timezone_name = raw_data.meta.exchangeTimezoneName\n\n# Dates\ndates = raw_data[\"timestamp\"]\n\n# Prices\nquote = raw_data[\"indicators\"][\"quote\"][0]\nadjclose = raw_data[\"indicators\"][\"adjclose\"][0][\"adjclose\"]\n\nclose = quote[\"close\"]\nopen_ = quote[\"open\"]\nlow = quote[\"low\"]\nhigh = quote[\"high\"]\nvolume = quote[\"volume\"]\n\n# Convert timestamp example to IST\nIST = timezone(timedelta(hours=5, minutes=30))\nrecords_count = len(dates)\n\ndata_list = []\nfor i in range(records_count):\n  dt_utc = datetime.fromtimestamp(dates[i], tz=timezone.utc)\n  dt_ist = dt_utc.astimezone(IST)\n  entry = {\n    \"long_name\":long_name,\n    \"short_name\":short_name,\n    \"currency\":currency,\n    \"symbol\":symbol,\n    \"exchange_name\":exchange_name,\n    \"full_exchange_name\":full_exchange_name,\n    \"instrument_type\":instrument_type,\n    \"exchange_timezone_name\":exchange_timezone_name,\n    \"date\":dt_ist.isoformat(),\n    \"close\":close[i],\n    \"open\":open_[i],\n    \"low\":low[i],\n    \"high\":high[i],\n    \"volume\":volume[i]\n  }\n  data_list.append(entry)\n  \nreturn data_list\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,240],"id":"4474c81f-f6bd-4e6a-b3e8-036c0af741b1","name":"Clean Data"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"stock_data","mode":"list","cachedResultName":"stock_data"},"columns":{"mappingMode":"defineBelow","value":{"long_name":"={{ $json.long_name }}","short_name":"={{ $json.short_name }}","currency":"={{ $json.currency }}","symbol":"={{ $json.symbol }}","exchange_name":"={{ $json.exchange_name }}","full_exchange_name":"={{ $json.full_exchange_name }}","instrument_type":"={{ $json.instrument_type }}","exchange_timezone_name":"={{ $json.exchange_timezone_name }}","date":"={{ $json.date }}","close":"={{ $json.close }}","open":"={{ $json.open }}","low":"={{ $json.low }}","high":"={{ $json.high }}","volume":"={{ $json.volume }}","created_at":"={{ new Date() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"long_name","displayName":"long_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"short_name","displayName":"short_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exchange_name","displayName":"exchange_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_exchange_name","displayName":"full_exchange_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instrument_type","displayName":"instrument_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exchange_timezone_name","displayName":"exchange_timezone_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"close","displayName":"close","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"open","displayName":"open","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"low","displayName":"low","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"high","displayName":"high","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"volume","displayName":"volume","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[80,240],"id":"803c1814-7e93-471f-9d1e-a949306e344a","name":"Insert Data","credentials":{"postgres":{"id":"2ns6vVT4VPQPegP1","name":"Prajakta Postgresql DB"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-784,480],"id":"7c8133b5-cc51-4fda-bcda-f489e9c94766","name":"Get Every Days Data"},{"parameters":{"language":"python","pythonCode":"banknifty_symbols = [\n  {\"symbol\": \"HDFCBANK.NS\"},\n  {\"symbol\": \"ICICIBANK.NS\"},\n  {\"symbol\": \"SBIN.NS\"},\n  {\"symbol\": \"AXISBANK.NS\"},\n  {\"symbol\": \"KOTAKBANK.NS\"},\n  {\"symbol\": \"BANKBARODA.NS\"},\n  {\"symbol\": \"PNB.NS\"},\n  {\"symbol\": \"CANBK.NS\"},\n  {\"symbol\": \"IDFCFIRSTB.NS\"},\n  {\"symbol\": \"INDUSINDBK.NS\"},\n  {\"symbol\": \"AUBANK.NS\"}\n]\n\nreturn banknifty_symbols"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,480],"id":"4a7a1a09-5175-438b-a82c-cc01c8f590e6","name":"Bank Sector Stock  Symbol List","alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-432,480],"id":"a4e67ada-7bcd-40b0-9f1e-6db53bad5264","name":"Check each stock"},{"parameters":{"operation":"executeQuery","query":"select \n  id, \n  long_name, \n  short_name, \n  currency, \n  symbol, \n  exchange_name, \n  full_exchange_name, \n  instrument_type, \n  exchange_timezone_name, \n  date, \n  close, \n  open, \n  low, \n  high, \n  volume, \n  created_at\nfrom public.stock_data\nwhere symbol = '{{ $json.symbol }}'\nand date <= '{{ new Date().toDateTime().minus(-1,'days').format('yyyy-MM-dd 00:00:00+00') }}'\nand date >= '{{ new Date().toDateTime().format('yyyy-MM-dd 00:00:00+00') }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,544],"id":"cec55a19-b9d4-47e3-b258-7c621cdf4ee5","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"postgres":{"id":"2ns6vVT4VPQPegP1","name":"Prajakta Postgresql DB"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdc351cc-2984-4549-ba28-77fa28d1993e","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,544],"id":"9e53bcdb-c5ea-402d-93f8-31a72294968f","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,688],"id":"a2dbf2d8-9350-4b75-8c1d-75ad301f450c","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,528],"id":"c9967d13-aaf1-4e08-9c2a-7d23b020be6d","name":"No Operation, do nothing1"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $('Check each stock').item.json.symbol }}?interval=1d&range=1d","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,688],"id":"98c592e3-3989-4293-8816-f4ae404718b0","name":"Get Finance Data Daily"},{"parameters":{"language":"python","pythonCode":"from datetime import datetime, timezone, timedelta\n\nraw_data = _input.first().json[\"chart\"][\"result\"][0]\n\n# General Data\nlong_name = raw_data.meta.longName\nshort_name = raw_data.meta.shortName\ncurrency = raw_data.meta.currency\nsymbol = raw_data.meta.symbol\nexchange_name = raw_data.meta.exchangeName\nfull_exchange_name = raw_data.meta.fullExchangeName\ninstrument_type = raw_data.meta.instrumentType\nexchange_timezone_name = raw_data.meta.exchangeTimezoneName\n\n# Dates\ndates = raw_data[\"timestamp\"]\n\n# Prices\nquote = raw_data[\"indicators\"][\"quote\"][0]\nadjclose = raw_data[\"indicators\"][\"adjclose\"][0][\"adjclose\"]\n\nclose = quote[\"close\"]\nopen_ = quote[\"open\"]\nlow = quote[\"low\"]\nhigh = quote[\"high\"]\nvolume = quote[\"volume\"]\n\n# Convert timestamp example to IST\nIST = timezone(timedelta(hours=5, minutes=30))\nrecords_count = len(dates)\n\ndata_list = []\nfor i in range(records_count):\n  dt_utc = datetime.fromtimestamp(dates[i], tz=timezone.utc)\n  dt_ist = dt_utc.astimezone(IST)\n  entry = {\n    \"long_name\":long_name,\n    \"short_name\":short_name,\n    \"currency\":currency,\n    \"symbol\":symbol,\n    \"exchange_name\":exchange_name,\n    \"full_exchange_name\":full_exchange_name,\n    \"instrument_type\":instrument_type,\n    \"exchange_timezone_name\":exchange_timezone_name,\n    \"date\":dt_ist.isoformat(),\n    \"close\":close[i],\n    \"open\":open_[i],\n    \"low\":low[i],\n    \"high\":high[i],\n    \"volume\":volume[i]\n  }\n  data_list.append(entry)\n  \nreturn data_list\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,688],"id":"c8a003a3-5680-4deb-b6c2-7881ce2610e0","name":"Clean Data  Daily"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"stock_data","mode":"list","cachedResultName":"stock_data"},"columns":{"mappingMode":"defineBelow","value":{"long_name":"={{ $json.long_name }}","short_name":"={{ $json.short_name }}","currency":"={{ $json.currency }}","symbol":"={{ $json.symbol }}","exchange_name":"={{ $json.exchange_name }}","full_exchange_name":"={{ $json.full_exchange_name }}","instrument_type":"={{ $json.instrument_type }}","exchange_timezone_name":"={{ $json.exchange_timezone_name }}","date":"={{ $json.date }}","close":"={{ $json.close }}","open":"={{ $json.open }}","low":"={{ $json.low }}","high":"={{ $json.high }}","volume":"={{ $json.volume }}","created_at":"={{ new Date() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"long_name","displayName":"long_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"short_name","displayName":"short_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"symbol","displayName":"symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exchange_name","displayName":"exchange_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_exchange_name","displayName":"full_exchange_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instrument_type","displayName":"instrument_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"exchange_timezone_name","displayName":"exchange_timezone_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"close","displayName":"close","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"open","displayName":"open","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"low","displayName":"low","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"high","displayName":"high","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"volume","displayName":"volume","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,688],"id":"18c241d6-5b6b-4804-9422-4af5acb726ec","name":"Insert Data  Daily","credentials":{"postgres":{"id":"2ns6vVT4VPQPegP1","name":"Prajakta Postgresql DB"}}}],"connections":{"First Export Trigger":{"main":[[{"node":"Bank Sector List","type":"main","index":0}]]},"Bank Sector List":{"main":[[{"node":"Get Data for each symbol","type":"main","index":0}]]},"Get Data for each symbol":{"main":[[],[{"node":"Get Finance Data","type":"main","index":0}]]},"Get Finance Data":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Insert Data","type":"main","index":0}]]},"Insert Data":{"main":[[{"node":"Get Data for each symbol","type":"main","index":0}]]},"Get Every Days Data":{"main":[[{"node":"Bank Sector Stock  Symbol List","type":"main","index":0}]]},"Bank Sector Stock  Symbol List":{"main":[[{"node":"Check each stock","type":"main","index":0}]]},"Check each stock":{"main":[[],[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Get Finance Data Daily","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Check each stock","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get Finance Data Daily":{"main":[[{"node":"Clean Data  Daily","type":"main","index":0}]]},"Clean Data  Daily":{"main":[[{"node":"Insert Data  Daily","type":"main","index":0}]]},"Insert Data  Daily":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Get Every Days Data":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4bdacb93-8574-4d28-9cb1-c37aa8b1b17d","triggerCount":1,"shared":[{"createdAt":"2025-10-22T15:06:38.380Z","updatedAt":"2025-10-22T15:06:38.380Z","role":"workflow:owner","workflowId":"4KiiIiZMEIcWtYx2","projectId":"Y8wSBEGBIlIwgMOi"}],"tags":[]}