workflows/Execute Kangaroo query.json
{"createdAt":"2025-08-05T18:30:55.183Z","updatedAt":"2025-09-09T06:28:17.000Z","id":"YGOnV9M6UA4CtEAJ","name":"Execute Kangaroo query","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"sql_query"},{"name":"agency_id"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"language":"python","pythonCode":"# Get inputs from _input\nquery = _input.first().json.get(\"sql_query\", \"\").lower()\n#agency_id = str(_input.first().json.get(\"agency_id\", \"\")).lower()\n\n# Check if the SQL query string is empty\nif not query.strip():\n    return {\n        \"json\": {\n            \"doExecureSql\":False,\n            \"message\": \"Please provide a valid SQL query. You have given an empty string.\"\n        }\n    }\n\n# Check if 'where' and agency_id condition exists\n# if \"where\" not in query:# or agency_id not in query:\n#     return {\n#         \"json\": {\n#             \"doExecureSql\":False,\n#             \"message\": \"Please apply agency filter using WHERE clause.\"\n#         }\n#     }\n\n# Return mock result\nreturn {\n        \"json\": {\n            \"doExecureSql\":True,          \n            \"query\": _input.first().json.sql_query\n        }\n    }\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,352],"id":"ddadf91f-a56f-4673-94c8-195a690580ee","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d982deb-8db4-467c-9f85-55601ca3a3e5","leftValue":"={{ $json.doExecureSql }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,352],"id":"dcef284b-91fb-4279-a189-d47e42d03dce","name":"If"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[320,144],"id":"0312b72f-ab46-4e2c-833d-0de0290f0310","name":"Delete Existing all data"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_vectors","mode":"list","cachedResultName":"n8n_vectors"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,144],"id":"cc8e8acf-29a9-4e9f-be74-8722f366572d","name":"Delete table or rows","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1072,32],"id":"58e5854b-969c-4b45-b303-eb31725cd2a0","name":"Execute a SQL query","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"method":"POST","url":"https://jobagent.prasadsawant.site/execute_query","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $('When Executed by Another Workflow').item.json.sql_query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,272],"id":"e5759446-9f03-4986-b524-fc584455a923","name":"Execute query"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute query","type":"main","index":0}]]},"Delete Existing all data":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b6be2221-7476-4884-ba4d-3aeb5295c233","triggerCount":0,"tags":[]}