workflows/extract_and_show_subjob_form_node.json
{"createdAt":"2025-07-21T13:50:14.381Z","updatedAt":"2025-08-31T03:27:17.000Z","id":"DwlftixiXSPRlmLk","name":"extract_and_show_subjob_form_node","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"extract_and_show_subjob_form_node","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-352,-64],"id":"c8d588c8-42fb-4d1a-a5c1-6422f2ae9131","name":"Webhook","webhookId":"9e951d3a-1653-4b42-aa70-f1c8ceb98754"},{"parameters":{"inputText":"={{ $json.body.userMessage }}","categories":{"categories":[{"category":"Proceed","description":"whether User reviewed the from and want to move to next step"},{"category":"No","description":"is User do not review the form and don't want to move to next step"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-144,-64],"id":"50faea8d-8890-478c-a978-8a99e4ac2880","name":"Text Classifier"},{"parameters":{"model":"llama-3.1-8b-instant","options":{"maxTokensToSample":500,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-224,144],"id":"588e0f4a-310d-4cb2-b9ff-74013d614394","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"jsCode":"return {\n    json: {\n      reply: \"Thanks, Will proceed.\",\n      data: {\n        id: \"\",\n        text: \"\"\n      },\n      changeTheState: true\n    }\n  };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-48],"id":"7f614080-8c41-4d1d-b779-aeea898bfd99","name":"Code"},{"parameters":{"jsCode":"return {\n    json: {\n      reply: \"Please review and Let me know to proceed further\",\n      data: {\n        id: \"\",\n        text: \"\"\n      },\n      changeTheState: false\n    }\n  };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,112],"id":"8a8e2a81-76df-4823-ba07-cbed68049994","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[432,-48],"id":"c286bc53-fc26-4aff-a4e8-a4b2cbeeb0d9","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[432,112],"id":"3eaf386e-e800-43ae-a953-3cee80bd8943","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2186816a-e886-4bf9-98f6-80fb4184f445","triggerCount":1,"shared":[{"createdAt":"2025-07-21T13:50:14.389Z","updatedAt":"2025-07-21T13:50:14.389Z","role":"workflow:owner","workflowId":"DwlftixiXSPRlmLk","projectId":"jYp8xiWttkK2cWvC"}],"tags":[{"createdAt":"2025-07-27T16:13:29.615Z","updatedAt":"2025-07-27T16:13:29.615Z","id":"PnxKYWk0j7kgO7lb","name":"Vsky"}]}