workflows/Generate LinkedIn Posts: Monthly.json
{"createdAt":"2025-07-19T04:51:44.398Z","updatedAt":"2025-07-27T19:55:07.000Z","id":"QLA2bp1pgKg6YnEA","name":"Generate LinkedIn Posts: Monthly","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-160],"id":"15fef2b1-8f50-4a27-ae0d-b05f97a7fd71","name":"Mid Night Trigger to Create Posts"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\ndef generate_uuid():\n    return str(uuid.uuid4())\n\n\nreturn {\n  \"task_id\":generate_uuid(),\n  \"month\":_input.first().json.Month,\n  \"year\":_input.first().json.Year\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,-160],"id":"108452ab-9ed9-42fe-b733-b1bcbb0d775b","name":"Task Variable Design"},{"parameters":{"assignments":{"assignments":[{"id":"770e80c5-455f-4556-8c88-77920a124b4a","name":"TaskId","value":"={{ $('Task Variable Design').item.json.task_id }}","type":"string"},{"id":"eb0e72d6-0b6d-48b0-b18e-478b9c380207","name":"TaskMonth","value":"={{ $('Task Variable Design').item.json.month }}","type":"string"},{"id":"e1165dd0-458d-451a-9e9e-f99001d27055","name":"TaskYear","value":"={{ $('Task Variable Design').item.json.year }}","type":"string"},{"id":"3aa41863-e31a-4316-9d68-19c1460080ce","name":"LinkedIn Holder Email","value":"prasadsawant1618@gmail.com","type":"string"},{"id":"d78e4834-afcf-4bab-80b5-2a143cf5778d","name":"LinkedIn Holder Name","value":"Prasad Sawant","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-160],"id":"df394b5d-1509-4a62-9950-a1e5a4bbf2e0","name":"Set Task Variables"},{"parameters":{"documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"filtersUI":{"values":[{"lookupColumn":"MonthYear","lookupValue":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}"},{"lookupColumn":"IsSucceed","lookupValue":"true"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,-160],"id":"839dc9be-5684-48df-9688-362775f3cd64","name":"Check If Task is already Executed for Month","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2a164d8-2d0a-48d8-a9d8-4f799eb959ff","leftValue":"={{ $('Check If Task is already Executed for Month').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-160],"id":"e9360d4f-a78d-48f1-9020-febfae7fbd61","name":"Are Posts already Created?"},{"parameters":{"content":"### Monthly Trigger\n\n1. This trigger executes on **1st of every Month** to create all Post for this month.\n2. It executes at **0.00 AM of 1st on every month**.\n","height":896,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1008,-640],"typeVersion":1,"id":"e448e88a-918b-450d-927a-e7c2dcb01492","name":"Sticky Note"},{"parameters":{"content":"### Task Variables\n\n1. In this part, The workflow sets the global variables like **TaskId**, **TaskMonth** and **TaskYear** ","height":896,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-608,-640],"typeVersion":1,"id":"75fb01f4-b326-4e8f-abdd-946e43254d05","name":"Sticky Note1"},{"parameters":{"content":"### Checking If the Post are already designed for this month\n\n1. In this part, The workflow checks if the task is already executed for this month or not.\n2. It check the data in **\"Monthly Linked In Post Design Task Logs\"** sheet of drives **\"LinkedIn Post Data\"** googlesheet.\n3. Checks based on **\"Month-Year\"** and **\"IsSuccessed\"** flag.","height":896,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-224,-640],"typeVersion":1,"id":"a6fefd2c-9950-4af9-abaa-40ec67ae4809","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","MonthYear":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}","Timestamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}","StatusMessage":"=All the posts for Month \"{{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}\" are generated.\nWe didn't added or generated any New Post.","IsSucceed":"true"},"matchingColumns":[],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[256,-352],"id":"c2d7ae30-f3e8-4c9e-80ca-af0882f793ba","name":"Append The Log Into Logger: Already Done","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"### Informing LinkedIn Holder user Email\n\n1. In this part, The workflow inform LinkedIn Holder that the **'The Task Is already done for  this Month.'**","height":480,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[192,-640],"typeVersion":1,"id":"d25b47c3-48f2-4276-a052-0f5b4a4d9b70","name":"Sticky Note3"},{"parameters":{"content":"### Designing Email Template\n\n1. In this part, we are designing the email template.","height":480,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[416,-640],"typeVersion":1,"id":"2a506021-add4-4bdf-8e7a-b602604970e4","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"0cda0556-9b8b-4ec1-a187-565ffcd6447e","name":"subject","value":"= LinkedIn Posts for \"{{ $('Set Task Variables').item.json.TaskMonth}}-{{ $('Set Task Variables').item.json.TaskYear}}\" Month Already Designed","type":"string"},{"id":"9af72325-79eb-4445-9b50-7996e42210c8","name":"body","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>LinkedIn Posts Status</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; color: #333333; line-height: 1.6;\">\n  <p>Hi {{ $('Set Task Variables').item.json['LinkedIn Holder Name'] }},</p>\n\n  <p>\n    I wanted to inform you that all the LinkedIn posts for \n    <strong>{{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}</strong> month have already been designed and are ready.\n    No further action is needed from the design side at this point.\n  </p>\n\n  <p>\n    Please let me know if you'd like me to review or schedule them as the next step.\n  </p>\n\n  <p>Best regards,<br>\n  <strong>N8N Workflow Automation</strong><br>\n  <a href=\"https://portfolio.prasadsawant.com\" target=\"_blank\">portfolio.prasadsawant.com</a>\n  </p>\n</body>\n</html>\n","type":"string"},{"id":"d0fe132d-6733-4111-898b-26c78794d0df","name":"to","value":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-352],"id":"bcf983ce-b758-4215-828a-1cd7b4f3578f","name":"Set Email Template: Already Done"},{"parameters":{"content":"### Designing Email Template\n\n1. In this part, we are designing the email template.","height":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[640,-640],"typeVersion":1,"id":"254fc4d3-7ddd-4c62-b201-39a74521671c","name":"Sticky Note5"},{"parameters":{"sendTo":"={{ $json.to }}","subject":"={{ $json.subject }}","message":"={{ $json.body }}","options":{"appendAttribution":false,"senderName":"LinkedIn Automation Team"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,-352],"id":"3ef26d6f-769d-4daa-a941-1de01fbdc7d7","name":"Inform LinkedIn Holder About Already Done Status","webhookId":"0c28307e-7dd0-4439-abbe-a195fe7e66f1","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"### Generate Topic For Selected Days","height":400,"width":688},"type":"n8n-nodes-base.stickyNote","position":[192,-144],"typeVersion":1,"id":"0933e849-7e62-4de3-a1a7-5c1518b0289f","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","MonthYear":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}","Timestamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}","StatusMessage":"Trigger is Started, All Log of Task is Adding into sheet.","IsSucceed":"false"},"matchingColumns":[],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,16],"id":"0fcc94a9-5656-4b5f-8cee-b6095b39b4b9","name":"Append The Log Into Logger: Not Generated, Post Generating","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"workflowInputs":{"values":[{"name":"TaskId"},{"name":"TaskMonth"},{"name":"TaskYear"},{"name":"LinkedInHolderName"},{"name":"LinkedInHolderEmail"},{"name":"ExcutionTimeStamp"}]}},"id":"4c73bdc5-8f09-45f9-9474-d36af4d4e81c","typeVersion":1.1,"name":"Trigger To generate Posts","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-784,672]},{"parameters":{"language":"python","pythonCode":"from datetime import datetime, timedelta, date\nimport random\nimport uuid\n\nMONTH_YEAR = f\"{_input.first().json.TaskMonth}-{_input.first().json.TaskYear}\"\ndef generate_uuid():\n    return str(uuid.uuid4())\n  \ndef get_random_time():\n    # Choose time slot: morning or evening\n    if random.choice([\"morning\", \"evening\"]) == \"morning\":\n        hour = random.randint(9, 10)  # 9 to 10\n    else:\n        hour = random.randint(15, 19)  # 15 to 19 (3PM to 7PM)\n\n    minute = random.randint(0, 59)\n    second = random.randint(0, 59)\n\n    return hour, minute, second\n\ndef get_sundays_wednesdays(year, month):\n    days_list = []\n    current = date(year, month, 1)\n\n    while current.month == month:\n        if current.weekday() == 6:  # Sunday\n            hour, minute, second = get_random_time()\n            dt = datetime(year, month, current.day, hour, minute, second)\n            days_list.append({\n              \"LinkedInPostId\":generate_uuid(),\n              \"scheduled_day\": \"Sunday\", \n              \"scheduled_date\": dt.isoformat(),\n              \"Month_Year\":MONTH_YEAR\n            })\n        elif current.weekday() == 2:  # Wednesday\n            hour, minute, second = get_random_time()\n            dt = datetime(year, month, current.day, hour, minute, second)\n            days_list.append({\n              \"LinkedInPostId\":generate_uuid(),\n              \"scheduled_day\": \"Wednesday\", \n              \"scheduled_date\": dt.isoformat(),\n              \"Month_Year\":MONTH_YEAR\n            })\n        current += timedelta(days=1)\n\n    return days_list\n\n# Get current year and month\ntoday = date.today()\nresult = get_sundays_wednesdays(today.year, today.month)\n\n# Final result\nreturn result\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,672],"id":"1544184a-27f0-461c-b9bd-44a295438828","name":"Get Days for Post"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-416,672],"id":"7a95b6fe-b762-4f3c-9869-630eb3dc675b","name":"Iterate Over The Days"},{"parameters":{"assignments":{"assignments":[{"id":"3ec38c3e-fc5c-43d0-bccc-d9404823c2ee","name":"ExistingTopicInMonth","value":"={{ $json.sequential_topic_prompt }}","type":"string"},{"id":"80e497e7-709f-4159-8c56-684f32773f0c","name":"Id","value":"={{ $('Loop Data').first().json.postId }}","type":"string"},{"id":"7a5625c5-b1d9-4a7d-99b6-a872734215b3","name":"ScheduledDate","value":"={{ $('Loop Data').first().json.scheduled_date }}","type":"string"},{"id":"538ea72c-1a01-410c-8255-10622c925630","name":"isPostTopicAlreadyExist","value":"={{ $json.is_post_there }}","type":"boolean"},{"id":"84b3a812-2ef7-4bb8-908c-2607325b22f6","name":"id_of_existing_record","value":"={{ $json.id_of_existing_record }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,784],"id":"c51e0c6a-cf02-49eb-a184-865a626a60d1","name":"Design Variables for the Day"},{"parameters":{"documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1264720381,"mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1264720381"},"filtersUI":{"values":[{"lookupColumn":"MonthYear","lookupValue":"={{ $json.Month_Year }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-16,784],"id":"6af4c4a7-b877-4994-8c82-87cd81364899","name":"Get Generated Post Titles For this Month","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"from datetime import datetime\n\nexisting_posts = _input.all()\n\n# Helper: safely parse a datetime string to 'YYYY-MM-DD'\ndef safe_format_date(date_str, fmt_in):\n    try:\n        return datetime.strptime(date_str, fmt_in).strftime(\"%Y-%m-%d\")\n    except (TypeError, ValueError):\n        return None\n\n# Build list of formatted existing post dates\ndate_for_post_already_designed = []\nfor x in existing_posts:\n    raw_date = x['json'].get(\"ScheduledDateTime\")\n    formatted = safe_format_date(raw_date, \"%Y-%m-%d %H:%M:%S\")\n    if formatted:\n        date_for_post_already_designed.append(formatted)\n\n# Format the loop input date\nloop_scheduled_raw = _('Loop Data').first().json.get('scheduled_date')\nloop_scheduled_formatted = safe_format_date(loop_scheduled_raw, \"%Y-%m-%dT%H:%M:%S\")\n\n# Check if the scheduled date already exists\nis_post_there = loop_scheduled_formatted in date_for_post_already_designed if loop_scheduled_formatted else False\n\n# Get the matching record ID\nid_of_existing_record = \"\"\nif is_post_there:\n    for item in existing_posts:\n        scheduled_raw = item['json'].get(\"ScheduledDateTime\")\n        existing_date = safe_format_date(scheduled_raw, \"%Y-%m-%d %H:%M:%S\")\n        if existing_date == loop_scheduled_formatted:\n            id_of_existing_record = item['json'].get(\"Id\", \"\")\n            break\n\n# Build topic prompt\nsequential_topic_prompt = \"\"\nif existing_posts:\n    lines = []\n    for item in existing_posts:\n        data = item.get('json', {})\n        title = data.get(\"Title\", \"\")\n        date = data.get(\"ScheduledDateTime\", \"\")\n        if title and date:\n            lines.append(f\"Date: {date}, Topic: {title}\")\n    sequential_topic_prompt = '\\n'.join(lines)\n\n# Final return\nreturn {\n    \"sequential_topic_prompt\": sequential_topic_prompt,\n    \"is_post_there\": is_post_there,\n    \"id_of_existing_record\": id_of_existing_record\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,784],"id":"c1c08ce1-b05e-4249-998c-a77d8d46c43f","name":"Design Array Of the Designed Topics For Month"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1600,1072],"id":"f4e4af90-9e82-4985-8d9b-b625121fdc27","name":"No Operation, do nothing"},{"parameters":{"model":"llama3-70b-8192","options":{"maxTokensToSample":1000,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[736,1072],"id":"fc19910c-27d2-488c-854a-9c67283edeae","name":"LLM To Generate the Topics","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"promptType":"define","text":"=Here is the Existing List Of Topics for this month:\n\"{{ $json.ExistingTopicInMonth }}\"\n\ngenerate give me topic for next day \"{{ $json.ScheduledDate }}\"\n\nReturn Only Topic Name. Not Other text","messages":{"messageValues":[{"message":"You Are a helpful assistant to choose Topic for my linkedin post related to \"AI ML Domain with Maths"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[800,880],"id":"7a1859da-91f7-408f-bffa-d31438c31844","name":"Topic Designer"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1264720381,"mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1264720381"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Design Variables for the Day').item.json.Id }}","Title":"={{ $json.text }}","MonthYear":"={{ $('Loop Data').first().json.Month_Year }}","ScheduledDateTime":"={{ $('Loop Data').first().json.scheduled_date }}","CreateDateTime":"={{ $now }}","IsScheduled":"true","IsApproved":"false","IsPublished":"false","IsApprovedByAccountHolder":"false"},"matchingColumns":[],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post","displayName":"Post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HasTags","displayName":"HasTags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ScheduledDateTime","displayName":"ScheduledDateTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PublishedDateTime","displayName":"PublishedDateTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsApprovedByAccountHolder","displayName":"IsApprovedByAccountHolder","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CreateDateTime","displayName":"CreateDateTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsScheduled","displayName":"IsScheduled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsApproved","displayName":"IsApproved","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsPublished","displayName":"IsPublished","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1136,880],"id":"b5ee99ea-0e7c-4285-bf57-6f83cc41247a","name":"Add LinkedIn Post Record In Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"02a59334-9bfb-4f00-baaf-8ff17e149299","name":"postId","value":"={{ $json.LinkedInPostId }}","type":"string"},{"id":"b707c862-c3b2-4b6b-aac2-b4d90d905e7d","name":"scheduled_day","value":"={{ $json.scheduled_day }}","type":"string"},{"id":"0988a0d5-11fa-4a65-a04a-a8191aaad578","name":"scheduled_date","value":"={{ $json.scheduled_date }}","type":"string"},{"id":"9a69efc3-bd3a-4fb5-a34f-72429c059597","name":"Month_Year","value":"={{ $json.Month_Year }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,784],"id":"8da665d7-d107-4c3c-b63c-3bf475b94cf2","name":"Loop Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","StatusMessage":"=All Topics for total \"{{ $json.loop_response.length }}\" days generated and added."},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,16],"id":"3112f71a-9755-4e98-b4e3-b11bbd108c42","name":"Append The Log Into Logger: Topics Are Generate","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,784],"id":"e00b01e0-291c-4a2a-b95d-7da3679d4a68","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08bd0b38-2f49-46e3-a389-ac16e4dccb17","leftValue":"={{ $json.isPostTopicAlreadyExist }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,784],"id":"dc7a0620-3426-4683-ba8d-a6c22a49a164","name":"Topic For Day Already There?"},{"parameters":{"documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1264720381,"mode":"list","cachedResultName":"LinkedIn Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1264720381"},"filtersUI":{"values":[{"lookupColumn":"Id","lookupValue":"={{ $json.id_of_existing_record }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1136,688],"id":"6a414d86-13d9-4085-82b6-2be7ce57d112","name":"Get Existing Record","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"loop_response =_input.all()\n\nreturn {\n  \"loop_response\":loop_response\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,576],"id":"7503a438-2243-4729-8fa7-516495c5476e","name":"return"},{"parameters":{"workflowId":{"__rl":true,"value":"QLA2bp1pgKg6YnEA","mode":"list","cachedResultName":"Generate LinkedIn Posts: Monthly"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TaskId":"={{ $('Set Task Variables').item.json.TaskId }}","TaskMonth":"={{ $('Set Task Variables').item.json.TaskMonth }}","TaskYear":"={{ $('Set Task Variables').item.json.TaskYear }}","LinkedInHolderName":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","LinkedInHolderEmail":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","ExcutionTimeStamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}"},"matchingColumns":[],"schema":[{"id":"TaskId","displayName":"TaskId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TaskMonth","displayName":"TaskMonth","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TaskYear","displayName":"TaskYear","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"LinkedInHolderName","displayName":"LinkedInHolderName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"LinkedInHolderEmail","displayName":"LinkedInHolderEmail","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ExcutionTimeStamp","displayName":"ExcutionTimeStamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[496,16],"id":"01a29f28-33be-4e94-9758-0da0df1a91c1","name":"Generate Topics For Each Day"},{"parameters":{"content":"### Generate Topics for Days ","height":976,"width":3088},"type":"n8n-nodes-base.stickyNote","position":[-1008,384],"typeVersion":1,"id":"18b6fad4-ec16-415d-ba50-9437b763fdab","name":"Sticky Note7"}],"connections":{"Mid Night Trigger to Create Posts":{"main":[[{"node":"Task Variable Design","type":"main","index":0}]]},"Task Variable Design":{"main":[[{"node":"Set Task Variables","type":"main","index":0}]]},"Set Task Variables":{"main":[[{"node":"Check If Task is already Executed for Month","type":"main","index":0}]]},"Check If Task is already Executed for Month":{"main":[[{"node":"Are Posts already Created?","type":"main","index":0}]]},"Are Posts already Created?":{"main":[[{"node":"Append The Log Into Logger: Already Done","type":"main","index":0}],[{"node":"Append The Log Into Logger: Not Generated, Post Generating","type":"main","index":0}]]},"Append The Log Into Logger: Already Done":{"main":[[{"node":"Set Email Template: Already Done","type":"main","index":0}]]},"Set Email Template: Already Done":{"main":[[{"node":"Inform LinkedIn Holder About Already Done Status","type":"main","index":0}]]},"Inform LinkedIn Holder About Already Done Status":{"main":[[]]},"Append The Log Into Logger: Not Generated, Post Generating":{"main":[[{"node":"Generate Topics For Each Day","type":"main","index":0}]]},"Trigger To generate Posts":{"main":[[{"node":"Get Days for Post","type":"main","index":0}]]},"Get Days for Post":{"main":[[{"node":"Iterate Over The Days","type":"main","index":0}]]},"Iterate Over The Days":{"main":[[{"node":"return","type":"main","index":0}],[{"node":"Loop Data","type":"main","index":0}]]},"Design Variables for the Day":{"main":[[{"node":"Topic For Day Already There?","type":"main","index":0}]]},"Get Generated Post Titles For this Month":{"main":[[{"node":"Design Array Of the Designed Topics For Month","type":"main","index":0}]]},"Design Array Of the Designed Topics For Month":{"main":[[{"node":"Design Variables for the Day","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Iterate Over The Days","type":"main","index":0}]]},"LLM To Generate the Topics":{"ai_languageModel":[[{"node":"Topic Designer","type":"ai_languageModel","index":0}]]},"Topic Designer":{"main":[[{"node":"Add LinkedIn Post Record In Sheet","type":"main","index":0}]]},"Add LinkedIn Post Record In Sheet":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Data":{"main":[[{"node":"Get Generated Post Titles For this Month","type":"main","index":0}]]},"Merge":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Topic For Day Already There?":{"main":[[{"node":"Get Existing Record","type":"main","index":0}],[{"node":"Topic Designer","type":"main","index":0}]]},"Get Existing Record":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Generate Topics For Each Day":{"main":[[{"node":"Append The Log Into Logger: Topics Are Generate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger To generate Posts":[{"json":{"TaskId":"0868cb89-a9b4-4785-a31c-fb99ac5f4ec9","TaskMonth":"July","TaskYear":"2025","LinkedInHolderName":"prasadsawant1618@gmail.com","LinkedInHolderEmail":"prasadsawant1618@gmail.com","ExcutionTimeStamp":"2025-07-27T23:20:52.399+05:30"}}]},"versionId":"89a7626f-db56-468f-95b0-e63626be3a8d","triggerCount":0,"tags":[]}