workflows/Generate LinkedIn Posts: Monthly.json
{"createdAt":"2025-07-19T04:51:44.398Z","updatedAt":"2025-07-29T14:12:08.000Z","id":"QLA2bp1pgKg6YnEA","name":"Generate LinkedIn Posts: Monthly","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-160],"id":"15fef2b1-8f50-4a27-ae0d-b05f97a7fd71","name":"Mid Night Trigger to Create Posts"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\ndef generate_uuid():\n    return str(uuid.uuid4())\n\n\nreturn {\n  \"task_id\":generate_uuid(),\n  \"month\":_input.first().json.Month,\n  \"year\":_input.first().json.Year\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,-160],"id":"108452ab-9ed9-42fe-b733-b1bcbb0d775b","name":"Task Variable Design"},{"parameters":{"assignments":{"assignments":[{"id":"770e80c5-455f-4556-8c88-77920a124b4a","name":"TaskId","value":"={{ $('Task Variable Design').item.json.task_id }}","type":"string"},{"id":"eb0e72d6-0b6d-48b0-b18e-478b9c380207","name":"TaskMonth","value":"={{ $('Task Variable Design').item.json.month }}","type":"string"},{"id":"e1165dd0-458d-451a-9e9e-f99001d27055","name":"TaskYear","value":"={{ $('Task Variable Design').item.json.year }}","type":"string"},{"id":"3aa41863-e31a-4316-9d68-19c1460080ce","name":"LinkedIn Holder Email","value":"prasadsawant1618@gmail.com","type":"string"},{"id":"d78e4834-afcf-4bab-80b5-2a143cf5778d","name":"LinkedIn Holder Name","value":"Prasad Sawant","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-160],"id":"df394b5d-1509-4a62-9950-a1e5a4bbf2e0","name":"Set Task Variables"},{"parameters":{"documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"filtersUI":{"values":[{"lookupColumn":"MonthYear","lookupValue":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}"},{"lookupColumn":"IsSucceed","lookupValue":"true"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,-160],"id":"839dc9be-5684-48df-9688-362775f3cd64","name":"Check If Task is already Executed for Month","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2a164d8-2d0a-48d8-a9d8-4f799eb959ff","leftValue":"={{ $('Check If Task is already Executed for Month').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-160],"id":"e9360d4f-a78d-48f1-9020-febfae7fbd61","name":"Are Posts already Created?"},{"parameters":{"content":"### Monthly Trigger\n\n1. This trigger executes on **1st of every Month** to create all Post for this month.\n2. It executes at **0.00 AM of 1st on every month**.\n","height":896,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1008,-640],"typeVersion":1,"id":"e448e88a-918b-450d-927a-e7c2dcb01492","name":"Sticky Note"},{"parameters":{"content":"### Task Variables\n\n1. In this part, The workflow sets the global variables like **TaskId**, **TaskMonth** and **TaskYear** ","height":896,"width":368,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-608,-640],"typeVersion":1,"id":"75fb01f4-b326-4e8f-abdd-946e43254d05","name":"Sticky Note1"},{"parameters":{"content":"### Checking If the Post are already designed for this month\n\n1. In this part, The workflow checks if the task is already executed for this month or not.\n2. It check the data in **\"Monthly Linked In Post Design Task Logs\"** sheet of drives **\"LinkedIn Post Data\"** googlesheet.\n3. Checks based on **\"Month-Year\"** and **\"IsSuccessed\"** flag.","height":896,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-224,-640],"typeVersion":1,"id":"a6fefd2c-9950-4af9-abaa-40ec67ae4809","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","MonthYear":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}","Timestamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}","StatusMessage":"=All the posts for Month \"{{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}\" are generated.\nWe didn't added or generated any New Post.","IsSucceed":"true"},"matchingColumns":[],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[256,-352],"id":"c2d7ae30-f3e8-4c9e-80ca-af0882f793ba","name":"Append The Log Into Logger: Already Done","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"### Informing LinkedIn Holder user Email\n\n1. In this part, The workflow inform LinkedIn Holder that the **'The Task Is already done for  this Month.'**","height":480,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[192,-640],"typeVersion":1,"id":"d25b47c3-48f2-4276-a052-0f5b4a4d9b70","name":"Sticky Note3"},{"parameters":{"content":"### Designing Email Template\n\n1. In this part, we are designing the email template.","height":480,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[416,-640],"typeVersion":1,"id":"2a506021-add4-4bdf-8e7a-b602604970e4","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"0cda0556-9b8b-4ec1-a187-565ffcd6447e","name":"subject","value":"= LinkedIn Posts for \"{{ $('Set Task Variables').item.json.TaskMonth}}-{{ $('Set Task Variables').item.json.TaskYear}}\" Month Already Designed","type":"string"},{"id":"9af72325-79eb-4445-9b50-7996e42210c8","name":"body","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>LinkedIn Posts Status</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; color: #333333; line-height: 1.6;\">\n  <p>Hi {{ $('Set Task Variables').item.json['LinkedIn Holder Name'] }},</p>\n\n  <p>\n    I wanted to inform you that all the LinkedIn posts for \n    <strong>{{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}</strong> month have already been designed and are ready.\n    No further action is needed from the design side at this point.\n  </p>\n\n  <p>\n    Please let me know if you'd like me to review or schedule them as the next step.\n  </p>\n\n  <p>Best regards,<br>\n  <strong>N8N Workflow Automation</strong><br>\n  <a href=\"https://portfolio.prasadsawant.com\" target=\"_blank\">portfolio.prasadsawant.com</a>\n  </p>\n</body>\n</html>\n","type":"string"},{"id":"d0fe132d-6733-4111-898b-26c78794d0df","name":"to","value":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-352],"id":"bcf983ce-b758-4215-828a-1cd7b4f3578f","name":"Set Email Template: Already Done"},{"parameters":{"content":"### Designing Email Template\n\n1. In this part, we are designing the email template.","height":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[640,-640],"typeVersion":1,"id":"254fc4d3-7ddd-4c62-b201-39a74521671c","name":"Sticky Note5"},{"parameters":{"sendTo":"={{ $json.to }}","subject":"={{ $json.subject }}","message":"={{ $json.body }}","options":{"appendAttribution":false,"senderName":"LinkedIn Automation Team"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,-352],"id":"3ef26d6f-769d-4daa-a941-1de01fbdc7d7","name":"Inform LinkedIn Holder About Already Done Status","webhookId":"0c28307e-7dd0-4439-abbe-a195fe7e66f1","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"### Generate Topic For Selected Days","height":400,"width":688},"type":"n8n-nodes-base.stickyNote","position":[192,-144],"typeVersion":1,"id":"0933e849-7e62-4de3-a1a7-5c1518b0289f","name":"Sticky Note6"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","MonthYear":"={{ $('Set Task Variables').item.json.TaskMonth }}-{{ $('Set Task Variables').item.json.TaskYear }}","Timestamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}","StatusMessage":"Trigger is Started, All Log of Task is Adding into sheet.","IsSucceed":"false"},"matchingColumns":[],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,16],"id":"0fcc94a9-5656-4b5f-8cee-b6095b39b4b9","name":"Append The Log Into Logger: Not Generated, Post Generating","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM","mode":"list","cachedResultName":"Linked Post Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1195462519,"mode":"list","cachedResultName":"Monthly Linked In Post Design Task Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EE-geUy2_qjxDosy-yIRHgkdkRwsOUqzDVc_9Nb2jZM/edit#gid=1195462519"},"columns":{"mappingMode":"defineBelow","value":{"Id":"={{ $('Set Task Variables').item.json.TaskId }}","StatusMessage":"=All Topics for total \"{{ $json.loop_response.length }}\" days generated and added."},"matchingColumns":["Id"],"schema":[{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MonthYear","displayName":"MonthYear","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"StatusMessage","displayName":"StatusMessage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSucceed","displayName":"IsSucceed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,16],"id":"3112f71a-9755-4e98-b4e3-b11bbd108c42","name":"Append The Log Into Logger: Topics Are Generate","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"workflowId":{"__rl":true,"value":"cx1CiJfd2nXIywOY","mode":"list","cachedResultName":"LinkedIn: Post Title Generator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"TaskId":"={{ $('Set Task Variables').item.json.TaskId }}","TaskMonth":"={{ $('Set Task Variables').item.json.TaskMonth }}","TaskYear":"={{ $('Set Task Variables').item.json.TaskYear }}","LinkedInHolderName":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","LinkedInHolderEmail":"={{ $('Set Task Variables').item.json['LinkedIn Holder Email'] }}","ExcutionTimeStamp":"={{ $('Mid Night Trigger to Create Posts').item.json.timestamp }}"},"matchingColumns":[],"schema":[{"id":"TaskId","displayName":"TaskId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TaskMonth","displayName":"TaskMonth","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"TaskYear","displayName":"TaskYear","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"LinkedInHolderName","displayName":"LinkedInHolderName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"LinkedInHolderEmail","displayName":"LinkedInHolderEmail","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ExcutionTimeStamp","displayName":"ExcutionTimeStamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[496,16],"id":"01a29f28-33be-4e94-9758-0da0df1a91c1","name":"Generate Topics For Each Day"}],"connections":{"Mid Night Trigger to Create Posts":{"main":[[{"node":"Task Variable Design","type":"main","index":0}]]},"Task Variable Design":{"main":[[{"node":"Set Task Variables","type":"main","index":0}]]},"Set Task Variables":{"main":[[{"node":"Check If Task is already Executed for Month","type":"main","index":0}]]},"Check If Task is already Executed for Month":{"main":[[{"node":"Are Posts already Created?","type":"main","index":0}]]},"Are Posts already Created?":{"main":[[{"node":"Append The Log Into Logger: Already Done","type":"main","index":0}],[{"node":"Append The Log Into Logger: Not Generated, Post Generating","type":"main","index":0}]]},"Append The Log Into Logger: Already Done":{"main":[[{"node":"Set Email Template: Already Done","type":"main","index":0}]]},"Set Email Template: Already Done":{"main":[[{"node":"Inform LinkedIn Holder About Already Done Status","type":"main","index":0}]]},"Inform LinkedIn Holder About Already Done Status":{"main":[[]]},"Append The Log Into Logger: Not Generated, Post Generating":{"main":[[{"node":"Generate Topics For Each Day","type":"main","index":0}]]},"Generate Topics For Each Day":{"main":[[{"node":"Append The Log Into Logger: Topics Are Generate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Mid Night Trigger to Create Posts":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6aa11908-525a-4e31-bb43-f0f54562e4ed","triggerCount":1,"shared":[{"createdAt":"2025-07-19T04:51:44.409Z","updatedAt":"2025-07-19T04:51:44.409Z","role":"workflow:owner","workflowId":"QLA2bp1pgKg6YnEA","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}