workflows/Get Charts.json
{"createdAt":"2025-07-25T08:50:12.905Z","updatedAt":"2025-07-26T07:29:47.000Z","id":"4fu0HVxOXP3PdrO9","name":"Get Charts","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userRequest"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,352]},{"parameters":{"promptType":"define","text":"={{ $json.userRequest }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant who return a stringified chart query required for quickchart\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[480,352],"id":"77313036-168a-435e-9e5b-cc4d2d9a20ec","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[352,560],"id":"f9575924-a9df-4077-b0f5-c9bae78e8ca8","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[544,640],"id":"2ad81620-4650-44b1-ba23-2e25840f63a2","name":"Auto-fixing Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[464,848],"id":"4cbe3fde-d039-432d-9ffd-fbff999b3c98","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"labels\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"],\n\t\"data\": [10, 20, 30]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[656,832],"id":"5e98a2e5-d915-4b1c-9a99-7f52ce20e473","name":"Structured Output Parser"},{"parameters":{"language":"python","pythonCode":"import urllib.parse\n\nchart_config = chart_config = {\n  \"type\": \"bar\",\n  \"data\": {\n    \"labels\": [\"A\", \"B\", \"C\"],\n    \"datasets\": [{\"label\": \"Series 1\", \"data\": [10, 20, 30]}]\n  }\n}\n\nimport json\nurl = \"<img src=\\\"https://quickchart.io/chart?c=\" + urllib.parse.quote(json.dumps(chart_config)) + \"\\\" />\"\nprint(url)\nreturn {\"img\":url}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,192],"id":"d799dc81-fab6-45a3-b0aa-35f5b33251e3","name":"Code"},{"parameters":{"inputText":"=user Request: {{ $('When Executed by Another Workflow').item.json.userRequest }}\ndata:{{ $json.output.toJsonString() }}","categories":{"categories":[{"category":"bar chart","description":"Data is related to barchart"},{"category":"Pie Chart","description":"Data is related to Pie Chart"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[896,288],"id":"507ac311-a006-4c7b-ab9e-805c854a65fc","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[896,512],"id":"49a3df08-b1a2-4492-b4ec-1665dcaf651d","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"language":"python","pythonCode":"import urllib.parse\n\nchart_config = chart_config = {\n  \"type\": \"pie\",\n  \"data\": {\n    \"labels\": [\"A\", \"B\", \"C\"],\n    \"datasets\": [{\"label\": \"Series 1\", \"data\": [10, 20, 30]}]\n  }\n}\n\nimport json\nurl = \"https://quickchart.io/chart?c=\" + urllib.parse.quote(json.dumps(chart_config))\nprint(url)\nreturn {\"img\":url}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,432],"id":"e094a7e2-2de6-4549-b1be-2d8c9f118656","name":"Code1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"userRequest":"a bar chart with dummy data"}}]},"versionId":"2c613ed8-b82a-4276-b901-adaa65aa6384","triggerCount":0,"tags":[]}