workflows/Github Project Generator.json
{"createdAt":"2025-09-19T16:39:47.215Z","updatedAt":"2025-09-19T16:52:50.000Z","id":"B1f35TCA2KRjatOU","name":"Github Project Generator","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"repository","operation":"get","owner":{"__rl":true,"value":"PrasadRSawant","mode":"name"},"repository":{"__rl":true,"value":"Resume-Tailor","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-384,-48],"id":"75c9c500-a8f2-4de6-be02-d17f5d316b98","name":"Get a repository","webhookId":"d0ac5e07-48c4-4dc8-8047-9555a5ee0dfb","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-176,-48],"id":"04d90241-99f7-444e-9f8b-6a94089b648e","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-320,160],"id":"67f7deff-8ea5-47e3-b0ce-ef92997597f6","name":"Groq Chat Model","credentials":{"groqApi":{"id":"qfg4IRTFYATnvhGV","name":"Groq account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Get a repository').item.json.owner.login }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Get a repository').item.json.name }}","mode":"name"},"filePath":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","binaryData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Binary_File', ``, 'boolean') }}","fileContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}","commitMessage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"},"type":"n8n-nodes-base.githubTool","typeVersion":1.1,"position":[-128,192],"id":"94e8a3f5-f713-4f78-9b1d-2cdf50686b37","name":"Create a file in GitHub","webhookId":"e28c43cc-bfab-49d3-8b54-d48fd61de181","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-608,-48],"id":"77f83e34-8d2c-4755-b08e-5163504e7b3c","name":"When chat message received","webhookId":"b9daf945-461a-424c-84cc-f34b355a09d9"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Get a repository').item.json.owner.login }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Get a repository').item.json.name }}","mode":"name"},"filePath":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","binaryData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Binary_File', ``, 'boolean') }}","commitMessage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"},"type":"n8n-nodes-base.githubTool","typeVersion":1.1,"position":[16,192],"id":"b38cf948-2053-4d29-a3d1-a02967ffaa04","name":"Edit a file in GitHub","webhookId":"de12f507-d44b-46e1-919b-eef5b876a7f9","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"={{ $('Get a repository').item.json.owner.login }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Get a repository').item.json.name }}","mode":"name"},"filePath":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","commitMessage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"},"type":"n8n-nodes-base.githubTool","typeVersion":1.1,"position":[144,192],"id":"c7e9f253-c2a4-48c4-bc8b-53e997569135","name":"Delete a file in GitHub","webhookId":"38512505-8101-4ced-b935-7fee5fb5e800","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}}],"connections":{"Get a repository":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Create a file in GitHub":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Get a repository","type":"main","index":0}]]},"Edit a file in GitHub":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete a file in GitHub":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd364b4c-0df6-47e3-8f0a-14a39fbbbdb1","triggerCount":0,"shared":[{"createdAt":"2025-09-19T16:39:47.218Z","updatedAt":"2025-09-19T16:39:47.218Z","role":"workflow:owner","workflowId":"B1f35TCA2KRjatOU","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}