workflows/Google Search Engine Results Page Extraction and Summarization with Bright Data.json
{"createdAt":"2025-09-17T14:53:15.847Z","updatedAt":"2025-09-17T14:55:26.000Z","id":"GkOe6GoxC2lW3b6H","name":"Google Search Engine Results Page Extraction and Summarization with Bright Data","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"c40156b9-b7ba-449b-8362-f8b8cd27a36d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"d98ae28e-a94f-43a1-9bfe-362adbc61c69","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1136,448],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"options":{}},"id":"984acfe6-acd7-4817-b2d5-6d2aab511bae","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1488,240],"typeVersion":2},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"6b5e26bf-8802-40d4-bc44-62c086c00f7c","name":"Google Gemini Chat Model For Summarization","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1488,432],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"1669f59a-eff8-41ad-a6eb-758eec7ed74a","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1792,480],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"toolDescription":"Extract the response and format a structured JSON response","method":"POST","url":"https://webhook.site/ce41e056-c097-48c8-a096-9b876d3abbf7","sendBody":true,"parametersBody":{"values":[{"name":"search_summary","valueProvider":"fieldValue","value":"={{ $json.response.text }}"},{"name":"search_result"}]}},"id":"ad6c4a15-13e0-49fa-9048-bc1838ba0ef9","name":"Webhook HTTP Request","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2128,480],"typeVersion":1.1},{"parameters":{"content":"## Bright Data Google Search SERP (Search Engine Results Page)\n\nDeals with the Google Search using the Bright Data Web Scraper API.\n\nThe Information Extraction, Summarization and AI Agent are being used to demonstrate the usage of the N8N AI capabilities.\n\n**Please make sure to Set the Google Search Query and update the Webhook Notification URL**","height":300,"width":400},"id":"dc5985c2-02cd-47d0-b518-8dc9d8302998","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[400,-96],"typeVersion":1},{"parameters":{"content":"## LLM Usages\n\nGoogle Gemini Flash Exp model is being used.\n\nGoogle Search Data Extractor using the n8n Infromation Extractor node.\n\nSummarization Chain is being used for the summarization of search results.\n\nThe AI Agent formats the search result and pushes it to the Webhook via HTTP Request","height":300,"width":480},"id":"38b1a20b-9d62-45d9-9399-0b927a6e882a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[896,-96],"typeVersion":1},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"textual_response","description":"Textual Response"}]},"options":{"systemPromptTemplate":"You are an expert HTML extractor. Your job is to analyze the search result and \nstrip out the html, css, scripts and produce a textual data."}},"id":"3019d6eb-cf84-43fd-bb98-f7eed6c9c75f","name":"Google Search Data Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1136,240],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.brightdata.com/request","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"sendBody":true,"bodyParameters":{"parameters":[{"name":"zone","value":"={{ $json.zone }}"},{"name":"url","value":"=https://www.google.com/search?q={{ encodeURI($json.search_query) }}"},{"name":"format","value":"raw"}]},"options":{}},"id":"e82e62cf-6618-405a-943f-d2933771e051","name":"Perform Google Search Request","type":"n8n-nodes-base.httpRequest","position":[896,240],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"3ZG7tU0bL2fB7ck5","name":"SerpApi"}}},{"parameters":{"promptType":"define","text":"=You are an expert Google Search Expert. You need to format the search result  and push it to the Webhook via HTTP Request. Here is the search result - {{ $('Google Search Data Extractor').item.json.output.textual_response }}","options":{}},"id":"0d4baa4c-4f6d-4bb2-8964-73d9cf2a391c","name":"Google Search Expert AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1856,240],"typeVersion":1.8},{"parameters":{"assignments":{"assignments":[{"id":"3aedba66-f447-4d7a-93c0-8158c5e795f9","name":"search_query","type":"string","value":"Bright Data"},{"id":"4e7ee31d-da89-422f-8079-2ff2d357a0ba","name":"zone","type":"string","value":"serp_api1"}]},"options":{}},"id":"433d4369-f750-40bd-8e46-8368f535e99f","name":"Set Google Search Query","type":"n8n-nodes-base.set","position":[608,240],"typeVersion":3.4}],"connections":{"Summarization Chain":{"main":[[{"node":"Google Search Expert AI Agent","type":"main","index":0}]]},"Webhook HTTP Request":{"ai_tool":[[{"node":"Google Search Expert AI Agent","type":"ai_tool","index":0}]]},"Set Google Search Query":{"main":[[{"node":"Perform Google Search Request","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Google Search Data Extractor","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Google Search Expert AI Agent","type":"ai_languageModel","index":0}]]},"Google Search Data Extractor":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Google Search Expert AI Agent":{"main":[[]]},"Perform Google Search Request":{"main":[[{"node":"Google Search Data Extractor","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Google Search Query","type":"main","index":0}]]},"Google Gemini Chat Model For Summarization":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"3533"},"pinData":{},"versionId":"4822660b-4e96-47f8-9ddf-7f9ec719a1b4","triggerCount":0,"shared":[{"createdAt":"2025-09-17T14:53:15.852Z","updatedAt":"2025-09-17T14:53:15.852Z","role":"workflow:owner","workflowId":"GkOe6GoxC2lW3b6H","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}