workflows/Google News Search.json
{"updatedAt":"2026-04-24T06:14:11.000Z","createdAt":"2026-04-06T16:54:01.184Z","id":"FbKQGasFFA0KcJj2","name":"Google News Search","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"topicForGoogleSearch\": \"a string\",\n  \"top\":10\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"operation":"google_news","q":"={{ $json.topicForGoogleSearch }}","additionalFields":{"gl":"in"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[480,352],"id":"577988ee-a9c2-4ba8-8a18-335f4b968ba5","name":"Google_news search","credentials":{"serpApi":{"id":"pVudKXp1RhN5Rxes","name":"SerpApi account 2"}}},{"parameters":{"jsCode":"const newsArray = $input.first().json.news_results;\nconst responseArray = [];\nlet counter = 1;\nlet top = $('When Executed by Another Workflow').first().json.top;\nfor (const news of newsArray) {\n  if (counter >= top) {\n    break\n  }\n  responseArray.push({\n    title: news.title,\n    sourceName:news.source.name,\n    link: news.link,\n    date:news.date,\n    isoDate:news.iso_date\n  });\n  counter++;\n}\n\nreturn responseArray;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,352],"id":"e698bec1-c54e-4e9f-844f-7a73e1757e67","name":"Code in JavaScript"},{"parameters":{"dataTableId":{"__rl":true,"value":"al7B0bCAoc90Y21a","mode":"list","cachedResultName":"Silver ETF News","cachedResultUrl":"/projects/jYp8xiWttkK2cWvC/datatables/al7B0bCAoc90Y21a"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","sourceName":"={{ $json.sourceName }}","link":"={{ $json.link }}","isoDate":"={{ $json.isoDate }}","date":"={{ $json.date }}","SearchKeywords":"={{ $('When Executed by Another Workflow').item.json.topicForGoogleSearch }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"sourceName","displayName":"sourceName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"isoDate","displayName":"isoDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"SearchKeywords","displayName":"SearchKeywords","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[896,352],"id":"4a5df914-fd1b-4412-a322-927f1d5b9457","name":"Insert row"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Google_news search","type":"main","index":0}]]},"Google_news search":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"topicForGoogleSearch":"Silver related news","top":10}}]},"versionId":"d2ea4898-47f0-4137-a4fb-4d3bdd400601","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-06T16:54:01.189Z","createdAt":"2026-04-06T16:54:01.189Z","role":"workflow:owner","workflowId":"FbKQGasFFA0KcJj2","projectId":"jYp8xiWttkK2cWvC"}],"activeVersion":null,"tags":[]}