workflows/Hire Lens.json
{"updatedAt":"2025-12-01T15:10:17.000Z","createdAt":"2025-12-01T14:43:52.738Z","id":"oDwj8pJmlahrAj9i","name":"Hire Lens","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Hire Lense","formDescription":"AI Based Candidate Registration","formFields":{"values":[{"fieldLabel":"Resume","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-464,-48],"id":"7194237e-096a-4826-b603-ebbc340fc13c","name":"On form submission","webhookId":"9ad0a2e2-5e37-4b88-a030-c6111f43adf8"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"=Find below Data from the given Resume\n{\n  \"isResume\":true,\n  \"CandidateName\":\"Nameof The candidate\",\n  \"skills\":[\n    {\n      \"skillCategory\":\"SoftSkill/Technical Skill/Management Skills\",\n      \"SkillName\":\"Good COmmunication/C++/Leadership\"\n    }\n  ],\n  \"education\":[\n    {\n      \"level\":\"SSC\",\n      \"Collage\":\"Collage Name\",\n      \"GradeOrPercent\":\"98/9.5/A\"\n    }\n  ]\n}","inputType":"binary","binaryPropertyName":"Resume","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-288,-48],"id":"4ba70a57-59df-4577-8c39-5ecbbbe4b4f3","name":"Analyze document","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{"promptType":"define","text":"={{ $json.content.parts[0].text }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-128,-48],"id":"3e32d7ee-ed16-4067-819d-83111e36b6ea","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"isResume\":true,\n  \"CandidateName\":\"Nameof The candidate\",\n  \"skills\":[\n    {\n      \"skillCategory\":\"SoftSkill/Technical Skill/Management Skills\",\n      \"SkillName\":\"Good COmmunication/C++/Leadership\"\n    }\n  ],\n  \"education\":[\n    {\n      \"level\":\"SSC\",\n      \"Collage\":\"Collage Name\",\n      \"GradeOrPercent\":\"98/9.5/A\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[16,160],"id":"a6462ee5-b64f-4832-8146-3c49d22e1bbb","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,160],"id":"0f41215f-9db1-4f11-b765-7e70163a9f7a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"kM7gapkA48zTv74z","name":"Paid"}}},{"parameters":{"inputText":"={{ $('Analyze document').item.json.content.parts[0].text }}","categories":{"categories":[{"category":"AI Candidate","description":"falls in this if candidate has AI Related Skills"},{"category":"Web Developer","description":"falls in this if candidate has Web Development Related Skills"},{"category":"Finance","description":"falls in this if candidate has Finance Related Skills"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[160,-64],"id":"7c453898-483e-42bc-ae3b-965e5b04823d","name":"Text Classifier"},{"parameters":{"promptType":"define","text":"={{ $('Analyze document').item.json.content.parts[0].text }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant, \nWhich job Is suitable for this candidate?\n1. Senior Web Developer\n2. Web Dev Intern\n3. Junior Web Developer"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[528,-48],"id":"f8e23ce8-cb63-4fb3-b56f-71d2aa4b0376","name":"AI Agent1"},{"parameters":{"jsonSchemaExample":"{\n\t\"JobRole\": \"Role candidate applied for\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[704,160],"id":"73fb9dbf-3437-44a8-bbb1-b8bbce2628aa","name":"Structured Output Parser1"},{"parameters":{"jsCode":"\nreturn {\n  candidateName: $('AI Agent').first().json.output.CandidateName,\n  appliedFor:$input.first().json.output.JobRole\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-48],"id":"81b2d600-a6cf-4622-a2af-71ec576135b9","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"={{ $('Analyze document').item.json.content.parts[0].text }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant, \nWhich job Is suitable for this candidate?\n1. Senior AI Engineer\n2. AI Dev Intern\n3. Junior AI Engineer"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[544,-400],"id":"99e9a40d-abd2-4e2b-92ab-dc031758507f","name":"AI Agent2"},{"parameters":{"jsonSchemaExample":"{\n\t\"JobRole\": \"Role candidate applied for\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[720,-192],"id":"27bce495-10f3-4b55-b80b-5156a6331449","name":"Structured Output Parser2"},{"parameters":{"jsCode":"\nreturn {\n  candidateName: $('AI Agent').first().json.output.CandidateName,\n  appliedFor:$input.first().json.output.JobRole\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-400],"id":"57c08754-f1a1-46ca-8b80-0cb4cb4ed626","name":"Code in JavaScript1"}],"connections":{"On form submission":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0},{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f9bfb82-a484-4923-971e-16f6c7ad2759","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T14:43:52.749Z","createdAt":"2025-12-01T14:43:52.749Z","role":"workflow:owner","workflowId":"oDwj8pJmlahrAj9i","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}