workflows/Invite Sender.json
{"updatedAt":"2025-11-25T15:32:59.000Z","createdAt":"2025-11-23T07:20:09.137Z","id":"fCrPBAAMiTEKJ1Y5","name":"Invite Sender","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[512,0],"id":"74855aca-fa2c-47f5-929e-e1c67db25f00","name":"Response to Request"},{"parameters":{"jsCode":"return {\n  \"status\":true\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-96],"id":"c11179d8-390c-4a8a-a583-7f12953dcbe4","name":"Success"},{"parameters":{"httpMethod":"POST","path":"send-data-collection-invite-email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"id":"d39e5d6d-3174-4ead-ae37-5e79c997378b","name":"Receive Email Request","webhookId":"52a0076e-6459-47d9-b383-6fe5ab9a4bf1"},{"parameters":{"sendTo":"={{ $json.body.email }}","subject":"Invite to Contribute in our research for Data Collection","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Research Data Collection</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333333;\">\n\n    <div style=\"max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #dddddd; border-radius: 8px;\">\n        \n        <h2 style=\"color: #0056b3;\">Request for Participation: Student Performance Analysis Survey</h2>\n        \n        <p>Dear <b>{{ $json.body.email }}</b>,</p>\n\n        <p>\n            I am Prajakta Sawant, an MCA Student conducting a research project on <b>\"Student Performance Analysis for Academic Improvement.\"</b>\n        </p>\n        \n        <p>\n            We kindly request your participation in this important study by completing a brief online questionnaire. The data collected is <b>essential</b> for understanding factors that influence academic performance and developing effective recommendations.\n        </p>\n\n        <p style=\"font-style: italic; color: #555555;\">\n            Please be assured that all responses will be kept strictly <b>confidential</b> and used solely for the purpose of this academic research.\n        </p>\n        \n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 0;\">\n                    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                        <tr>\n                            <td align=\"center\" style=\"border-radius: 5px;\" bgcolor=\"#007bff\">\n                                <a href=\"{{ $json.body.link }}\" target=\"_blank\" style=\"font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; padding: 12px 25px; border: 1px solid #007bff; display: inline-block; font-weight: bold;\">\n                                    Start the Questionnaire\n                                </a>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n\n        <p>Your valuable input is highly appreciated and will contribute significantly to this research.</p>\n        \n        <p>\n            Thank you for your time and cooperation.<br>\n            Best regards,<br>\n            Prajakta Sawant<br>\n            MCA Student<br>\n            sawantprajakta1616@gmail.com\n        </p>\n        \n    </div>\n\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"Prajakta Sawant"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-112,0],"id":"602c16ec-d09a-4f34-bb55-fe0e4049bfff","name":"Send a message to invitee","webhookId":"0e65e418-fd5f-4c03-9550-841585be5657","credentials":{"gmailOAuth2":{"id":"oJd00PXpJ8PYn1fO","name":"Prajakta Gmail"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  \"status\":false\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,256],"id":"6dcd6978-9558-4824-a6f1-692b04bc2f64","name":"Error to send Email"},{"parameters":{"content":"### HTTPs Post Request for Email Service\n\nThis node responsible to accept the request for email","height":656,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-512,-256],"typeVersion":1,"id":"2dd90c7b-5864-4a6d-83f0-6a8324a442ec","name":"Sticky Note"},{"parameters":{"content":"### Gmail Node\n\nThis node responsible to Send the email to user","height":656,"width":288,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-208,-256],"typeVersion":1,"id":"582fe111-f6c1-46fd-a71a-4e7336f3f838","name":"Sticky Note1"},{"parameters":{"content":"### Email Success\n","height":320,"width":288,"color":4},"type":"n8n-nodes-base.stickyNote","position":[96,-256],"typeVersion":1,"id":"3d10c98c-d291-4b3a-8cfb-4169e27145a2","name":"Sticky Note2"},{"parameters":{"content":"### Email Failed","height":320,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[96,80],"typeVersion":1,"id":"c2c3d9a7-7c9c-41af-a6d9-fe661d5a7d29","name":"Sticky Note3"},{"parameters":{"content":"### Response to https\n","height":656,"width":288},"type":"n8n-nodes-base.stickyNote","position":[400,-256],"typeVersion":1,"id":"6f310be6-f484-4d3b-8c5b-71e3fb9e29f6","name":"Sticky Note4"}],"connections":{"Success":{"main":[[{"node":"Response to Request","type":"main","index":0}]]},"Receive Email Request":{"main":[[{"node":"Send a message to invitee","type":"main","index":0}]]},"Send a message to invitee":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Error to send Email","type":"main","index":0}]]},"Error to send Email":{"main":[[{"node":"Response to Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e0782ed-3364-4366-99e7-ec97ce9ba761","triggerCount":1,"shared":[{"updatedAt":"2025-11-23T07:20:09.151Z","createdAt":"2025-11-23T07:20:09.151Z","role":"workflow:owner","workflowId":"fCrPBAAMiTEKJ1Y5","projectId":"Y8wSBEGBIlIwgMOi"}],"tags":[]}