workflows/Kangaroo_Get Workflow Folder Data_PS.json
{"createdAt":"2025-10-08T09:59:32.650Z","updatedAt":"2025-10-08T10:52:06.000Z","id":"wu2efIgQUmdvfSTA","name":"Kangaroo_Get Workflow Folder Data_PS","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"agencyId"},{"name":"token"},{"name":"userId"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"url":"https://kangarooapi.vskyapplications.com/workflow-folders/list","sendQuery":true,"queryParameters":{"parameters":[{"name":"agencyId","value":"={{ $json.agencyId }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,352],"id":"7f1a3cf6-01bf-486f-aa75-8e9f26a4c65a","name":"Get Request for Folder","alwaysOutputData":true},{"parameters":{"jsCode":"const data = $('Get Request for Folder').all()\nconst returnData = data.map(e=>{\n  return {\n    id:e.json.id,\n    name:e.json.folderName\n  }\n})\n\nreturn returnData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,352],"id":"e05a977a-118d-43cd-8381-9b0772791bae","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Request for Folder","type":"main","index":0}]]},"Get Request for Folder":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"agencyId":"64849a38-d084-4c22-ae11-252fbf4c8747","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJBMDQ4QzEwNC00RTRFLTQzMDgtOEVERS0yRkM2ODUyQ0I3N0IiLCJ1bmlxdWVfbmFtZSI6IkFkbWluIiwianRpIjoiNTlkMGZhZjItNjBmMC00OTZiLThjN2UtMmViNGU2MzAyMjA0IiwiaWF0IjoxNzU5OTE4MzM1LCJlbWFpbCI6ImFkbWluQG1lbGRlcC5jb20iLCJpc3MiOiJodHRwczovL215d2ViYXBpLmNvbSIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlN1cGVyIEFkbWluIiwibmJmIjoxNzU5OTE4MzM0LCJleHAiOjE3NjI1MTAzMzQsImF1ZCI6Imh0dHBzOi8vbXl3ZWJhcGkuY29tIn0.EFwFN0LzfFCx4mYPI_bHiDD4Suz0ALDpDrhJZavPkno","userId":"A048C104-4E4E-4308-8EDE-2FC6852CB77B"}}]},"versionId":"e465adb5-bbbb-4d10-aed0-32260cba9b98","triggerCount":0,"shared":[{"createdAt":"2025-10-08T09:59:32.653Z","updatedAt":"2025-10-08T09:59:32.653Z","role":"workflow:owner","workflowId":"wu2efIgQUmdvfSTA","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}