workflows/Kangaroo_Sumit_workflow.json
{"updatedAt":"2025-10-08T13:58:05.000Z","createdAt":"2025-10-08T12:53:12.940Z","id":"p1cAfBkJRXrHHxQr","name":"Kangaroo_Sumit_workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"userId"},{"name":"token"},{"name":"agencyId"},{"name":"should_submit","type":"boolean"},{"name":"sessionId"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"kangaroo_states","mode":"list","cachedResultName":"kangaroo_states"},"limit":1,"where":{"values":[{"column":"session_id","value":"={{ $json.sessionId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,352],"id":"4f9aea12-b8fb-4be9-b333-be4df3b1766b","name":"Select rows from a table","credentials":{"postgres":{"id":"P8ta1vGMGbrIOFm2","name":"Postgres:N8NDataExtractionDB"}}},{"parameters":{"jsCode":"const fields = {\n  FolderId: 'string',\n  AgencyId: 'string',\n  Name: 'string',\n  Type: 'A',\n  WebhookURL: 'AITesting',\n  TriggerCategoriesName: 'string',\n  TriggerCategoryId: 'string',\n  TriggerTypeId: 'string',\n  TriggerTypesConditionsFilterId: 'string',\n  TriggerTypeName: 'string',\n  FilterValue: 'string',\n  UserId: 'string',\n  TouchpointStatus: 'string',\n  ClientBirthDate: 'string',\n\n  // Array fields\n  IncludeLOBCodeIds: 'array',\n  LOBCategoryIds: 'array',\n  TriggerTypesConditionIds: 'array',\n  ExcludeLOBCodeIds: 'array',\n  CarrierIds: 'array',\n  AgentIds: 'array',\n  CSRIds: 'array',\n  ExcludeTagIds: 'array',\n  IncludeTagIds: 'array'\n};\n\nconst input = $input.first().json;\n\nif (input?.state?.folder?.id) {\n  fields.FolderId = input.state.folder.id;\n}\nif (input?.state?.agency?.id) {\n  fields.AgencyId = input.state.agency.id;\n}\nif (input?.state?.name?.name) {\n  fields.Name = input.state.name.name;\n}\nif (input?.state?.category) {\n  fields.TriggerCategoriesName = input.state.category.name;\n  fields.TriggerCategoryId = input.state.category.id;\n}\nif (input?.state?.type) {\n  fields.TriggerTypeId = input.state.type.id;\n  fields.TriggerTypeName = input.state.type.name;\n}\nif (input?.state?.include_tags?.selected_options?.length) {\n  fields.IncludeTagIds = input.state.include_tags.selected_options.map(e => e.id);\n}\nif (input?.state?.exclude_tags?.selected_options?.length) {\n  fields.ExcludeTagIds = input.state.exclude_tags.selected_options.map(e => e.id);\n}\nif (input?.state?.condition?.selected_options?.length) {\n  fields.TriggerTypesConditionIds = input.state.condition.selected_options.map(e => e.id);\n}\n\n// ✅ Remove default placeholder values\nconst cleanedFields = Object.fromEntries(\n  Object.entries(fields).filter(([key, value]) => {\n    if (value === 'string' || value === 'array') return false; // remove defaults\n    if (Array.isArray(value) && value.length === 0) return false; // remove empty arrays\n    return true; // keep only meaningful values\n  })\n);\n\nreturn { fields: cleanedFields };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,352],"id":"8a63b699-720e-49eb-b254-59bf0a4ff2e0","name":"Payload"},{"parameters":{"method":"POST","url":"https://kangarooapi.vskyapplications.com/workflows","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ $json.fields.toJsonString() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('When Executed by Another Workflow').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,352],"id":"adbe1dc7-1e76-40d4-93f3-fb37fc57a33a","name":"create_workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Payload","type":"main","index":0}]]},"Payload":{"main":[[{"node":"create_workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84c6a2c5-4cd0-4541-aec3-f7c219249e07","triggerCount":0,"shared":[{"updatedAt":"2025-10-08T12:53:12.946Z","createdAt":"2025-10-08T12:53:12.946Z","role":"workflow:owner","workflowId":"p1cAfBkJRXrHHxQr","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}