workflows/Maconomy Documentaion Rag System.json
{"updatedAt":"2026-01-19T13:50:38.000Z","createdAt":"2025-09-20T11:29:10.734Z","id":"hpL4qwIoVJNOme3a","name":"Maconomy Documentaion Rag System","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"RAG Emedder","formFields":{"values":[{"fieldLabel":"Files","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-400,-48],"id":"6bdcf4eb-8bd1-463d-b553-6b055a3caeb8","name":"On form submission","webhookId":"dc2854c2-f325-47ec-94ed-06c817299c7b","disabled":true},{"parameters":{"operation":"completion","completionTitle":"Done","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[176,-48],"id":"b81fa69d-8239-42ce-96a3-36f4567c13bc","name":"Form","webhookId":"88abde53-5faa-443f-abf4-fe1118922b2e","disabled":true},{"parameters":{"mode":"insert","tableName":"maconomy_documentation_embeddings","embeddingBatchSize":400,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-192,-48],"id":"e457ca31-c613-4e84-b05a-647f8c77bcd0","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-224,160],"id":"7dd897ed-b7ba-4420-83ec-be95a3cee3a4","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}},"disabled":true},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-64,160],"id":"324999ef-3398-46b6-b6f2-cf2f629c891e","name":"Default Data Loader","disabled":true},{"parameters":{"promptType":"define","text":"=User query is :\"{{ $json.chatInput }}\"\n\nUse Attched Vector embedding tool to get relevent informationa nd answer the user query","options":{"systemMessage":"=You are a retrieval-augmented assistant. Always use the provided context from retrieved documents to answer user queries. Ground your responses in the retrieved knowledge, and if the context does not contain the answer, clearly state that. Do not fabricate information. Maintain clarity, accuracy, and professionalism. Cite or reference the source document when possible."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-192,416],"id":"e477b77c-1e3f-4f98-b24d-d8215c61184c","name":"AI Agent"},{"parameters":{"public":true,"initialMessages":"Hi there!","options":{"customCss":":root {\n  /* Colors - transparent base for glassmorphism */\n  --chat--color-primary: rgba(231, 66, 102, 0.6);\n  --chat--color-primary-shade-50: rgba(219, 64, 97, 0.5);\n  --chat--color-primary-shade-100: rgba(207, 60, 92, 0.5);\n  --chat--color-secondary: rgba(32, 182, 158, 0.6);\n  --chat--color-secondary-shade-50: rgba(28, 160, 138, 0.5);\n  --chat--color-white: rgba(255, 255, 255, 0.8);\n  --chat--color-light: rgba(255, 255, 255, 0.3);\n  --chat--color-light-shade-50: rgba(255, 255, 255, 0.15);\n  --chat--color-light-shade-100: rgba(255, 255, 255, 0.1);\n  --chat--color-medium: rgba(210, 212, 217, 0.3);\n  --chat--color-dark: rgba(16, 19, 48, 0.7);\n  --chat--color-disabled: rgba(119, 121, 128, 0.4);\n  --chat--color-typing: rgba(64, 64, 64, 0.6);\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 1rem;\n  --chat--transition-duration: 0.3s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Chat Window with Glassmorphism */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid rgba(255, 255, 255, 0.2);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: rgba(255, 255, 255, 0.1);\n  --chat--header--color: #ffffff;\n  --chat--heading--font-size: 1.5em;\n  --chat--subtitle--font-size: 1em;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.75rem;\n  --chat--message--border-radius: 1rem;\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: 0.75rem;\n  --chat--message--bot--background: rgba(255, 255, 255, 0.25);\n  --chat--message--bot--color: #101330;\n  --chat--message--user--background: rgba(32, 182, 158, 0.6);\n  --chat--message--user--color: #fff;\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle */\n  --chat--toggle--size: 64px;\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: rgba(231, 66, 102, 0.4);\n  --chat--toggle--hover--background: rgba(231, 66, 102, 0.6);\n  --chat--toggle--active--background: rgba(231, 66, 102, 0.8);\n  --chat--toggle--color: #fff;\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--input--font-size: 1rem;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: rgba(255, 255, 255, 0.2);\n  --chat--input--text-color: #000;\n  --chat--input--placeholder--font-size: 1rem;\n\n  /* Buttons */\n  --chat--button--color: #fff;\n  --chat--button--background: rgba(231, 66, 102, 0.6);\n  --chat--button--hover--background: rgba(231, 66, 102, 0.8);\n  --chat--button--padding: 0.5rem 1rem;\n  --chat--close--button--color-hover: #e74266;\n\n  /* Send & File Buttons */\n  --chat--input--send--button--background: rgba(255, 255, 255, 0.2);\n  --chat--input--send--button--color: #101330;\n  --chat--input--file--button--background: rgba(255, 255, 255, 0.2);\n  --chat--input--file--button--color: #20b69e;\n\n  /* Body and Footer */\n  --chat--body--background: rgba(255, 255, 255, 0.1);\n  --chat--footer--background: rgba(255, 255, 255, 0.15);\n  --chat--footer--color: #101330;\n}\n\n/* Add Glass Effect Globally */\n.chat-window,\n.chat-footer,\n.chat-message {\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);\n  border: 1px solid rgba(255, 255, 255, 0.18);\n}\n\n/* Chat message bubble width */\n.chat-message {\n  max-width: 60%;\n}\n\n/* Smooth transitions for interactive elements */\n.chat-toggle-button,\n.chat-send-button,\n.chat-file-button,\n.chat-close-button {\n  transition: all 0.3s ease;\n}\n.chat-header{\n  display:none !important;\n}\n.chat-message-from-bot,.chat-message-from-user{\n    width: max-content;\n    padding: 10px 15px;\n}\n\n.card-body::-webkit-scrollbar {\n  width: 6px;\n}\n\n.card-body::-webkit-scrollbar-track {\n  background: transparent;\n}\n\n.card-body::-webkit-scrollbar-thumb {\n  background: linear-gradient(to bottom, #3b82f6, #8b5cf6);\n  border-radius: 3px;\n}\n"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-416,416],"id":"cfc697be-7a26-4066-acbb-7bd99e190584","name":"When chat message received","webhookId":"ab15d5fe-ced8-43c2-926b-a27d68bf6780"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,624],"id":"10f2677f-2aa6-4476-84f8-b66ec6f3ea34","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-192,624],"id":"8efb973a-3b80-4cfb-b75d-4c03fa834303","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Work with data in PGVector extension","tableName":"maconomy_documentation_embeddings","topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-32,704],"id":"0d775a99-9df7-4caa-bc23-9a23c723a288","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-128,912],"id":"3bfd16d5-b574-42dd-ada5-dea5f4692e42","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}}],"connections":{"On form submission":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Form","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Postgres PGVector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b78d295-6349-4351-a0ec-caeadac10937","triggerCount":1,"shared":[{"updatedAt":"2025-09-20T11:29:10.737Z","createdAt":"2025-09-20T11:29:10.737Z","role":"workflow:owner","workflowId":"hpL4qwIoVJNOme3a","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}