workflows/My workflow.json
{"createdAt":"2025-11-13T15:44:41.167Z","updatedAt":"2025-11-13T15:46:33.000Z","id":"c5YjcNJ5VQZLDzpl","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"d1908430-8a68-479a-ad30-c6e1648700aa","name":"When chat message received","webhookId":"82aca121-e54c-47c8-b760-e01f2c4c4d9c"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"messages":{"values":[{"content":"={{ $json.chatInput }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[208,0],"id":"3b123ba4-a121-41e6-98cf-17c5de1e9de5","name":"Message a model","credentials":{"googlePalmApi":{"id":"kM7gapkA48zTv74z","name":"Paid"}}},{"parameters":{"jsCode":"return {\n  output:$input.first().json.content.parts[0].text\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,0],"id":"9d77f475-b173-4932-907f-0831dfcbff79","name":"Code"}],"connections":{"When chat message received":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8257def6-0bf7-4313-95df-c9d7bba1a151","triggerCount":0,"shared":[{"createdAt":"2025-11-13T15:44:41.172Z","updatedAt":"2025-11-13T15:44:41.172Z","role":"workflow:owner","workflowId":"c5YjcNJ5VQZLDzpl","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}