workflows/My workflow.json
{"createdAt":"2025-08-06T03:39:01.984Z","updatedAt":"2025-08-06T04:10:34.000Z","id":"rfgeu9dSIfVFK5dz","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-416,-176],"id":"8c1c4992-7604-4778-83de-51709f1c7447","name":"When chat message received","webhookId":"3ecc616f-d931-4660-832b-8985a1012210"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant.if user aked for any id and its uuid then dont give it user. they are confidential"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-208,-176],"id":"baa50051-a6c1-478a-b4fb-d757142ae0aa","name":"AI Agent"},{"parameters":{"options":{"maxOutputTokens":500}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-368,32],"id":"79a3e876-03d6-43b4-8cfc-98b8e3a6b810","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,160],"id":"dfcda44d-1230-4b8f-9f1d-a1a2b4bbcba5","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Call to get list of tables in database","operation":"executeQuery","query":"SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE'\n  AND table_schema NOT IN ('pg_catalog', 'information_schema')\nORDER BY table_schema, table_name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-128,256],"id":"e6014df4-107b-456e-8a2a-9b67c526f40d","name":"get table names","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"workflowInputs":{"values":[{"name":"sql_query"}]}},"id":"5cc03e83-cf3f-4839-897e-bbda09e1d716","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,368]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql_query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,368],"id":"4880171a-f6f1-48f1-9227-9b9135dbe2fd","name":"Execute a SQL query","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"description":"Call to execute select query","workflowId":{"__rl":true,"value":"rfgeu9dSIfVFK5dz","mode":"list","cachedResultName":"My workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sql_query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sql_query', `select query  fetch data from table`, 'string') }}"},"matchingColumns":["sql_query"],"schema":[{"id":"sql_query","displayName":"sql_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[32,176],"id":"707ab09a-d35a-4467-b784-83ca3eec80c2","name":"Execute select query"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"get table names":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute select query":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f90a8375-48fa-46dc-8301-9262dc6ae34c","triggerCount":0,"tags":[]}