workflows/My workflow.json
{"createdAt":"2025-07-29T11:52:26.196Z","updatedAt":"2025-08-01T18:40:57.000Z","id":"xpdtDDmFOFxyZpjH","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Hi there! 👋","options":{"allowFileUploads":true,"title":"Hi there! 👋","customCss":":root {\n  /* Colors - transparent base for glassmorphism */\n  --chat--color-primary: rgba(231, 66, 102, 0.6);\n  --chat--color-primary-shade-50: rgba(219, 64, 97, 0.5);\n  --chat--color-primary-shade-100: rgba(207, 60, 92, 0.5);\n  --chat--color-secondary: rgba(32, 182, 158, 0.6);\n  --chat--color-secondary-shade-50: rgba(28, 160, 138, 0.5);\n  --chat--color-white: rgba(255, 255, 255, 0.8);\n  --chat--color-light: rgba(255, 255, 255, 0.3);\n  --chat--color-light-shade-50: rgba(255, 255, 255, 0.15);\n  --chat--color-light-shade-100: rgba(255, 255, 255, 0.1);\n  --chat--color-medium: rgba(210, 212, 217, 0.3);\n  --chat--color-dark: rgba(16, 19, 48, 0.7);\n  --chat--color-disabled: rgba(119, 121, 128, 0.4);\n  --chat--color-typing: rgba(64, 64, 64, 0.6);\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 1rem;\n  --chat--transition-duration: 0.3s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Chat Window with Glassmorphism */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid rgba(255, 255, 255, 0.2);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: rgba(255, 255, 255, 0.1);\n  --chat--header--color: #ffffff;\n  --chat--heading--font-size: 1.5em;\n  --chat--subtitle--font-size: 1em;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.75rem;\n  --chat--message--border-radius: 1rem;\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: 0.75rem;\n  --chat--message--bot--background: rgba(255, 255, 255, 0.25);\n  --chat--message--bot--color: #101330;\n  --chat--message--user--background: rgba(32, 182, 158, 0.6);\n  --chat--message--user--color: #fff;\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle */\n  --chat--toggle--size: 64px;\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: rgba(231, 66, 102, 0.4);\n  --chat--toggle--hover--background: rgba(231, 66, 102, 0.6);\n  --chat--toggle--active--background: rgba(231, 66, 102, 0.8);\n  --chat--toggle--color: #fff;\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--input--font-size: 1rem;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: rgba(255, 255, 255, 0.2);\n  --chat--input--text-color: #000;\n  --chat--input--placeholder--font-size: 1rem;\n\n  /* Buttons */\n  --chat--button--color: #fff;\n  --chat--button--background: rgba(231, 66, 102, 0.6);\n  --chat--button--hover--background: rgba(231, 66, 102, 0.8);\n  --chat--button--padding: 0.5rem 1rem;\n  --chat--close--button--color-hover: #e74266;\n\n  /* Send & File Buttons */\n  --chat--input--send--button--background: rgba(255, 255, 255, 0.2);\n  --chat--input--send--button--color: #101330;\n  --chat--input--file--button--background: rgba(255, 255, 255, 0.2);\n  --chat--input--file--button--color: #20b69e;\n\n  /* Body and Footer */\n  --chat--body--background: rgba(255, 255, 255, 0.1);\n  --chat--footer--background: rgba(255, 255, 255, 0.15);\n  --chat--footer--color: #101330;\n}\n\n/* Add Glass Effect Globally */\n.chat-window,\n.chat-footer,\n.chat-message {\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);\n  border: 1px solid rgba(255, 255, 255, 0.18);\n}\n\n/* Chat message bubble width */\n.chat-message {\n  max-width: 60%;\n}\n\n/* Smooth transitions for interactive elements */\n.chat-toggle-button,\n.chat-send-button,\n.chat-file-button,\n.chat-close-button {\n  transition: all 0.3s ease;\n}\n.chat-header{\n  display:none !important;\n}\n.chat-message-from-bot,.chat-message-from-user{\n    width: max-content;\n    padding: 10px 15px;\n}\n.chat-inputs{\n  display: flex;\n}\n.chat-inputs textarea{\n  width:98%;\n  border: none;\n  padding-left: 22px;\n  padding-top: 14px;\n}\n.chat-input-send-button{\n  height:100%;\n}\n"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-272,112],"id":"b24e7c10-135b-4150-9510-218ffa8b028b","name":"When chat message received","webhookId":"43e5a472-68cd-4e98-824c-8792c0a8b5ca"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-16,48],"id":"b6b31d52-f855-4e15-8a69-18dc64b696fd","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-80,320],"id":"692ac9a2-a17b-4bb5-b0c0-28fc0bc7feed","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-144,416],"id":"f889c93a-daf3-40be-9c7b-78fa2bd63b7e","name":"Simple Memory"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"={{ $json.chatInput }}","inputType":"binary","binaryPropertyName":"data0","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-288,672],"id":"5d097734-4ff9-40f1-b809-2f15ebed2a41","name":"Analyze document","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"\nreturn {\"output\":$input.first().json.content.parts[0].text};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,672],"id":"69d0d063-779b-4597-912f-aa7798c0277c","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":591386692,"mode":"list","cachedResultName":"ContactUsForm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=591386692"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[368,784],"id":"9fe3946e-d33b-4411-9435-c8d969d9f63a","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-224,480],"id":"78f07e16-23b9-4901-90e3-d28d32e6851c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[48,816],"id":"4407f8e5-3180-4819-aa4f-1a9b14bd1b3e","name":"Send a message in Gmail","webhookId":"af0c0577-34c3-443d-87cc-8eee4262bc7f","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"person":"-d3uB_seK_","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', `its a linked in post content to Post `, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.linkedInTool","typeVersion":1,"position":[208,864],"id":"b4a54948-6f82-44ab-8ebd-0882869e32ef","name":"Create a post in LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"fFMzMv6OFff3UCQF","name":"LinkedIn: Prasad Sawant"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Analyze document":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a post in LinkedIn":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"551b4ad4-c97b-44ad-94af-544d75d3d72e","triggerCount":1,"tags":[]}