workflows/My workflow 3.json
{"updatedAt":"2026-01-19T13:51:08.000Z","createdAt":"2025-11-28T11:40:39.241Z","id":"TAjZfXFvvyztxpxF","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"maconomy-login","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,48],"id":"e4b3aff9-8e3a-4df0-b7cf-0119a920b87a","name":"Webhook","webhookId":"01597f2a-6592-4fcd-86f7-7737e35acbfc"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,64],"id":"9544a040-f667-4bdd-aff3-2d201d288403","name":"Respond to Webhook"},{"parameters":{"jsCode":"const UserNameList = $input.first().json.body.username;\nconst PasswordList = $input.first().json.body.password;\n\nif (!UserNameList || UserNameList.length === 0) {\n  return {\n    error: true,\n    message: \"Username Not Provided\"\n  };\n}\n\nif (!PasswordList || PasswordList.length === 0) {\n  return {\n    error: true,\n    message: \"Password Not Provided\"\n  };\n}\n\nconst UserName = UserNameList[0];\nconst Password = PasswordList[0];\n\nreturn {\n  userName:UserName,\n  password:Password,\n  baseUrl:$input.first().json.body.server,\n  instance:$input.first().json.body.instance,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,48],"id":"dda0b602-2a20-4553-9b5a-485d1df5a06d","name":"Code in JavaScript"},{"parameters":{"url":"={{ $('Code in JavaScript').item.json.baseUrl }}/users/filter?fields=nameofuser,blockedaccesscode,employeenumber,employeename&restriction=nameofuser='{{ $('Code in JavaScript').item.json.userName }}' and employeenumber != ''&limit=1000&offset=0","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Maconomy-Authentication","value":"X-Reconnect"},{"name":"Authorization","value":"={{ $json.base64 }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,48],"id":"bb857103-123e-4d0a-b61c-03bcea41e1fe","name":"Auth","onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"import base64\nreturn {\n  \"base64\":f'Basic {base64.b64encode(f\"{_input.first().json.userName}:{_input.first().json.password}\".encode()).decode()}'\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,48],"id":"c1208794-ec63-49f6-8f40-59ddeede3489","name":"Code in Python (Beta)"},{"parameters":{"jsCode":"return {\n  token:$input.first().json.headers['maconomy-reconnect'],\n  baseUrl:$('Webhook').first().json.body.server,\n  userName: $('Code in JavaScript').first().json.userName,\n  instance: $('Code in JavaScript').first().json.instance,\n  employeeNo:$input.first().json.body.panes.filter.records[0].data.employeenumber,\n  employeeName:$input.first().json.body.panes.filter.records[0].data.employeename\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-34.5],"id":"18e22875-07c6-430c-9bd7-64e6f6652a79","name":"Code in JavaScript1"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Auth":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Auth","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"152","x-forwarded-for":"203.109.34.204","content-type":"application/json","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script)","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{"server":"https://med72037-api.deltekfirst.com/containers/v1/md72037","instance":"MJDEV","username":["DIksha Keluskar"],"password":["MJStaffing@2025"]},"webhookUrl":"https://n8n.prasadsawant.com/webhook/maconomy-login","executionMode":"production"}}]},"versionId":"c4493908-c6d9-4b6b-87f5-5db45fd4c10f","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T11:40:39.249Z","createdAt":"2025-11-28T11:40:39.249Z","role":"workflow:owner","workflowId":"TAjZfXFvvyztxpxF","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}