workflows/Project Setup On GitHub.json
{"createdAt":"2025-09-20T10:55:07.192Z","updatedAt":"2025-09-20T11:15:47.000Z","id":"zTFaK4bSP2U7zh8L","name":"Project Setup On GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user"},{"name":"repository"},{"name":"sessionid"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-48,336]},{"parameters":{"language":"python","pythonCode":"file_path_desc = [\n  {\n    \"file_path\": \"app/main.py\",\n    \"description\": \"Application entry point. Initializes FastAPI app, includes routers, sets up middleware, dependencies, and configurations. Runs server using Uvicorn.\"\n  },\n  {\n    \"file_path\": \"app/core/config.py\",\n    \"description\": \"Centralized configuration management. Loads environment variables (database URL, secret keys, etc.) using pydantic Settings for easy and secure access across the app.\"\n  },\n  {\n    \"file_path\": \"app/core/database.py\",\n    \"description\": \"Database connection handling using SQLAlchemy and async session. Manages PostgreSQL engine and session lifecycle.\"\n  },\n  {\n    \"file_path\": \"app/models/__init__.py\",\n    \"description\": \"Makes models a package. Used for importing models easily.\"\n  },\n  {\n    \"file_path\": \"app/models/user.py\",\n    \"description\": \"SQLAlchemy ORM model for the User entity. Defines database schema, table name, and relationships.\"\n  },\n  {\n    \"file_path\": \"app/schemas/user.py\",\n    \"description\": \"Pydantic schemas for User. Defines request/response validation models for create, update, and read operations.\"\n  },\n  {\n    \"file_path\": \"app/services/user_service.py\",\n    \"description\": \"Business logic for User. Handles operations like creating, retrieving, updating, and deleting users. Interacts with database models.\"\n  },\n  {\n    \"file_path\": \"app/routers/__init__.py\",\n    \"description\": \"Makes routers a package. Used for importing multiple routers.\"\n  },\n  {\n    \"file_path\": \"app/routers/user_router.py\",\n    \"description\": \"API endpoints for User. Uses FastAPI APIRouter to handle routes like /users, /users/{id}, delegating work to services.\"\n  },\n  {\n    \"file_path\": \"app/dependencies.py\",\n    \"description\": \"Houses reusable dependencies like database session, authentication, or common utilities injected into routes.\"\n  },\n  {\n    \"file_path\": \"app/utils/security.py\",\n    \"description\": \"Helper functions for security (password hashing, JWT token creation/verification, authentication utilities).\"\n  },\n  {\n    \"file_path\": \"app/utils/logger.py\",\n    \"description\": \"Configures centralized logging for the application to track events and errors.\"\n  },\n  {\n    \"file_path\": \"alembic/env.py\",\n    \"description\": \"Alembic migration environment file. Connects migrations to the SQLAlchemy models and PostgreSQL database.\"\n  },\n  {\n    \"file_path\": \"alembic/versions/\",\n    \"description\": \"Directory containing migration scripts generated by Alembic.\"\n  },\n  {\n    \"file_path\": \"tests/__init__.py\",\n    \"description\": \"Makes tests a package. Used for organizing test files.\"\n  },\n  {\n    \"file_path\": \"tests/test_user.py\",\n    \"description\": \"Unit and integration tests for user routes and services using pytest.\"\n  },\n  {\n    \"file_path\": \".env\",\n    \"description\": \"Environment variables (DATABASE_URL, SECRET_KEY, DEBUG mode, etc.) not committed to version control for security.\"\n  },\n  {\n    \"file_path\": \"requirements.txt\",\n    \"description\": \"Python dependencies list (FastAPI, Uvicorn, SQLAlchemy, psycopg2, Alembic, Pydantic, python-dotenv, etc.).\"\n  },\n  {\n    \"file_path\": \"README.md\",\n    \"description\": \"Project documentation. Explains purpose, setup instructions, usage, and contribution guidelines.\"\n  },\n  {\n    \"file_path\": \"Dockerfile\",\n    \"description\": \"Instructions to containerize the FastAPI application for deployment.\"\n  },\n  {\n    \"file_path\": \"docker-compose.yml\",\n    \"description\": \"Defines services like FastAPI app and PostgreSQL database for local development environment.\"\n  },\n  {\n    \"file_path\": \".gitignore\",\n    \"description\": \"Specifies intentionally untracked files to ignore (e.g., venv, __pycache__, .env).\"\n  }\n]\nreturn file_path_desc"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,336],"id":"349b14b8-c034-45ce-ba09-1dc91ec0d399","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,336],"id":"ebfd7231-f9cb-47e8-b9fb-42fa5406a3d7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1168,624],"id":"f3cf8d67-7d02-4a55-a7d9-c5a210dd138e"},{"parameters":{"promptType":"define","text":"=generate a code of python fast api project for file \"{{ $json.file_path }}\"\nwhich is contain for \"{{ $json.description }}\"\n\nGenerated a code and create a file must using tool\nwhere file_path : {{ $json.file_path }}\ngenerate code with fully professtional way, no error and we commented for understading.","options":{"systemMessage":"You are a helpful code design to setup a python fastAPI project for given file. Generate code for the given file to setup the whole project\n\nalways use \"Create a file in GitHub\" and create the current file and put all generated code in it and commit."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[672,352],"id":"61b0dfa9-d0fe-486b-9412-5f08e8511c67","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[736,560],"id":"ef519856-07f1-46e2-82ba-a7ccf84af242","name":"Simple Memory"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.repository }}","mode":"name"},"filePath":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","fileContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}","commitMessage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"},"type":"n8n-nodes-base.githubTool","typeVersion":1.1,"position":[896,544],"id":"6429a248-cca5-4d3f-8cce-8749d0e45de3","name":"Create a file in GitHub","webhookId":"7ec25480-1ff2-4761-93ad-1ab75059b7b7","credentials":{"githubApi":{"id":"MAvGDriSRQs7zm1X","name":"GitHub: PrasadRSawant"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,560],"id":"325a72d2-0529-4cfa-8408-05abff62e653","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Create a file in GitHub":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"user":"PrasadRSawant","repository":"Resume-Tailor","sessionid":"148744a2173f44ffa06880c0b7c8a9c2"}}]},"versionId":"0f2db6c7-08b1-490f-88e2-51817f84e140","triggerCount":0,"shared":[{"createdAt":"2025-09-20T10:55:07.196Z","updatedAt":"2025-09-20T10:55:07.196Z","role":"workflow:owner","workflowId":"zTFaK4bSP2U7zh8L","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}