workflows/Publish Posts on Linkedin.json
{"createdAt":"2025-09-10T09:57:42.129Z","updatedAt":"2025-09-10T13:15:06.000Z","id":"90cd70HcrBzJC1H5","name":"Publish Posts on Linkedin","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":10,"triggerAtMinute":23},{"field":"weeks","triggerAtDay":[3],"triggerAtHour":9,"triggerAtMinute":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-48],"id":"fae6dba2-3010-4861-a8fd-5f0ac392fd83","name":"Publish Post"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    tasks.id AS task_id,\n    tasks.domain AS task_domain,\n    tasks.title AS task_title,\n    tasks.content AS task_content, \n    tasks.status AS task_status,\n    img.image_url AS post_image_url,\n\ttasks.urn AS urn\nFROM public.linkedin_post_generation_tasks AS tasks\nLEFT OUTER JOIN public.linkedin_post_images AS img\n    ON tasks.id = img.task_id\nWHERE DATE(tasks.scheduled_publish_at) = CURRENT_DATE\n  AND tasks.is_deleted != true\n  AND tasks.status = 'scheduled';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,-48],"id":"c87c85bb-99c2-499d-a2f1-8d2dbce06a08","name":"Get Post Data For Today","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"url":"={{ $json.post_image_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,-48],"id":"39957e27-fdd5-40c9-9095-d8ee9d8d2b3e","name":"Get Hosted Image From Media Hosting Platform"},{"parameters":{"person":"-d3uB_seK_","text":"={{ $json.task_content.replaceAll('hashtag','') }}","shareMediaCategory":"IMAGE","additionalFields":{"title":"={{ $json.task_title }}","visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[144,-48],"id":"257eb7de-e43e-47e3-8485-c7b011305d47","name":"Create a post On Linked in","credentials":{"linkedInOAuth2Api":{"id":"fFMzMv6OFff3UCQF","name":"LinkedIn: Prasad Sawant"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"linkedin_post_generation_tasks","mode":"list","cachedResultName":"linkedin_post_generation_tasks"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get Post Data For Today').item.json.task_id }}","scheduled_publish_at":"={{ $('Publish Post').item.json.timestamp }}","status":"published","updated_by":"system","updated_at":"={{ $('Publish Post').item.json.timestamp }}","urn":"="},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"domain","displayName":"domain","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"scheduled_publish_at","displayName":"scheduled_publish_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"workflow_run_date","displayName":"workflow_run_date","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_deleted","displayName":"is_deleted","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_by","displayName":"created_by","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_by","displayName":"updated_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"schedule_publish_date","displayName":"schedule_publish_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"urn","displayName":"urn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-48],"id":"3272ccd7-d651-4ecc-bed1-17ac3644e990","name":"Update Log History","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"sendTo":"={{ $json.to }}","subject":"={{ $json.subject }}","message":"={{ $json.body }}","options":{"appendAttribution":false,"senderName":"LinkedIn Automation Team"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,-48],"id":"729f4cfb-57b8-4590-912c-274357f950c6","name":"Inform LinkedIn Holder About Already Done Status","webhookId":"5cfd6d2b-4151-4cf0-b77b-98ff929f20b1","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"0cda0556-9b8b-4ec1-a187-565ffcd6447e","name":"subject","value":"=[{{ $('Publish Post').item.json['Readable date'] }}] New Linkedin Post is published on you account: Prasad Sawant","type":"string"},{"id":"9af72325-79eb-4445-9b50-7996e42210c8","name":"body","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>LinkedIn Post Published</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; color: #333333; line-height: 1.6;\">\n  <p>Hi Prasad Sawant,</p>\n\n  <p>\n    We are excited to inform you that the LinkedIn post titled \n    <strong>{{ $json.title }}</strong> has been successfully published on \n    <strong>{{ $('Publish Post').item.json['Readable date'] }}</strong>.\n  </p>\n\n  <p>\n    You can view the post directly on LinkedIn using the link provided below:  \n    <a href=\"{{ $json.urn }}\" target=\"_blank\">See Post</a>\n  </p>\n\n  <p>\n    No further action is needed, but feel free to monitor engagement or share your feedback.\n  </p>\n\n  <p>Best regards,<br>\n  <strong>N8N Workflow Automation</strong><br>\n  <a href=\"https://portfolio.prasadsawant.com\" target=\"_blank\">portfolio.prasadsawant.com</a>\n  </p>\n</body>\n</html>\n","type":"string"},{"id":"d0fe132d-6733-4111-898b-26c78794d0df","name":"to","value":"=prasadsawant1618@gmail.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,-48],"id":"5ea3025d-2a5e-4328-ac1a-3f5376f55e61","name":"Set Email Template"}],"connections":{"Publish Post":{"main":[[{"node":"Get Post Data For Today","type":"main","index":0}]]},"Get Post Data For Today":{"main":[[{"node":"Get Hosted Image From Media Hosting Platform","type":"main","index":0}]]},"Get Hosted Image From Media Hosting Platform":{"main":[[{"node":"Create a post On Linked in","type":"main","index":0}]]},"Create a post On Linked in":{"main":[[{"node":"Update Log History","type":"main","index":0}]]},"Update Log History":{"main":[[{"node":"Set Email Template","type":"main","index":0}]]},"Set Email Template":{"main":[[{"node":"Inform LinkedIn Holder About Already Done Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Publish Post":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f80e4ce-947b-4f01-beaf-0a4007d324ea","triggerCount":1,"shared":[{"createdAt":"2025-09-10T09:57:42.134Z","updatedAt":"2025-09-10T09:57:42.134Z","role":"workflow:owner","workflowId":"90cd70HcrBzJC1H5","projectId":"jYp8xiWttkK2cWvC"}],"tags":[{"createdAt":"2025-09-10T06:32:54.779Z","updatedAt":"2025-09-10T06:32:54.779Z","id":"1HrooOdMrXJwKAlL","name":"v1.0.1"},{"createdAt":"2025-09-10T10:46:24.175Z","updatedAt":"2025-09-10T10:46:24.175Z","id":"IDjYTgUg34U6yuEu","name":"LinkedIn"}]}