workflows/Silver Updates Monitoring Agent.json
{"updatedAt":"2026-04-07T06:24:41.000Z","createdAt":"2026-04-06T16:45:26.686Z","id":"T6uMNdiixq7WXRaf","name":"Silver Updates Monitoring Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-464,-16],"id":"ce3d2a5d-0096-4d7f-bda2-4a33508065e7","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=Find Silver related insight for me as of tdya {{ DateTime.now().toISO() }}","needsFallback":true,"options":{"systemMessage":"=You are Silver ETF Market Analyser based on the News as of {{ DateTime.now().toISO() }}\n\n<Responsibility>\n- Search the top 5 Latest news and analyse them\n- Check The market shift or change in the Demand -Supply chain.\n- Find some key insights to help in Investment related decisions.\n</Responsibility>\n\n<Process>\n  <step id='1'>Search Latest 5 news using the Google News Search tool as of  {{ DateTime.now().toISO() }} related to Silver ETF</step>\n  <step id='2'>Analyse and Understand the Demand Supply related insights.</step>\n</Process>\n\n<Find>\n  1. Find if there any new source of supply of silver in world which can affect Silver ETF market.\n  2. Any big statement done by any big politition.\n  3. Any Big Company or CEO of the company Made any big investment or Did any statement.\n  4. Any Country planned to invest in silver or any other budget or any other silver related big aggrements are done \n</Find>\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-256,-16],"id":"6dfd8f5c-6dd9-4d30-b843-13d5e802554b","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-512,256],"id":"e36b2d1e-c872-4d7f-9bd4-1d22d290be40","name":"Groq Chat Model","credentials":{"groqApi":{"id":"qfg4IRTFYATnvhGV","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.timestamp }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,256],"id":"64935418-3ca1-4f2b-a24b-43daf817ff8f","name":"Simple Memory"},{"parameters":{"description":"Call this to Search Top N new on google","workflowId":{"__rl":true,"value":"FbKQGasFFA0KcJj2","mode":"list","cachedResultUrl":"/workflow/FbKQGasFFA0KcJj2","cachedResultName":"Google New Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{"top":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('top', `Count of top n news (Keep maximum 10)`, 'number') }}","topicForGoogleSearch":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topicForGoogleSearch', `description to search on google news`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"topicForGoogleSearch","displayName":"topicForGoogleSearch","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top","displayName":"top","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[128,256],"id":"e8867846-a91d-4528-bc19-28f9f3a48013","name":"Google New Search"},{"parameters":{"chatId":"1443136452","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,-112],"id":"65e173d2-a0c3-43e2-97b9-856dfc972c27","name":"Send to Prasad","webhookId":"2119b967-ce13-4682-8f55-aa4d1d1550b9","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"chatId":"1298139752","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,80],"id":"d77c3abe-cb76-44b4-82f0-25dca6d8ef63","name":"Send to Divya","webhookId":"2119b967-ce13-4682-8f55-aa4d1d1550b9","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-352,256],"id":"58b0c091-abee-4b48-8c14-aa083d2301a7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google New Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send to Prasad","type":"main","index":0},{"node":"Send to Divya","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b35835bb-5f3e-4e8b-9787-62474a4a0e01","activeVersionId":"b35835bb-5f3e-4e8b-9787-62474a4a0e01","triggerCount":1,"shared":[{"updatedAt":"2026-04-06T16:45:26.690Z","createdAt":"2026-04-06T16:45:26.690Z","role":"workflow:owner","workflowId":"T6uMNdiixq7WXRaf","projectId":"jYp8xiWttkK2cWvC"}],"activeVersion":{"updatedAt":"2026-04-07T06:24:41.994Z","createdAt":"2026-04-07T06:24:41.994Z","versionId":"b35835bb-5f3e-4e8b-9787-62474a4a0e01","workflowId":"T6uMNdiixq7WXRaf","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-464,-16],"id":"ce3d2a5d-0096-4d7f-bda2-4a33508065e7","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=Find Silver related insight for me as of tdya {{ DateTime.now().toISO() }}","needsFallback":true,"options":{"systemMessage":"=You are Silver ETF Market Analyser based on the News as of {{ DateTime.now().toISO() }}\n\n<Responsibility>\n- Search the top 5 Latest news and analyse them\n- Check The market shift or change in the Demand -Supply chain.\n- Find some key insights to help in Investment related decisions.\n</Responsibility>\n\n<Process>\n  <step id='1'>Search Latest 5 news using the Google News Search tool as of  {{ DateTime.now().toISO() }} related to Silver ETF</step>\n  <step id='2'>Analyse and Understand the Demand Supply related insights.</step>\n</Process>\n\n<Find>\n  1. Find if there any new source of supply of silver in world which can affect Silver ETF market.\n  2. Any big statement done by any big politition.\n  3. Any Big Company or CEO of the company Made any big investment or Did any statement.\n  4. Any Country planned to invest in silver or any other budget or any other silver related big aggrements are done \n</Find>\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-256,-16],"id":"6dfd8f5c-6dd9-4d30-b843-13d5e802554b","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-512,256],"id":"e36b2d1e-c872-4d7f-9bd4-1d22d290be40","name":"Groq Chat Model","credentials":{"groqApi":{"id":"qfg4IRTFYATnvhGV","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.timestamp }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,256],"id":"64935418-3ca1-4f2b-a24b-43daf817ff8f","name":"Simple Memory"},{"parameters":{"description":"Call this to Search Top N new on google","workflowId":{"__rl":true,"value":"FbKQGasFFA0KcJj2","mode":"list","cachedResultUrl":"/workflow/FbKQGasFFA0KcJj2","cachedResultName":"Google New Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{"top":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('top', `Count of top n news (Keep maximum 10)`, 'number') }}","topicForGoogleSearch":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topicForGoogleSearch', `description to search on google news`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"topicForGoogleSearch","displayName":"topicForGoogleSearch","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top","displayName":"top","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[128,256],"id":"e8867846-a91d-4528-bc19-28f9f3a48013","name":"Google New Search"},{"parameters":{"chatId":"1443136452","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,-112],"id":"65e173d2-a0c3-43e2-97b9-856dfc972c27","name":"Send to Prasad","webhookId":"2119b967-ce13-4682-8f55-aa4d1d1550b9","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"chatId":"1298139752","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,80],"id":"d77c3abe-cb76-44b4-82f0-25dca6d8ef63","name":"Send to Divya","webhookId":"2119b967-ce13-4682-8f55-aa4d1d1550b9","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-352,256],"id":"58b0c091-abee-4b48-8c14-aa083d2301a7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google New Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send to Prasad","type":"main","index":0},{"node":"Send to Divya","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]}},"authors":"Prasad Sawant","name":null,"description":null,"autosaved":false},"tags":[]}