workflows/sql hitter.json
{"updatedAt":"2026-01-16T12:13:35.000Z","createdAt":"2026-01-16T11:15:50.280Z","id":"AM8YOfAsbrkb6GaE","name":"sql hitter","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"task-summariser","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-16],"id":"c2dab03b-9c13-4e24-ad4a-c158ec0242bc","name":"Webhook","webhookId":"77ad9b37-dba2-44a9-90e8-40d11c46761f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[48,-16],"id":"edc2872a-f154-47c3-9b37-015a1ac1ecfb","name":"Respond to Webhook"},{"parameters":{"jsCode":"\nreturn {\n  summary:$input.first().json.output\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-16],"id":"cafce6c7-8cbe-4c53-9df9-67128be6933a","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"={{ $json.body.text }}","options":{"systemMessage":"=You are a helpful Task Summarizer, who summaries the Comment filled by the task performer. Give short Summary about. what was assigned. what completed and what is there yet to complete. \n\n<INSTRUCTIONS>\n1. Only provide the summary. Not other unwanted explanation of the content\n2. Provide professional toned summary\n3. Provide what all completed in Simple past tense. and rest in Simple Future or present tense as required.\n</INSTRUCTIONS>\n\n\nE.g\nInput: '<ol><li>Discussed and provided updates, &nbsp;to SV regarding estimate.</li><li>Discussed with NK.</li><li>Took follow up.</li></ol><p>&nbsp;</p>'\n\nOutput: \n1. Completion:\n- Discussion with SV regarding estimate is completed and provided updates to SV regarding estimates.also follow up is taken for the Estimation With NK.\n\n2. Pending:\n- Nothing is pending"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-464,-16],"id":"a6239d26-2172-436e-bec9-1244d9deda67","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-608,192],"id":"26d8ae7d-0071-475e-b7df-c0fdbacead5e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sLRS1eWG5Hk4lnA9","name":"vsky: new"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e330958d-f4e6-4674-b8a9-91a1d1afa53d","triggerCount":0,"shared":[{"updatedAt":"2026-01-16T11:15:50.286Z","createdAt":"2026-01-16T11:15:50.286Z","role":"workflow:owner","workflowId":"AM8YOfAsbrkb6GaE","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}