workflows/Sub Job Submission.json
{"createdAt":"2025-07-26T12:44:39.101Z","updatedAt":"2025-08-04T12:42:02.000Z","id":"Rlg6rDOC4QJL3MXg","name":"Sub Job Submission","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"MainJobName"},{"name":"formData","type":"array"},{"name":"x_reconnect_token"},{"name":"base_url"},{"name":"formId"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-48,368]},{"parameters":{"jsCode":"// Initialize base structure\nconst data = {\n  formId: $input.first().json.formId,\n  mainjobnumber: $input.first().json.MainJobName,\n  clientname: \"\",\n  clientnumber: \"\",\n  companyname: \"\",\n  companynumber: \"\",\n  jobgroupname: \"\",\n  jobgroupnumber: \"\",\n  locationname: \"\",\n  locationnumber: \"\",\n  projectmanagername: \"\",\n  projectmanagernumber: \"\",\n  subjobname: \"\",\n  templatenumber: \"\"\n};\n\n// Map form field names to data object keys\nconst fieldMapping = {\n  company: { name: \"companyname\", number: \"companynumber\" },\n  client: { name: \"clientname\", number: \"clientnumber\" },\n  jobgroup: { name: \"jobgroupname\", number: \"jobgroupnumber\" },\n  locationname: { name: \"locationname\", number: \"locationnumber\" },\n  projectmanagernumber: { name: \"projectmanagername\", number: \"projectmanagernumber\" },\n  template: { name: null, number: \"templatenumber\" },\n  jobname:{name:\"subjobname\", number:null}\n};\n\n// Fill the `data` object dynamically\nfor (const field of $input.first().json.formData) {\n  const fieldName = field.name;\n  const value = field.value;\n  const text = field.text;\n\n  if (fieldMapping[fieldName]) {\n    const nameKey = fieldMapping[fieldName].name;\n    const numberKey = fieldMapping[fieldName].number;\n\n    if (nameKey) data[nameKey] = text;\n    if (numberKey) data[numberKey] = value;\n  }\n}\n\nreturn {\n  request:{\n    x_reconnect_token: $input.first().json.x_reconnect_token,\n    base_url: $input.first().json.base_url,\n    data: [data]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,368],"id":"019f5f4e-34d9-4df9-951f-d8cc19b58508","name":"Code"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/submit_sub_jobs","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.request }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,496],"id":"d9537658-5978-4884-a416-f7c035ec32c5","name":"Submit The Job","disabled":true},{"parameters":{"jsCode":"\n\nreturn {\n  \"formId\": \"\",\n  \"isError\": false,\n  \"message\": \"Ok\",\n  \"data\":{\n    \"subjobnumber\": \"111100369-34\"\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,368],"id":"f3dc731f-9039-4214-808e-d699496e8ce2","name":"Code1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Submit The Job","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Submit The Job":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"MainJobName":"111100369","formData":[{"type":"text","label":"Job Name","name":"jobname","value":"Invoicing","text":"Invoicing"},{"type":"select","label":"Customer","name":"client","value":"1119","text":"David Curran"},{"type":"select","label":"Company ","name":"company","value":"11","text":"4CE LLC"},{"type":"select","label":"Template","name":"template","value":"ZZ_Cleaning","text":"ZZ_Cleaning"},{"type":"select","label":"Project Manager","name":"projectmanagernumber","value":"ZZMaconomy","text":"Maconomy"},{"type":"select","label":"Location ","name":"locationname","value":"CLEANING","text":"Cleaning"},{"type":"select","label":"Job Group","name":"jobgroup","value":"Time & Material","text":"Time & Material"}],"x_reconnect_token":"OGFlZDc3MWItNmVjYy00ZTQ1LThmMGItZTdhMWZkZGM1OTcx:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5H2FkNDk4MmM0OTIyMTQ0ZTY5YTE2OWY3MjUyZmQyOGU1HzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fb8AIhMWt1r8qGWKVxqn6Iw==","base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037"}}]},"versionId":"ac41dc72-f07f-40a7-b5e7-3784483b3b88","triggerCount":0,"tags":[{"createdAt":"2025-07-27T16:13:29.615Z","updatedAt":"2025-07-27T16:13:29.615Z","id":"PnxKYWk0j7kgO7lb","name":"Vsky"}]}