workflows/Sub Job Form Validation.json
{"createdAt":"2025-07-26T10:38:21.602Z","updatedAt":"2025-08-04T11:58:46.000Z","id":"QAcSLOKwG9ydHtDF","name":"Sub Job Form Validation","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"formState","type":"array"},{"name":"x_reconnect_token"},{"name":"base_url"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-640,160]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.formState.name }}","rightValue":"template","operator":{"type":"string","operation":"equals"},"id":"20767b5e-4267-41e7-b691-6ac021da66c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ad6d861-538d-4f5e-9b44-39bcc1841233","leftValue":"={{ $json.formState.name }}","rightValue":"company","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Company"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ad0956f-2679-4d59-9e5b-390d3f8eafec","leftValue":"={{ $json.formState.name }}","rightValue":"client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Client"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c55133ab-bfb4-4af1-96b8-0933ab92061a","leftValue":"={{ $json.formState.name }}","rightValue":"projectmanagernumber","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Project Manager"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"969da29b-1d95-4a00-a9dc-d6e0bdcd9f22","leftValue":"={{ $json.formState.name }}","rightValue":"locationname","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Location"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73fa7e47-3e3b-4a71-83e1-da6163357bbe","leftValue":"={{ $json.formState.name }}","rightValue":"jobgroup","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Job Group"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a9a5d99-89b3-4376-8067-0bf814609b84","leftValue":"={{ $json.formState.name }}","rightValue":"jobname","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,80],"id":"de6d71e7-7962-4fd5-a5ac-43d69d15bbc2","name":"Switch"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_template","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"templatenumber","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,-1296],"id":"f95ab1f2-afe7-44e5-ae9e-a56ac38ae680","name":"get template by id"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.companynumber + \" and text is \" + $input.first().json.data.companyname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Company for the provided value and and text check with 'company' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-928],"id":"80a7a1e3-74d0-414a-acd5-bac568997844","name":"Got Company Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,-848],"id":"886f95ae-b0c0-44aa-9a1c-1978cfab5661","name":"is Company Error"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_company","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"companynumber","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,-848],"id":"81791931-c593-4637-9f8a-ded062cb1f11","name":"get company by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,-1296],"id":"daa4a09d-7dc7-4906-a396-39b44f787820","name":"Template Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.jobnumber + \" and text is \" + $input.first().json.data.jobname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'template' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-1376],"id":"cde39f5f-9267-4992-b2de-b93e667fd027","name":"Got Template Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-1232],"id":"a2b573e2-5b34-4b33-86e5-098bb74f0f00","name":"Not Got Template Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-784],"id":"c9ced0a0-38a7-44f3-ab8a-d7f759cb888a","name":"Not Got Company Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_client","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"clientnumber","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,-384],"id":"c333d3f1-f07a-4e5f-bab4-e67ad34d1de5","name":"get client by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1856,-384],"id":"7e3a6042-5ad6-493b-bc88-02dd5474fd98","name":"is Client Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.clientnumber + \" and text is \" + $input.first().json.data.clientname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Client for the provided value and and text check with 'client' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-464],"id":"1c733e8e-8f42-43fa-bce4-956c7a4f170e","name":"Got Client Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-320],"id":"f7efac0e-7c6f-4e02-be02-f3c3e0c8040c","name":"Not Got Client Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_employee","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"employeenumber","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,80],"id":"3c2e3bb3-5e12-47fd-bf13-503e5357bb87","name":"get employee by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1856,80],"id":"08fe33d6-b009-45f9-a3e1-c1973d0443f7","name":"is Employee Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.employeenumber + \" and text is \" + $input.first().json.data.employeename\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Client for the provided value and and text check with corresponding tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,0],"id":"ce19c1cf-8746-4dc9-a14d-a5743764ef4c","name":"Got Employee  Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,144],"id":"6015e68c-9ee0-4bad-9e9e-1bf6e66c3531","name":"Not Got Employee  Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_location","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"locationname","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,560],"id":"e040be28-6c1c-473c-87dd-1dc665ceb919","name":"get location by locationname"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,560],"id":"6ee56379-26df-4ddb-9f01-4f56c6230e20","name":"Location Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.locationname + \" and text is \" + $input.first().json.data.description\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'location' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,464],"id":"1babc764-6a44-4934-8251-e07ae6a9d43c","name":"Got Location Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,608],"id":"5d8d8fd3-cd43-4471-a0bb-867797e5a8db","name":"Not Got Location Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_jobgroup","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"name","value":"={{ $json.formState.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,992],"id":"751bb74f-593c-4ac4-82b1-ead0b8f243ed","name":"get jobgroup by name"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1904,992],"id":"1a12fc5a-cea7-4ac7-91a8-a34db59b5e05","name":"Job Group Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.name + \" and text is \" + $input.first().json.data.name\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'job group' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,928],"id":"aa44d12f-529f-4d83-8b07-2a48f4c0fb6d","name":"Got Job Group Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,1072],"id":"a5c11aa8-460f-4ecd-87d5-953a6e352506","name":"Not Got Job Group Data"},{"parameters":{"fieldToSplitOut":"formState","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,160],"id":"141b6d3f-4511-4c70-98eb-f4fb1c7659f5","name":"Split Out"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,-1248],"id":"0e8e9662-6c0b-4d3f-8b7f-fe4004d2f2b8","name":"Template Meger"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,-800],"id":"3c1ef6d0-3e6a-43e9-ab7f-1828608140ed","name":"Company Meger"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2384,-336],"id":"9fe3c053-ddd8-4281-98e0-cfa849ad2a32","name":"Client Merger"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2400,128],"id":"3315c112-5a87-4a69-babe-9f694b321192","name":"Project Manager Merger"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2400,544],"id":"b2d6d6d7-6141-4952-99a6-a429717d9fde","name":"Location Merger"},{"parameters":{"numberInputs":7},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4480,-16],"id":"2efffab8-fe8f-4da5-97fe-ea3b61135436","name":"FormValidatedState"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2576,-1232],"id":"fc455b4f-ec6f-4f92-b43e-65909448be8e","name":"Template Status"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,-784],"id":"f86f8951-9e0b-42e0-be14-727a3c41f95b","name":"Company Status"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2608,-320],"id":"de252e3f-096e-47ea-976f-e4b4821efea0","name":"Client Status"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2624,144],"id":"60f46036-18fa-445a-904f-4f39691d2ced","name":"Project Manager Status"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,544],"id":"a0a3610d-a37c-461e-9cbf-bb2b7ff81e1c","name":"Location Status"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,1072],"id":"dfe962e7-279a-4628-881e-6dd3c176349b","name":"Job Group Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,-1216],"id":"18546061-7251-469b-9e96-ebfe2363f6a8","name":"Template Value Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-784],"id":"3e670909-e4b5-478c-b632-575b8b39a25f","name":"Company Value Exists"},{"parameters":{"jsCode":"return {\"validation_result\":\"Template value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-1088],"id":"2d397ff4-ffa8-4bbe-9c82-b09db0f0946b","name":"Template Field Not filled"},{"parameters":{"jsCode":"return {\"validation_result\":\"Company value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-640],"id":"fb599083-2b49-4e81-9972-4c6ffff83cf5","name":"Company Field Not filled"},{"parameters":{"jsCode":"return {\"validation_result\":\"Client value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-176],"id":"646ea46b-fa76-4bde-9efd-1941e0529f78","name":"Clinet Field Not filled"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,160],"id":"942de257-fe12-40da-a027-eaaa74cb3fbb","name":"Employee Value Exists"},{"parameters":{"jsCode":"return {\"validation_result\":\"project manager value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,288],"id":"31846484-580f-45f2-ac3b-9625f45be177","name":"Employee Field Not filled"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-304],"id":"425bb95f-f03c-4bcc-9f65-ff9351e9d5d0","name":"Client Value Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,608],"id":"4c0ace5d-94d2-49af-9302-1c76524c9b40","name":"Location Value Exists"},{"parameters":{"jsCode":"return {\"validation_result\":\"location value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,768],"id":"394c6f00-1314-4178-a1b0-5eb05898793c","name":"Location Field Not filled"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,1104],"id":"d52d0e77-8bd0-428c-9c85-b392a5ab4969","name":"Job Group Value Exists"},{"parameters":{"jsCode":"return {\"validation_result\":\"Job Group value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,1232],"id":"55222162-ab6a-4c0f-ae2f-ec033b2785ca","name":"Job Group Field Not filled"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2416,1056],"id":"f1d5f752-7c33-4691-bf46-4d6c417e9096","name":"Job Group Merger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3eb804a-7da3-4592-981b-3911e36a2077","leftValue":"={{ $json.formState.value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,1536],"id":"10cb7a21-e28a-4b2a-8f5e-bb0b64fe3eb6","name":"Job Name Value Exists"},{"parameters":{"jsCode":"return {\"validation_result\":\"Sub Job Name value is not filled yet.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,1600],"id":"c6df9995-02ca-4832-b80f-501eb0dcfd0e","name":"Job Name Field Not filled"},{"parameters":{"jsCode":"let data = $input.first().json.formState.value;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value according to system are: value is \\\"\"+ $input.first().json.formState.value + \"\\\"\"\n  };\n}\n\nreturn {\n  \"validation_result\":\"The Job Name is wrong please verify with user\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,1440],"id":"5723cd9a-3cf5-4742-b61d-3ec3728d713c","name":"Got Job Name Data"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2416,1520],"id":"be26a62a-d472-463b-9dd4-c012f66c4938","name":"Job Name Merger"},{"parameters":{"assignments":{"assignments":[{"id":"cd0cadeb-69dd-460a-98b1-d147ef1c117a","name":"validation_result","value":"={{ $json.validation_result }}","type":"string"},{"id":"ac7f52b7-c974-4d2b-87ca-65327d692ed7","name":"type","value":"={{ $('Switch').item.json.formState.type }}","type":"string"},{"id":"24304896-2858-4273-8692-7df348873f6f","name":"label","value":"={{ $('Switch').item.json.formState.label }}","type":"string"},{"id":"c5956efb-d580-49ce-b353-1bb714b8d584","name":"name","value":"={{ $('Switch').item.json.formState.name }}","type":"string"},{"id":"78903ee1-ea64-4177-a3f2-5aed4a5673be","name":"value","value":"={{ $('Switch').item.json.formState.value }}","type":"string"},{"id":"df3d1423-da88-4aab-ac46-dc88bf21bb10","name":"text","value":"={{ $('Switch').item.json.formState.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,1520],"id":"dc42dee6-7d3b-40a8-8366-3353c8b8e88e","name":"Job Name Status"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Template Value Exists","type":"main","index":0}],[{"node":"Company Value Exists","type":"main","index":0}],[{"node":"Client Value Exists","type":"main","index":0}],[{"node":"Employee Value Exists","type":"main","index":0}],[{"node":"Location Value Exists","type":"main","index":0}],[{"node":"Job Group Value Exists","type":"main","index":0}],[{"node":"Job Name Value Exists","type":"main","index":0}]]},"get template by id":{"main":[[{"node":"Template Error","type":"main","index":0}]]},"is Company Error":{"main":[[{"node":"Got Company Data","type":"main","index":0}],[{"node":"Not Got Company Data","type":"main","index":0}]]},"get company by id":{"main":[[{"node":"is Company Error","type":"main","index":0}]]},"Template Error":{"main":[[{"node":"Got Template Data","type":"main","index":0}],[{"node":"Not Got Template Data","type":"main","index":0}]]},"get client by id":{"main":[[{"node":"is Client Error","type":"main","index":0}]]},"is Client Error":{"main":[[{"node":"Got Client Data","type":"main","index":0}],[{"node":"Not Got Client Data","type":"main","index":0}]]},"get employee by id":{"main":[[{"node":"is Employee Error","type":"main","index":0}]]},"is Employee Error":{"main":[[{"node":"Got Employee  Data","type":"main","index":0}],[{"node":"Not Got Employee  Data","type":"main","index":0}]]},"get location by locationname":{"main":[[{"node":"Location Error","type":"main","index":0}]]},"Location Error":{"main":[[{"node":"Got Location Data","type":"main","index":0}],[{"node":"Not Got Location Data","type":"main","index":0}]]},"get jobgroup by name":{"main":[[{"node":"Job Group Error","type":"main","index":0}]]},"Job Group Error":{"main":[[{"node":"Got Job Group Data","type":"main","index":0}],[{"node":"Not Got Job Group Data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Got Template Data":{"main":[[{"node":"Template Meger","type":"main","index":0}]]},"Not Got Template Data":{"main":[[{"node":"Template Meger","type":"main","index":1}]]},"Got Company Data":{"main":[[{"node":"Company Meger","type":"main","index":0}]]},"Not Got Company Data":{"main":[[{"node":"Company Meger","type":"main","index":1}]]},"Got Client Data":{"main":[[{"node":"Client Merger","type":"main","index":0}]]},"Not Got Client Data":{"main":[[{"node":"Client Merger","type":"main","index":1}]]},"Got Employee  Data":{"main":[[{"node":"Project Manager Merger","type":"main","index":0}]]},"Not Got Employee  Data":{"main":[[{"node":"Project Manager Merger","type":"main","index":1}]]},"Got Location Data":{"main":[[{"node":"Location Merger","type":"main","index":0}]]},"Not Got Location Data":{"main":[[{"node":"Location Merger","type":"main","index":1}]]},"Got Job Group Data":{"main":[[{"node":"Job Group Merger","type":"main","index":0}]]},"Not Got Job Group Data":{"main":[[{"node":"Job Group Merger","type":"main","index":1}]]},"Template Meger":{"main":[[{"node":"Template Status","type":"main","index":0}]]},"Company Meger":{"main":[[{"node":"Company Status","type":"main","index":0}]]},"Client Merger":{"main":[[{"node":"Client Status","type":"main","index":0}]]},"Project Manager Merger":{"main":[[{"node":"Project Manager Status","type":"main","index":0}]]},"Location Merger":{"main":[[{"node":"Location Status","type":"main","index":0}]]},"Template Status":{"main":[[{"node":"FormValidatedState","type":"main","index":0}]]},"Company Status":{"main":[[{"node":"FormValidatedState","type":"main","index":1}]]},"Client Status":{"main":[[{"node":"FormValidatedState","type":"main","index":2}]]},"Project Manager Status":{"main":[[{"node":"FormValidatedState","type":"main","index":3}]]},"Location Status":{"main":[[{"node":"FormValidatedState","type":"main","index":4}]]},"Job Group Status":{"main":[[{"node":"FormValidatedState","type":"main","index":5}]]},"Template Value Exists":{"main":[[{"node":"get template by id","type":"main","index":0}],[{"node":"Template Field Not filled","type":"main","index":0}]]},"Company Value Exists":{"main":[[{"node":"get company by id","type":"main","index":0}],[{"node":"Company Field Not filled","type":"main","index":0}]]},"Template Field Not filled":{"main":[[{"node":"Template Meger","type":"main","index":2}]]},"Company Field Not filled":{"main":[[{"node":"Company Meger","type":"main","index":2}]]},"Clinet Field Not filled":{"main":[[{"node":"Client Merger","type":"main","index":2}]]},"Employee Value Exists":{"main":[[{"node":"get employee by id","type":"main","index":0}],[{"node":"Employee Field Not filled","type":"main","index":0}]]},"Employee Field Not filled":{"main":[[{"node":"Project Manager Merger","type":"main","index":2}]]},"Client Value Exists":{"main":[[{"node":"get client by id","type":"main","index":0}],[{"node":"Clinet Field Not filled","type":"main","index":0}]]},"Location Value Exists":{"main":[[{"node":"get location by locationname","type":"main","index":0}],[{"node":"Location Field Not filled","type":"main","index":0}]]},"Location Field Not filled":{"main":[[{"node":"Location Merger","type":"main","index":2}]]},"Job Group Value Exists":{"main":[[{"node":"get jobgroup by name","type":"main","index":0}],[{"node":"Job Group Field Not filled","type":"main","index":0}]]},"Job Group Field Not filled":{"main":[[{"node":"Job Group Merger","type":"main","index":2}]]},"Job Group Merger":{"main":[[{"node":"Job Group Status","type":"main","index":0}]]},"Job Name Value Exists":{"main":[[{"node":"Got Job Name Data","type":"main","index":0}],[{"node":"Job Name Field Not filled","type":"main","index":0}]]},"Job Name Field Not filled":{"main":[[{"node":"Job Name Merger","type":"main","index":1}]]},"Got Job Name Data":{"main":[[{"node":"Job Name Merger","type":"main","index":0}]]},"Job Name Merger":{"main":[[{"node":"Job Name Status","type":"main","index":0}]]},"Job Name Status":{"main":[[{"node":"FormValidatedState","type":"main","index":6}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"formState":[{"type":"text","label":"Job Name","name":"jobname","value":"IDIC SS CInnabon Launch - Owned Channel Support-Testing-Testing"},{"type":"select","label":"Customer","name":"client","value":"1119","text":"David Curran"},{"type":"select","label":"Company ","name":"company","value":"11","text":"4CE LLC"},{"type":"select","label":"Template","name":"template","value":"ZZ_Cleaning","text":"ZZ_Cleaning"},{"type":"select","label":"Project Manager","name":"projectmanagernumber","value":"ZZMaconomy","text":"Maconomy"},{"type":"select","label":"Location ","name":"locationname","value":"CLEANING","text":"Cleaning"},{"type":"select","label":"Job Group","name":"jobgroup","value":"Time & Material","text":"Time & Material"}],"x_reconnect_token":"N2FlOTNkZGQtMmMzZi00YmRkLWI1NGYtN2I3YmYwMzAxMzQz:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5HzZmZTAwZGVkMTJjOTQ2ZTdhYTU0YjdkYjExYzRlMjliHzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fCor1DdvrJO1UAbhdroo/CQ==","base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037"}}]},"versionId":"1011dd8e-57fe-4b2b-9862-03bfc7ea5fb2","triggerCount":0,"tags":[{"createdAt":"2025-07-27T16:13:29.615Z","updatedAt":"2025-07-27T16:13:29.615Z","id":"PnxKYWk0j7kgO7lb","name":"Vsky"}]}