workflows/Sub Job Data validator.json
{"createdAt":"2025-07-25T13:59:34.983Z","updatedAt":"2025-07-25T15:04:27.000Z","id":"kKE6EYU20S5tC1Tz","name":"Sub Job Data validator","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"},{"name":"name"},{"name":"value"},{"name":"text"},{"name":"x_reconnect_token"},{"name":"base_url"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-96,352]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"template","operator":{"type":"string","operation":"equals"},"id":"20767b5e-4267-41e7-b691-6ac021da66c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ad6d861-538d-4f5e-9b44-39bcc1841233","leftValue":"={{ $json.name }}","rightValue":"template","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[112,352],"id":"2c89af54-e2b5-478f-8993-480bb95d81d2","name":"Switch"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_template","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"templatenumber","value":"=ZZ_Cleaning"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,256],"id":"01d549f4-13e7-4990-92e1-01bd9326438e","name":"get template by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,256],"id":"02165420-1a94-4d4b-8217-df8c105c55be","name":"If"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,352],"id":"367f55b0-9f34-4064-abcd-f11056eb69cf","name":"do not get template"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.jobnumber + \" and text is \" + $input.first().json.data.jobname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'template' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,176],"id":"c4ba2579-6298-4497-bc71-b5e893b0d565","name":"Got Data"},{"parameters":{"jsCode":"\nreturn {\n  \"validation_result\":\"Data is valid\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,464],"id":"19ad85a0-5431-480f-a4d0-4f45a223ed77","name":"Got Data1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get template by id","type":"main","index":0}],[{"node":"Got Data1","type":"main","index":0}]]},"get template by id":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Got Data","type":"main","index":0}],[{"node":"do not get template","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"01f5f129-b44d-4893-b832-0e2ffd217163","triggerCount":0,"tags":[]}