workflows/Sub Job Data validator.json
{"createdAt":"2025-07-25T13:59:34.983Z","updatedAt":"2025-08-12T15:01:48.000Z","id":"kKE6EYU20S5tC1Tz","name":"Sub Job Data validator","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"},{"name":"name"},{"name":"value"},{"name":"text"},{"name":"x_reconnect_token"},{"name":"base_url"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[144,1136]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"template","operator":{"type":"string","operation":"equals"},"id":"20767b5e-4267-41e7-b691-6ac021da66c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ad6d861-538d-4f5e-9b44-39bcc1841233","leftValue":"={{ $json.name }}","rightValue":"company","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Company"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ad0956f-2679-4d59-9e5b-390d3f8eafec","leftValue":"={{ $json.name }}","rightValue":"client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Client"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c55133ab-bfb4-4af1-96b8-0933ab92061a","leftValue":"={{ $json.name }}","rightValue":"projectmanagernumber","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Project Manager"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"969da29b-1d95-4a00-a9dc-d6e0bdcd9f22","leftValue":"={{ $json.name }}","rightValue":"locationname","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Location"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73fa7e47-3e3b-4a71-83e1-da6163357bbe","leftValue":"={{ $json.name }}","rightValue":"jobgroup","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Job Group"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc845c29-6d8b-431f-9c9b-242efcaa8097","leftValue":"={{ $json.name }}","rightValue":"jobname","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JobName"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,1056],"id":"2c89af54-e2b5-478f-8993-480bb95d81d2","name":"Switch"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_template","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"templatenumber","value":"={{ $json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,256],"id":"01d549f4-13e7-4990-92e1-01bd9326438e","name":"get template by id"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.companynumber + \" and text is \" + $input.first().json.data.companyname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Company for the provided value and and text check with 'company' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,496],"id":"d3ddf630-309c-4cf3-8c8d-981d22379027","name":"Got Company Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,576],"id":"98d63138-290f-4b48-af3b-5dfc6893ab91","name":"is Company Error"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_company","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"companynumber","value":"={{ $json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,576],"id":"69d6b29b-4267-4a6f-83fa-e96dd2c7b9ee","name":"get company by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,256],"id":"02165420-1a94-4d4b-8217-df8c105c55be","name":"Template Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.jobnumber + \" and text is \" + $input.first().json.data.jobname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'template' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,176],"id":"c4ba2579-6298-4497-bc71-b5e893b0d565","name":"Got Template Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,352],"id":"367f55b0-9f34-4064-abcd-f11056eb69cf","name":"Not Got Template Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,672],"id":"0978fa77-4c37-4df9-bbfd-13c4c9d80882","name":"Not Got Company Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_client","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"clientnumber","value":"={{ $json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,912],"id":"7d2d342b-3c09-47a8-9f1c-377aed2ff257","name":"get client by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,912],"id":"6656bcb0-4ee8-4230-af9b-fb4d25b8939f","name":"is Client Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.clientnumber + \" and text is \" + $input.first().json.data.clientname\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Client for the provided value and and text check with 'client' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,832],"id":"369c15ff-1b6f-4de5-bcd9-6cfd5a79f803","name":"Got Client Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1008],"id":"bd86654f-cfa6-4de1-9bc9-0b1508f241ee","name":"Not Got Client Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_employee","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"employeenumber","value":"={{ $('When Executed by Another Workflow').item.json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,1264],"id":"faf6a4db-84be-4f9b-9681-2412c042069e","name":"get employee by id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1264],"id":"88fa1712-dc37-4772-b5af-46fa801850eb","name":"is Employee Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.employeenumber + \" and text is \" + $input.first().json.data.employeename\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get Client for the provided value and and text check with corresponding tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1184],"id":"0d29e67c-cb85-4473-8631-261cb4c1ae0f","name":"Got Employee  Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1344],"id":"c2d09777-b289-48d0-91e8-bfc0ced9c06f","name":"Not Got Employee  Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_location","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"locationname","value":"={{ $json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,1600],"id":"67d6a7fd-7cd2-4ad6-868a-7f8a69113173","name":"get location by locationname"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1600],"id":"d0b4a8c9-a943-417b-b72e-eaf7fa0affd8","name":"Location Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.locationname + \" and text is \" + $input.first().json.data.description\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'location' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1520],"id":"3a307d66-d794-4923-998c-d064b58abec0","name":"Got Location Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1696],"id":"6e4cd221-0c64-4952-b0bc-f020df65c7ff","name":"Not Got Location Data"},{"parameters":{"method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/get_jobgroup","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('When Executed by Another Workflow').item.json.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('When Executed by Another Workflow').item.json.base_url }}"},{"name":"name","value":"={{ $json.value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,1936],"id":"8a39082b-be60-4515-ae4a-eee8de27c151","name":"get jobgroup by name"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8babb612-ca3f-444a-9163-325f6d2b0552","leftValue":"={{ $json.iserror }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,1936],"id":"8aed126b-94ab-4b6b-ba92-de85ccac4e43","name":"Job Group Error"},{"parameters":{"jsCode":"let data = $input.first().json.data;\nif(data){\n  return {\n    \"validation_result\":\"The data is valid. Correct value and text according to system are: value is \"+$input.first().json.data.name + \" and text is \" + $input.first().json.data.name\n  };\n}\n\nreturn {\n  \"validation_result\":\"Did't get template for the provided value and and text check with 'job group' tool again.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1872],"id":"69ae5714-389a-4f1c-a55e-abd67f594094","name":"Got Job Group Data"},{"parameters":{"jsCode":"return {\"validation_result\":\"Did't get any corresponding data in system. check with any other query.\"};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,2048],"id":"fc3fb6c7-6bb4-4381-971c-548414a83763","name":"Not Got Job Group Data"},{"parameters":{"jsCode":"\nreturn {\n  \"validation_result\":\"The data is valid. Correct value and text according to system.\"\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,2224],"id":"20a99818-4b9c-4ba5-af75-d21ff3ec26d1","name":"Got Job Group Data1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get template by id","type":"main","index":0}],[{"node":"get company by id","type":"main","index":0}],[{"node":"get client by id","type":"main","index":0}],[{"node":"get employee by id","type":"main","index":0}],[{"node":"get location by locationname","type":"main","index":0}],[{"node":"get jobgroup by name","type":"main","index":0}],[{"node":"Got Job Group Data1","type":"main","index":0}]]},"get template by id":{"main":[[{"node":"Template Error","type":"main","index":0}]]},"is Company Error":{"main":[[{"node":"Got Company Data","type":"main","index":0}],[{"node":"Not Got Company Data","type":"main","index":0}]]},"get company by id":{"main":[[{"node":"is Company Error","type":"main","index":0}]]},"Template Error":{"main":[[{"node":"Got Template Data","type":"main","index":0}],[{"node":"Not Got Template Data","type":"main","index":0}]]},"get client by id":{"main":[[{"node":"is Client Error","type":"main","index":0}]]},"is Client Error":{"main":[[{"node":"Got Client Data","type":"main","index":0}],[{"node":"Not Got Client Data","type":"main","index":0}]]},"get employee by id":{"main":[[{"node":"is Employee Error","type":"main","index":0}]]},"is Employee Error":{"main":[[{"node":"Got Employee  Data","type":"main","index":0}],[{"node":"Not Got Employee  Data","type":"main","index":0}]]},"get location by locationname":{"main":[[{"node":"Location Error","type":"main","index":0}]]},"Location Error":{"main":[[{"node":"Got Location Data","type":"main","index":0}],[{"node":"Not Got Location Data","type":"main","index":0}]]},"get jobgroup by name":{"main":[[{"node":"Job Group Error","type":"main","index":0}]]},"Job Group Error":{"main":[[{"node":"Got Job Group Data","type":"main","index":0}],[{"node":"Not Got Job Group Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"type":"text","name":"jobname","value":"Invoicing","text":"Invoicing","x_reconnect_token":"OGFlZDc3MWItNmVjYy00ZTQ1LThmMGItZTdhMWZkZGM1OTcx:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5H2FkNDk4MmM0OTIyMTQ0ZTY5YTE2OWY3MjUyZmQyOGU1HzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fb8AIhMWt1r8qGWKVxqn6Iw==","base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037"}}]},"versionId":"d08bff33-5e16-42c1-b507-a00f52101bfe","triggerCount":0,"tags":[{"createdAt":"2025-07-27T16:13:29.615Z","updatedAt":"2025-07-27T16:13:29.615Z","id":"PnxKYWk0j7kgO7lb","name":"Vsky"}]}