workflows/Sub-Job-Agent.json
{"createdAt":"2025-07-25T10:50:45.379Z","updatedAt":"2025-07-29T13:23:00.000Z","id":"G6JxoB5IMKlcf4pb","name":"Sub-Job-Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sub-job-agent-webhook","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,-176],"id":"6dc46a56-9c31-4bf0-9772-2bd7aca4a0ce","name":"Sub-Job-Agent-Webhook","webhookId":"ab70c6ff-61db-49ae-94ee-607be5a7498f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[224,-272],"id":"fb83557e-5553-4b4d-ae59-b0d1299666b9","name":"Sub-Job-Agent-Webhook-Response"},{"parameters":{"promptType":"define","text":"=### User Messange: \"{{ $json.user_message }}\"\n\n### Form Data Fields:\n{{ $json.form_state }}\n\n### Form Data State:\n{{ $json.data_state }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful AI assistant that assists users in completing structured forms by understanding their intent and previously filled data. Your job is to interpret the user's message and update the form field data accordingly.\n\n### Your Responsibilities:\n\n1. Interpret the user’s message to identify and update any relevant form fields.\n2. Only update fields explicitly mentioned or implied by the user.\n3. Retain all existing field values unless the user requests a change.\n4. For dropdown (select) fields, update both `value` and `text`.\n\n### Processing Flow:\n\n1. **Update Form Fields**\n   * Based on the user message, update only the relevant fields. find data using attached 'find_*' tools. and use \"Data Field Validator\" tool to check the validate that single field. do not use \"form validator\" tool in this case\n  e.g steps check what user wants to suggest>call \"find_*\"\" tool to search data > User \"Data Field Validator\" to validate the single field> updated formstate json.\n\n2. **Clarify Missing Fields**\n   * If any required field has `value = \"null\" or \"\"` and is still not provided, ask the user to complete it in the `replytouser`.\n\n3. **Validate Updated Data**\n   * Use the \"Form Validator\" tool to validate whole form data once all fields are filled completly.\n   * If all required fields are filled, set:\n     `isAllFormCompleted = true`\n   * If all values pass validation, set:\n     `isAllFormDataValidated = true`\n   * If validation fails, mention the invalid entries clearly in `replytouser`.\n\n4. **Prompt for Submission**\n   * Once the form is complete and validated, ask the user to confirm submission.\n   * On confirmation, set:\n     `isFormDataSubmitted = true`\n   * Mention Proper detail in reply after Form Submission. and ask user \"Have You Reviewed next form?\"\n\n### Final Output Format (Always return):\n\n```json\n{\n  \"replytouser\": \"Friendly and clear message here.\",\n  \"subjobnumber\":\"After submission su job number will return. till set it its null\",\n  \"isAllFormCompleted\": false,\n  \"isAllFormDataValidated\": false,\n  \"isFormDataSubmitted\": false,\n  \"formState\": [\n    {\n      \"type\": \"select\",\n      \"label\": \"Customer\",\n      \"name\": \"client\",\n      \"value\": \"1119\",\n      \"text\": \"David Curran\"\n    },\n    ...\n  ]\n}\n```\n\nNever guess values. Never clear any existing value unless the user asks. Always preserve context and data accuracy."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-448,-176],"id":"1afb9bbf-382e-4bb0-81ff-eb7e992bdfda","name":"Assistant","onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"form_state = _input.first().json.body.dataState\nuser_message = _input.first().json.body.userMessage\n\nform_state_prompt = f\"There are total {len(form_state)} fields in form with below name:label:type mapping:\\n\"\nform_state_prompt += '\\n'.join([f\"{idx+1}. {i['name']}:{i['label']}:{i['type']}\" for idx, i in enumerate(form_state)])\n\ndata_state = \"Here are the data state of the fields as:\\n\"\nfor idx, i in enumerate(form_state):\n    context = f\"{idx+1}. {i['label']}:\\n\"\n    if i[\"type\"] == \"text\":\n        context += \"\\t The type of this field is 'Input: text' and data in field is:\\n\"\n        context += f\"\\t\\ta.value : '{i['value'] if i['value'] else 'null'}'\\n\"\n    elif i[\"type\"] == \"select\":\n        context += \"\\t The type of this field is 'Select: Dropdown' and option selected in field is:\\n\"\n        context += f\"\\t\\ta.value : '{i['value'] if i['value'] else 'null'}'\\n\"\n        context += f\"\\t\\tb.text : '{i['text'] if i['text'] else 'null'}'\\n\"\n    data_state += context\n\nreturn {\n    \"user_message\": user_message,\n    \"form_state\": form_state_prompt,\n    \"data_state\": data_state\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-176],"id":"9bd0c3ac-e1ac-4666-8700-519bfb9491d5","name":"Code"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Sub-Job-Agent-Webhook').item.json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1344,400],"id":"734d6969-53d8-481d-9b37-3b5524352f66","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n\t\"replytouser\": \"string\",\n    \"subjobnumber\":\"string(when sub job submitted successfully) or null\",\n    \"isAllFormCompleted\":false,\n    \"isAllFormDataValidated\":false,\n    \"isFormDataSubmitted\":false,\n\t\"formState\": [{\n      \"type\": \"string\",\n      \"label\": \"string\",\n      \"name\": \"string\",\n      \"value\": \"string\",\n      \"text\": \"string\"\n    }]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[976,480],"id":"2ed890d5-af38-43e9-8a42-7f9f34b91914","name":"Structured Output Parser"},{"parameters":{"options":{"maxOutputTokens":1000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1504,400],"id":"67158d65-86d3-4c45-9337-8d5a43649f8d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const reply = $input.first().json.output.replytouser;\nconst formState = $input.first().json.output.formState;\n\nreturn {\n  \"reply\":reply,\n  \"isAllFormCompleted\":$input.first().json.output.isAllFormCompleted,\n  \"subjobnumber\":$input.first().json.output.subjobnumber,\n  \"isAllFormDataValidated\":$input.first().json.output.isAllFormDataValidated,\n  \"isFormDataSubmitted\":$input.first().json.output.isFormDataSubmitted,\n  \"formState\":formState\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-272],"id":"9e87dfbb-5881-4ce1-b938-23c17015815b","name":"Code1"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[848,304],"id":"01fbd56f-5585-45ff-811e-af65849c4930","name":"Auto-fixing Output Parser"},{"parameters":{"options":{"maxOutputTokens":2000}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,480],"id":"196eb6df-d0e4-4a82-a8f6-cfa105821ceb","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const formState = $('Sub-Job-Agent-Webhook').first().json.body.dataState;\n\nreturn {\n  \"reply\":\"Something went wrong\",\n  \"subjobnumber\":null,\n  \"isAllFormCompleted\":false,\n  \"isAllFormDataValidated\":false,\n  \"isFormDataSubmitted\":false,\n  \"formState\":formState\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-80],"id":"747d0a82-874c-4537-a64f-d680993bba79","name":"agent error"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[224,-80],"id":"dc131ac6-f6d8-4ec6-a73e-5c5981488079","name":"Sub-Job-Agent-Webhook-Error-Response"},{"parameters":{"description":"Call to validate only one field data updated or selected in this attempt by user.","workflowId":{"__rl":true,"value":"kKE6EYU20S5tC1Tz","mode":"list","cachedResultName":"Sub Job Data validator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `type of the data object updated or changed\ne.g. select, text`, 'string') }}","name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `name of the data object updated or changed\ne.g. jobname, client`, 'string') }}","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value', `changed value of the data object updated or changed by agent`, 'string') }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', `text of the of the data object updated or changed by agent`, 'string') }}","x_reconnect_token":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}","base_url":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},"matchingColumns":[],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"x_reconnect_token","displayName":"x_reconnect_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[192,416],"id":"70841421-ed4f-419b-bd3e-78ff6c658107","name":"Data Field Validator"},{"parameters":{"content":"### LLM and Memory\n","height":560,"width":432},"type":"n8n-nodes-base.stickyNote","position":[-1584,256],"typeVersion":1,"id":"3df9e67d-4175-4176-ab45-afdf0d20a6a6","name":"Sticky Note"},{"parameters":{"content":"## Tools","height":560,"width":1840},"type":"n8n-nodes-base.stickyNote","position":[-1136,256],"typeVersion":1,"id":"22a4d32f-06c9-4b37-a510-e105cc16c57a","name":"Sticky Note1"},{"parameters":{"content":"## Parser","height":560,"width":560},"type":"n8n-nodes-base.stickyNote","position":[720,256],"typeVersion":1,"id":"7a8aa5ee-b359-455b-b080-ef6256bba33b","name":"Sticky Note2"},{"parameters":{"content":"## Output","height":608,"width":1312},"type":"n8n-nodes-base.stickyNote","position":[-32,-368],"typeVersion":1,"id":"4ca5e127-f058-4d71-b8ca-cafdfa15abcf","name":"Sticky Note3"},{"parameters":{"content":"## Entry","height":608,"width":1040,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1584,-368],"typeVersion":1,"id":"ca6a293f-c9db-4113-b5c4-143156d995fb","name":"Sticky Note4"},{"parameters":{"content":"## Agent","height":608,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-528,-368],"typeVersion":1,"id":"b5fd1c13-3ff1-4c07-9623-80943bf72456","name":"Sticky Note5"},{"parameters":{"description":"Call when all form is completely filled then Need complete form validation of the form data before submission.","workflowId":{"__rl":true,"value":"QAcSLOKwG9ydHtDF","mode":"list","cachedResultName":"Sub Job Form Validation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"formState":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('formState', `array of field data\n[        \n    {\n      \"type\": \"select\",\n      \"label\": \"Customer\",\n      \"name\": \"client\",\n      \"value\": \"1119\",\n      \"text\": \"David Curran\"\n    }    \n]`, 'string') }}","x_reconnect_token":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}","base_url":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},"matchingColumns":["formState"],"schema":[{"id":"formState","displayName":"formState","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"x_reconnect_token","displayName":"x_reconnect_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[368,416],"id":"5aee9e47-e91d-4b31-aacc-c3f8e08930dd","name":"Form Validation"},{"parameters":{"description":"Submit the data","workflowId":{"__rl":true,"value":"Rlg6rDOC4QJL3MXg","mode":"list","cachedResultName":"Sub Job Submission"},"workflowInputs":{"mappingMode":"defineBelow","value":{"MainJobName":"={{ $('Sub-Job-Agent-Webhook').item.json.body.mainjobnumber }}","formData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('formData', `array of field data\n[        \n    {\n      \"type\": \"select\",\n      \"label\": \"Customer\",\n      \"name\": \"client\",\n      \"value\": \"1119\",\n      \"text\": \"David Curran\"\n    }    \n]`, 'string') }}","x_reconnect_token":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}","base_url":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}","formId":"={{ $('Sub-Job-Agent-Webhook').item.json.body.formId }}"},"matchingColumns":[],"schema":[{"id":"MainJobName","displayName":"MainJobName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formData","displayName":"formData","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"x_reconnect_token","displayName":"x_reconnect_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"formId","displayName":"formId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[528,416],"id":"11dffd61-b697-48f5-a314-7ac1b3cc99aa","name":"Submit Data"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding job name. Use this tool when job-specific information needs to be retrieved from Maconomy ERP System using Job name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"jobname"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of job name user wants to search in system\ne.g\nto search \"Invoicing\"\nq_csv will be \"invoice,Inv,voice,voicing\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1040,416],"id":"4595cb91-b20a-439c-b5fb-43dd07a6f0ef","name":"find_jobname"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding client. Use this tool when client-specific information needs to be retrieved from Maconomy ERP System using Client name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"client"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'client' user wants to search in system\ne.g\nto search \"David\"\nq_csv will be \"Dav,david,avid\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-880,416],"id":"2f61c48a-7592-43b3-bfd3-38028c029bdb","name":"find_client"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding company. Use this tool when Company-specific information needs to be retrieved from Maconomy ERP System using Company name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"company"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of company user wants to search in system\ne.g\nto search \"Amazon Inc\"\nq_csv will be \"Amazon,Amaz,azon\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-704,416],"id":"508e3ee1-cef7-4bef-8f7d-6e8808bd28dd","name":"find_company"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding template. Use this tool when Template-specific information needs to be retrieved from Maconomy ERP System using Template name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"template"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'template' user wants to search in system\ne.g\nto search \"ZZ_Cleaning\"\nq_csv will be \"ZZ_Cleaning,clean,ZZ_Clean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-512,416],"id":"61e0ca80-9969-4627-9848-4aa4887d68a9","name":"find_template"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding projectmanager. Use this tool when Project manager -specific information needs to be retrieved from Maconomy ERP System using Project Manager name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"projectmanagernumber"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'projectmanager' user wants to search in system\ne.g\nto search \"David Curran\"\nq_csv will be \"David Curran,David,Curran,Dav\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-320,416],"id":"b48138bf-e037-4ea2-9eb7-9ebeb21fee8c","name":"find_projectmanager"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding locationname.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"locationname"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'locationname' user wants to search in system\ne.g\nto search \"cleaning\"\nq_csv will be \"cleaning,clean,lean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-144,416],"id":"de1125a7-913b-4bf8-b4e3-82972ba10f0f","name":"find_locationname"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding jobgroup. Use this tool when Job Group-specific information needs to be retrieved from Maconomy ERP System using Job Group Name wildcard search.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"jobgroup"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'jobgroup' user wants to search in system\ne.g\nto search \"cleaning\"\nq_csv will be \"cleaning,clean,lean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[16,416],"id":"84aad53d-8c7a-4a9a-a068-e63d34edbed2","name":"find_jobgroup"},{"parameters":{"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[912,688],"id":"e8f2f352-77d7-4dab-862c-29a053fb9aed","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"gyiEFyOjZ617PJtx","name":"Vsky: shuparab123@gmail.com"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,688],"id":"8de3b606-20a8-4167-bf1e-3c3c966d15aa","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Sub-Job-Agent-Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Assistant":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"agent error","type":"main","index":0}]]},"Code":{"main":[[{"node":"Assistant","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Assistant","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistant","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Sub-Job-Agent-Webhook-Response","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Assistant","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"agent error":{"main":[[{"node":"Sub-Job-Agent-Webhook-Error-Response","type":"main","index":0}]]},"Data Field Validator":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"Form Validation":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"Submit Data":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_jobname":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_client":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_company":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_template":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_projectmanager":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_locationname":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"find_jobgroup":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model2":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":3600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Sub-Job-Agent-Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"1199","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","accept":"*/*","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","origin":"https://localhost:3000","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://localhost:3000/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{},"body":{"mainjobnumber":"111100369","base_url":"https://med72037-api.deltekfirst.com/containers/v1/md72037","x_reconnect_token":"ZDcxNGM5OGEtYzJiNS00ZjgyLWI5MzctYmE0MTBhYjFmNmUy:NGMwYWQxNzItMjc3OS00NGI0LTllMjctMmNlN2I2NjlhNmM5HzM2MzE3ZWQ2Nzc2ZDQzYzZhYTNmYjBlNWQ2MjY5ZGEwHzEwHy0xH1Bhc3N3b3JkTG9naW4eV2ViTG9naW4fa+B+hObHRGIU1Z5GDs6Xfw==","userMessage":"Their is \"Time & Material\" please update it","sessionId":"0e364bfd-d19b-4e92-b8ca-9b5bd78371f3","state":"form_filler_loop_node","formId":"0e364bfd-d19b-4e92-b8ca-9b5bd78371f3","dataState":[{"type":"text","label":"Job Name","name":"jobname","value":"IDIC SS Cinnabon Launch - Media Relations"},{"type":"select","label":"Customer","name":"client","value":"1119","text":"David Curran"},{"type":"select","label":"Company ","name":"company","value":"11","text":"4CE LLC"},{"type":"select","label":"Template","name":"template","value":"ZZ_Cleaning","text":"ZZ_Cleaning"},{"type":"select","label":"Project Manager","name":"projectmanagernumber","value":"ZZMaconomy","text":"Maconomy"},{"type":"select","label":"Location ","name":"locationname","value":"CLEANING","text":"Cleaning"},{"type":"select","label":"Job Group","name":"jobgroup","value":"","text":""}]},"webhookUrl":"https://n8n.prasadsawant.com/webhook/sub-job-agent-webhook","executionMode":"production"}}]},"versionId":"a4a2899a-71c9-4bdf-8fd1-d9744af511ff","triggerCount":1,"tags":[{"createdAt":"2025-07-27T16:13:29.615Z","updatedAt":"2025-07-27T16:13:29.615Z","id":"PnxKYWk0j7kgO7lb","name":"Vsky"}]}