workflows/Sub-Job-Agent.json
{"createdAt":"2025-07-25T10:50:45.379Z","updatedAt":"2025-07-25T14:58:07.000Z","id":"G6JxoB5IMKlcf4pb","name":"Sub-Job-Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sub-job-agent-webhook","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,-160],"id":"6dc46a56-9c31-4bf0-9772-2bd7aca4a0ce","name":"Sub-Job-Agent-Webhook","webhookId":"ab70c6ff-61db-49ae-94ee-607be5a7498f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,-288],"id":"fb83557e-5553-4b4d-ae59-b0d1299666b9","name":"Sub-Job-Agent-Webhook-Response"},{"parameters":{"promptType":"define","text":"=### User Messange: \"{{ $json.user_message }}\"\n\n### Form Data Fields:\n{{ $json.form_state }}\n\n### Form Data State:\n{{ $json.data_state }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful AI assistant that assists users in completing structured forms by understanding their intent and previously filled data. Your job is to interpret the user's message and update the form field data accordingly.\n\nYou are given:\n- A user's message (intent or instruction)\n- A list of form fields with their current state: name, label, type, value, and (if select) the selected option text.\n\nYour goal:\n1. If the user's message clearly provides information to fill/update any form field, do so and update only that field's values.\n2. ALWAYS use \"Data Validator\" tool to validate the data got from tools\n3. If the user's message does **not mention** a field, **retain its existing values**.\n4. If some fields are incomplete (e.g., value is \"Not Selected yet\") and the user still has not provided those, mark them as needing clarification.\n5. Return the following structured JSON object:\n   - `replytouser`: A friendly message that confirms what was updated or asks for missing values.\n   - `formState`: A full list of all fields (same order), with updated values where available.\n\nUse tools to fetch additional required options or valid values for any field as needed (e.g., get list of valid Locations, Job Groups, etc.).\n\nIf the user hasn't provided required data for a mandatory field, ask for it clearly in `replytouser`.\n\nDo not change any value unless the user explicitly asks to. Preserve filled data. Never guess.\n\nExample of output:\n```json\n{\n  \"replytouser\": \"Thanks! I’ve updated the Customer and Project Manager. Please let me know the Location and Job Group to continue.\",\n  \"formState\": [\n    {\n      \"type\": \"select\",\n      \"label\": \"Customer\",\n      \"name\": \"client\",\n      \"value\": \"1119\",\n      \"text\": \"David Curran\"\n    },\n    ...\n  ]\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-272,-160],"id":"1afb9bbf-382e-4bb0-81ff-eb7e992bdfda","name":"Assistant","onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"form_state = _input.first().json.body.dataState\nuser_message = _input.first().json.body.userMessage\n\nform_state_prompt = f\"There are total {len(form_state)} fields in form with below name:label:type mapping:\\n\"\nform_state_prompt += '\\n'.join([f\"{idx+1}. {i['name']}:{i['label']}:{i['type']}\" for idx, i in enumerate(form_state)])\n\ndata_state = \"Here are the data state of the fields as:\\n\"\nfor idx, i in enumerate(form_state):\n    context = f\"{idx+1}. {i['label']}:\\n\"\n    if i[\"type\"] == \"text\":\n        context += \"\\t The type of this field is 'Input: text' and data in field is:\\n\"\n        context += f\"\\t\\ta.value : '{i['value'] if i['value'] else 'null'}'\\n\"\n    elif i[\"type\"] == \"select\":\n        context += \"\\t The type of this field is 'Select: Dropdown' and option selected in field is:\\n\"\n        context += f\"\\t\\ta.value : '{i['value'] if i['value'] else 'null'}'\\n\"\n        context += f\"\\t\\tb.text : '{i['text'] if i['text'] else 'null'}'\\n\"\n    data_state += context\n\nreturn {\n    \"user_message\": user_message,\n    \"form_state\": form_state_prompt,\n    \"data_state\": data_state\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-160],"id":"9bd0c3ac-e1ac-4666-8700-519bfb9491d5","name":"Code"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Sub-Job-Agent-Webhook').item.json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-848,208],"id":"734d6969-53d8-481d-9b37-3b5524352f66","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n\t\"replytouser\": \"string\",\n\t\"formState\": [{\n      \"type\": \"string\",\n      \"label\": \"string\",\n      \"name\": \"string\",\n      \"value\": \"string or null\",\n      \"text\": \"string or null\"\n    }]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[496,400],"id":"2ed890d5-af38-43e9-8a42-7f9f34b91914","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1024,192],"id":"67158d65-86d3-4c45-9337-8d5a43649f8d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const reply = $input.first().json.output.replytouser;\nconst formState = $input.first().json.output.formState;\n\nreturn {\n  \"reply\":reply,\n  \"formState\":formState\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-288],"id":"9e87dfbb-5881-4ce1-b938-23c17015815b","name":"Code1"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding job.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"jobname"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of job name user wants to search in system\ne.g\nto search \"Invoicing\"\nq_csv will be \"invoice,Inv,voice,voicing\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-880,528],"id":"4595cb91-b20a-439c-b5fb-43dd07a6f0ef","name":"jobname"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding client.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"client"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'client' user wants to search in system\ne.g\nto search \"David\"\nq_csv will be \"Dav,david,avid\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-736,624],"id":"2f61c48a-7592-43b3-bfd3-38028c029bdb","name":"client"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding locationname.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"locationname"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'locationname' user wants to search in system\ne.g\nto search \"cleaning\"\nq_csv will be \"cleaning,clean,lean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-128,752],"id":"de1125a7-913b-4bf8-b4e3-82972ba10f0f","name":"locationname"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[400,208],"id":"01fbd56f-5585-45ff-811e-af65849c4930","name":"Auto-fixing Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,400],"id":"196eb6df-d0e4-4a82-a8f6-cfa105821ceb","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"A6pXfrHCKXrRlx2l","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding locationname.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"jobgroup"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'jobgroup' user wants to search in system\ne.g\nto search \"cleaning\"\nq_csv will be \"cleaning,clean,lean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[32,736],"id":"84aad53d-8c7a-4a9a-a068-e63d34edbed2","name":"jobgroup"},{"parameters":{"description":"validate the data updated or selected data object","workflowId":{"__rl":true,"value":"kKE6EYU20S5tC1Tz","mode":"list","cachedResultName":"Sub Job Data validator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `type of the data object updated or changed\ne.g. select, text`, 'string') }}","name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `name of the data object updated or changed\ne.g. jobname, client`, 'string') }}","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value', `changed value of the data object updated or changed by agent`, 'string') }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', `text of the of the data object updated or changed by agent`, 'string') }}","x_reconnect_token":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}","base_url":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},"matchingColumns":[],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"x_reconnect_token","displayName":"x_reconnect_token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[208,672],"id":"70841421-ed4f-419b-bd3e-78ff6c658107","name":"Data Validator"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding company.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"company"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of company user wants to search in system\ne.g\nto search \"Amazon Inc\"\nq_csv will be \"Amazon,Amaz,azon\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-592,688],"id":"508e3ee1-cef7-4bef-8f7d-6e8808bd28dd","name":"company"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding template.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"template"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'template' user wants to search in system\ne.g\nto search \"ZZ_Cleaning\"\nq_csv will be \"ZZ_Cleaning,clean,ZZ_Clean\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-448,736],"id":"61e0ca80-9969-4627-9848-4aa4887d68a9","name":"template"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data regarding projectmanager.","method":"POST","url":"https://devmaconomytransactionentry.vskyapplications.com/outlook/dropdown_data_by_query_csv","sendBody":true,"bodyParameters":{"parameters":[{"name":"x_reconnect_token","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.x_reconnect_token }}"},{"name":"base_url","value":"={{ $('Sub-Job-Agent-Webhook').item.json.body.base_url }}"},{"name":"field","value":"projectmanagernumber"},{"name":"q_csv","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `its a comma separated substrings of 'projectmanager' user wants to search in system\ne.g\nto search \"David Curran\"\nq_csv will be \"David Curran,David,Curran,Dav\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,768],"id":"b48138bf-e037-4ea2-9eb7-9ebeb21fee8c","name":"projectmanager"},{"parameters":{"jsCode":"const reply = $input.first().json.output.replytouser;\nconst formState = $('Sub-Job-Agent-Webhook').first().json.body.dataState;\n\nreturn {\n  \"reply\":\"Something went wrong\",\n  \"formState\":formState\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-96],"id":"747d0a82-874c-4537-a64f-d680993bba79","name":"agent error"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[400,-96],"id":"dc131ac6-f6d8-4ec6-a73e-5c5981488079","name":"Sub-Job-Agent-Webhook-Error-Response"}],"connections":{"Sub-Job-Agent-Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Assistant":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"agent error","type":"main","index":0}]]},"Code":{"main":[[{"node":"Assistant","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Assistant","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistant","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Sub-Job-Agent-Webhook-Response","type":"main","index":0}]]},"jobname":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"client":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"locationname":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Assistant","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"jobgroup":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"Data Validator":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"company":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"template":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"projectmanager":{"ai_tool":[[{"node":"Assistant","type":"ai_tool","index":0}]]},"agent error":{"main":[[{"node":"Sub-Job-Agent-Webhook-Error-Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cdf41295-2980-4e65-9689-b3ffb480233c","triggerCount":1,"tags":[]}