workflows/submit_go_to_subjob_node.json
{"createdAt":"2025-07-21T12:31:19.840Z","updatedAt":"2025-07-21T13:50:07.000Z","id":"2sX223uh4LY2DeN6","name":"submit_go_to_subjob_node","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"go_to_subjob_node","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-496,-176],"id":"58d7e0eb-9e1e-4c20-81d9-175e1aefb0f1","name":"Webhook","webhookId":"a4c39d71-b3c9-46ce-9896-0dfc86fd3223"},{"parameters":{"inputText":"={{ $json.body.userMessage }}","categories":{"categories":[{"category":"subjob","description":"If user wants to move on Sub Job Creation process"},{"category":"budget","description":"If user wants to move on Main Job Budget setting process"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-288,-176],"id":"b84e1f64-9cd2-422d-be57-99180ea36bf5","name":"Text Classifier"},{"parameters":{"model":"llama-3.1-8b-instant","options":{"maxTokensToSample":500,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-352,32],"id":"0ac97028-81ba-40e6-8784-86ee81617658","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"jsCode":"return {\n    json: {\n      reply: \"Thanks, Will proceed to Sub Job Creation Process\",\n      data: {\n        id: \"\",\n        text: \"\"\n      },\n      changeTheState: true,\n      executeBranch:\"subjob\"\n    }\n  };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-272],"id":"01bfb032-c2bc-448c-82a3-1195c9e5c24d","name":"Code"},{"parameters":{"jsCode":"return {\n    json: {\n      reply: \"Thanks, Will proceed to Budget Setting Process\",\n      data: {\n        id: \"\",\n        text: \"\"\n      },\n      changeTheState: true,\n      executeBranch:\"budget\"\n    }\n  };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-96],"id":"719fd523-da13-4c33-ade9-108a029809ac","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,-272],"id":"11b54189-e320-4177-80b2-7eb1f020529d","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[304,-96],"id":"d059fea7-d4de-4df2-8da1-dc709ff8d6f1","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"47b4c232-b98c-47fd-89ca-8f917449fa78","triggerCount":1,"tags":[]}