workflows/Teams Bot.json
{"createdAt":"2025-08-02T15:30:41.143Z","updatedAt":"2025-08-02T17:16:34.000Z","id":"X0Egv2ytRCK1eLPi","name":"Teams Bot","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,-80],"id":"b0741499-3f89-44f2-9294-55d0933023e4","name":"Telegram Trigger","webhookId":"85d6d4d0-4b6f-44fa-b157-37005f81b079","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora2Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,-80],"id":"cf5cb487-7031-4600-bb81-311bd3c433a8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[128,256],"id":"1fb329bc-0727-41b5-a8cb-2b001972ffc0","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,-80],"id":"baa80e69-196e-448e-8cea-8e34aa28e1ad","name":"Send a text message","webhookId":"ef9d9b9d-f3c1-4b71-b8e6-894aa4e3307d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora2Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4a3ec2f-ec3f-481b-a0e9-ee232d83586b","triggerCount":1,"tags":[]}