workflows/Tensora : Telegram.json
{"createdAt":"2025-08-03T04:29:36.072Z","updatedAt":"2025-08-03T06:16:38.000Z","id":"HRUd4ioLGv0BJsWY","name":"Tensora : Telegram","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"=You are a helpful assistant of \"Prasad Sawant\" who has multiple agents as your specialized sub-assistants who are specialized in their tasks.\nCall correct agent and Give proper input to them as per the user request\n\nAgent Connected:\n1. Project Content Manager: Has Ability to Get Project Data, Add new Project, Update existing Project, Inactive/Active any Existing Project in the Portfolio site Project Content Only.\n\n2. Skill Content Manager: Has Ability to Get Skillset Data, Add new Skillset, Update existing Skillset in the Portfolio site Skill Content Only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1888,-656],"id":"20a84e0f-6689-4376-95be-4823b55719a4","name":"Tensora"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2096,-448],"id":"4e27f61b-3fc6-44fe-ac7d-627bb9e6a694","name":"Tensora's Brain","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"tableName":"tensora_telegram_memory_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1952,-448],"id":"210e72b2-5a0d-4c82-b854-39dba2502eb1","name":"Tensora's Memory","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"jsCode":"const escapeMarkdown = (text) => {\n  //return text;\n  return text.replace(/([_*\\[\\]()~`>#+=|{}.!\\\\-])/g, '\\\\$1');\n};\n\nreturn [{\n  json: {\n    message: escapeMarkdown($input.first().json.output)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,-656],"id":"999904b9-12cf-4461-984e-b9c7bc060c9d","name":"Parsor"},{"parameters":{"options":{"maxOutputTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2752,336],"id":"653274dc-ae0a-429b-981f-f2bb714adeb3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"tableName":"tensora_telegram_project_content_manager_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2576,336],"id":"234dcf83-4a54-45e2-b9a2-d8789292f107","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"toolDescription":"Call to create a new Project in portfolio website","method":"POST","url":"https://n8n.prasadsawant.com/webhook/create-projects","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `in format\n\\`\\`\\`\njson \n{\n  \"title\": \"Title or name of a projects\";\n  \"description\": \"20-30 word description of project\";\n  \"technologies\": [\"Array\",\"of\",\"technologies\",\"used in project\"];\n  \"image\": \"url of thumbnail image (Required if  project is featured)\";\n  \"demo_url\": \"url if any\";\n  \"github_url\": \"github repo url if has\";\n  \"featured\": true/ false;\n}\n\\`\\`\\``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2016,336],"id":"41d5d227-00c5-40e1-96fa-ab2942ad0386","name":"Create New Project"},{"parameters":{"toolDescription":"Call to get all projects list exist in portfolio","url":"https://n8n.prasadsawant.com/webhook/get-projects","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2400,336],"id":"a1afb5ff-a2ae-49e6-aeac-07fd8e365071","name":"Get All Projects List"},{"parameters":{"descriptionType":"manual","toolDescription":"Call to updated an existing Project in portfolio website. (need Project Id as \"Id\")  ","operation":"update","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', `Id of the project. Get it from Other get tools`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', `updated title of Project`, 'string') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `updated Description of Project (Short Description)`, 'string') }}","technologies":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('technologies', `updated comma separated list of technologies of the project e.g [\"Gemini LLM\",\"Pinecone\",\"RAG\",\"n8n\",\"Vector Embeddings\",\"LangChain\",\"FastAPI\"]`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `its a updated https://.. url of thumbnail url(need if feature is true)`, 'string') }}","demo_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('demo_url', `updated Demo url of project(Optional)`, 'string') }}","github_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('github_url', `updated Demo github repo urlof project(Optional)`, 'string') }}","featured":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('featured', `updated featured flag (true/false)`, 'string') }}","is_active":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_active', `updated active flag (true/false)`, 'string') }}","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"technologies","displayName":"technologies","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_url","displayName":"demo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"github_url","displayName":"github_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"featured","displayName":"featured","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1856,336],"id":"ce2afc29-baa5-4c04-af2c-0f7676a06ab3","name":"Update Project","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call to get all inactive projects list exist in portfolio.","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"filtersUI":{"values":[{"lookupColumn":"is_active","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-2192,336],"id":"87500290-16ab-4edf-a15e-fdf37762acd1","name":"Call to get all inactive projects list","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"toolDescription":"Call to Get Project Data, Add new Project, Update Existing Project, Delete Existing Project","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Proper task description with user given values`, 'string') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-2400,-16],"id":"8995aaf9-e8a5-4441-8b61-5d52afcf3b97","name":"Project Content Manager"},{"parameters":{"toolDescription":"Call to Get Skill Data, Add new Skill, Update Existing Skill, Activate/Inactive any Existing Project","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1104,0],"id":"cc9c5ea5-de40-44bc-b260-337a45f2412f","name":"Skill Content Manager"},{"parameters":{"tableName":"tensora_telegram_skill_content_manager_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1168,368],"id":"7b78b521-97c1-41b5-b5fd-56287324b30e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call to get all skills exist in portfolio","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1008,368],"id":"e7add36a-0b29-4ffa-a69b-326d7c7857ee","name":"Get All Skills List","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"toolDescription":"Call to create a new Skills Set in portfolio website","method":"POST","url":"https://n8n.prasadsawant.com/webhook/create-skill","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `in format\n\\`\\`\\`\njson {\n  \"title\": \"Title For the List of skills e.g. AI & Automation\",\n  \"skills\": [\n    { \"name\": \"skill 1  e.g. AI Agent Workflows (LangChain/n8n)\", \"level\": 95 },\n    { \"name\": \"skill 2  e.g. Retrieval-Augmented Generation (RAG)\", \"level\": 95 },\n    { \"name\": \"skill 3  e.g. GenAI Solution Design (OpenAI/Groq)\", \"level\": 90 },\n    { \"name\": \"skill 4  e.g. Prompt Engineering & LLM Integration\", \"level\": 88 },\n    { \"name\": \"skill 5  e.g. AI Task Automation (Python + APIs)\", \"level\": 85 }\n  ]\n}\n\\`\\`\\``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-848,368],"id":"819bf168-606d-448b-9aca-9d7455432de2","name":"Create New Skill"},{"parameters":{"descriptionType":"manual","toolDescription":"Call to updated an existing Skill in portfolio website. (need skill Id as \"Id\")  ","operation":"update","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"columns":{"mappingMode":"defineBelow","value":{"updated_at":"={{ $now }}","skill_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('skill_name', `updated skill name for the skillset record`, 'string') }}","skill_level":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('skill_level', `updated skill level for the skillset record. it must be 0-100 integer`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', `updated title for the skillset`, 'string') }}","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', `its a id for the record, get it from other data retrieval tool`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_name","displayName":"skill_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_level","displayName":"skill_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-672,368],"id":"95655803-e5a8-4c67-ae5e-7ab3d3963c9f","name":"Update Skill","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"options":{"maxOutputTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1344,368],"id":"60c49bb2-965e-4b83-8695-b7ceb8a4e434","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3040,-688],"id":"e4b9ccad-d370-4e91-b85c-5d445e52d7c8","name":"Telegram Trigger","webhookId":"c719f260-70c1-4a32-a674-3ec0b69f30b6","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"jsCode":"const telegram = $('Telegram Trigger').first().json;\nreturn {\n  \"sessionId\":telegram.message.chat.id,\n  \"action\":\"sendMessage\",\n  \"chatInput\":telegram.message.text\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,-656],"id":"d5726b30-18ae-46c7-8882-b50c6988b273","name":"TelegramMessage"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"=Sorry You Dont Have Access.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2320,-464],"id":"8ed92dc0-c1ab-415d-b9ae-955900de7e50","name":"Permission Denied","webhookId":"e9770c55-c1e0-4563-81c3-8c332ec4ab7d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"={{ $json.message.replaceAll(\"\\\\*\\\\*\",\"***\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1312,-656],"id":"9642394e-9a6d-4e93-bc97-e2adf4ecd6cb","name":"Send a text message","webhookId":"e9770c55-c1e0-4563-81c3-8c332ec4ab7d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e902075-238e-4e99-a84d-2f50fb6ecaca","leftValue":"={{ $json.message.chat.id }}","rightValue":1443136452,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,-576],"id":"7c5270aa-d473-4e7d-9907-41385de94444","name":"If its me only"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.chat.id }}","rightValue":1298139752,"operator":{"type":"number","operation":"equals"},"id":"86c6b081-7b33-43b0-bcd8-0f187ea6448e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Divya"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6425dd39-4d6a-4e04-ba84-5226889d6546","leftValue":"={{ $json.message.chat.id }}","rightValue":1443136452,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Prasad"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2832,-688],"id":"56feb214-31e3-48a0-b775-15002e544112","name":"Switch"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"=Sorry, You Dont Have Access. Because You are a Divya Wairkar...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2544,-800],"id":"4aee304f-68cd-4ded-a44e-9822e26a94d8","name":"Permission Denied1","webhookId":"e9770c55-c1e0-4563-81c3-8c332ec4ab7d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}}],"connections":{"Tensora":{"main":[[{"node":"Parsor","type":"main","index":0}]]},"Tensora's Brain":{"ai_languageModel":[[{"node":"Tensora","type":"ai_languageModel","index":0}]]},"Tensora's Memory":{"ai_memory":[[{"node":"Tensora","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Project Content Manager","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Project Content Manager","type":"ai_memory","index":0}]]},"Create New Project":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Get All Projects List":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Update Project":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Call to get all inactive projects list":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Project Content Manager":{"ai_tool":[[{"node":"Tensora","type":"ai_tool","index":0}]]},"Skill Content Manager":{"ai_tool":[[{"node":"Tensora","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Skill Content Manager","type":"ai_memory","index":0}]]},"Get All Skills List":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Create New Skill":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Update Skill":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Skill Content Manager","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"TelegramMessage":{"main":[[{"node":"Tensora","type":"main","index":0}]]},"Parsor":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"If its me only":{"main":[[{"node":"TelegramMessage","type":"main","index":0}],[{"node":"Permission Denied","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Permission Denied1","type":"main","index":0}],[{"node":"If its me only","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":466939725,"message":{"message_id":132,"from":{"id":1298139752,"is_bot":false,"first_name":"Divya Wairkar","language_code":"en"},"chat":{"id":1298139752,"first_name":"Divya Wairkar","type":"private"},"date":1754200652,"text":"Which project are there"}}}]},"versionId":"089b1229-41db-4746-9795-791c9a1c57a2","triggerCount":1,"tags":[]}