workflows/Tensora : Telegram.json
{"createdAt":"2025-08-03T04:29:36.072Z","updatedAt":"2025-08-31T05:11:04.000Z","id":"HRUd4ioLGv0BJsWY","name":"Tensora : Telegram","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const escapeMarkdown = (text) => {\n  //return text;\n  return text.replace(/([_*\\[\\]()~`>#+=|{}.!\\\\-])/g, '\\\\$1');\n};\n\nreturn [{\n  json: {\n    message: escapeMarkdown($input.first().json.message)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,-816],"id":"999904b9-12cf-4461-984e-b9c7bc060c9d","name":"Parsor"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2688,-720],"id":"e4b9ccad-d370-4e91-b85c-5d445e52d7c8","name":"Telegram Trigger","webhookId":"c719f260-70c1-4a32-a674-3ec0b69f30b6","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"jsCode":"const telegram = $('Telegram Trigger').first().json;\nreturn {\n  \"sessionId\":telegram.message.chat.id,\n  \"action\":\"sendMessage\",\n  \"chatInput\":telegram.message.text\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,-816],"id":"d5726b30-18ae-46c7-8882-b50c6988b273","name":"TelegramMessage"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"={{ $json.message.replaceAll(\"\\\\*\\\\*\",\"***\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1616,-816],"id":"9642394e-9a6d-4e93-bc97-e2adf4ecd6cb","name":"Send a text message","webhookId":"e9770c55-c1e0-4563-81c3-8c332ec4ab7d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e902075-238e-4e99-a84d-2f50fb6ecaca","leftValue":"={{ $json.message.chat.id }}","rightValue":1443136452,"operator":{"type":"number","operation":"equals"}},{"id":"a275239b-57ef-4fe7-bfc6-cb0fa250c173","leftValue":"={{ $json.message.chat.id }}","rightValue":1298139752,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2480,-720],"id":"7c5270aa-d473-4e7d-9907-41385de94444","name":"If its me only"},{"parameters":{"jsCode":"const telegram = $('Telegram Trigger').first().json;\nreturn {\n  \"sessionId\":telegram.message.chat.id,\n  \"action\":\"sendMessage\",\n  \"chatInput\":telegram.message.text\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,-608],"id":"cf9f9969-7aa0-4b1e-8577-5bccf2101e7c","name":"TelegramMessage1"},{"parameters":{"jsCode":"const escapeMarkdown = (text) => {\n  //return text;\n  return text.replace(/([_*\\[\\]()~`>#+=|{}.!\\\\-])/g, '\\\\$1');\n};\n\nreturn [{\n  json: {\n    message: escapeMarkdown($input.first().json.output)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,-608],"id":"fc366684-835a-4b97-9834-9ddb5681463a","name":"Parsor1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id}}","text":"={{ $json.message.replaceAll(\"\\\\*\\\\*\",\"***\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1616,-608],"id":"537d07d5-713a-425d-93ec-8f2864c847ef","name":"Send a text message1","webhookId":"e9770c55-c1e0-4563-81c3-8c332ec4ab7d","credentials":{"telegramApi":{"id":"Z2xNhyt9gxbPO771","name":"Tensora"}}},{"parameters":{"workflowId":{"__rl":true,"value":"80yK71oGtTKkyMIR","mode":"list","cachedResultName":"Tensora"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ String($json.sessionId) }}","chatInput":"={{ $json.chatInput }}","action":"={{ $json.action }}","source":"Telegram"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2016,-816],"id":"184ec1bb-77f4-47b5-b794-6f97fd9b48f1","name":"Execute Tensora"},{"parameters":{"workflowId":{"__rl":true,"value":"RMwAax9sNuChMDbk","mode":"list","cachedResultName":"Tensora: Public"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId.toString() }}","action":"={{ $json.action }}","chatInput":"={{ $json.action }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2016,-608],"id":"153fcd1e-229f-4b51-8f80-0cdc96666e38","name":"Tensora For Visitor"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If its me only","type":"main","index":0}]]},"TelegramMessage":{"main":[[{"node":"Execute Tensora","type":"main","index":0}]]},"Parsor":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"If its me only":{"main":[[{"node":"TelegramMessage","type":"main","index":0}],[{"node":"TelegramMessage1","type":"main","index":0}]]},"TelegramMessage1":{"main":[[{"node":"Tensora For Visitor","type":"main","index":0}]]},"Parsor1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Execute Tensora":{"main":[[{"node":"Parsor","type":"main","index":0}]]},"Tensora For Visitor":{"main":[[{"node":"Parsor1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":466939832,"message":{"message_id":341,"from":{"id":5001061726,"is_bot":false,"first_name":"Prajakta","language_code":"en"},"chat":{"id":5001061726,"first_name":"Prajakta","type":"private"},"date":1756616837,"text":"Name"}}}]},"versionId":"1dba1515-62d6-461b-9c0b-837785c0dbea","triggerCount":1,"tags":[]}