workflows/Tensora.json
{"createdAt":"2025-08-02T06:48:25.390Z","updatedAt":"2025-08-31T03:25:20.000Z","id":"80yK71oGtTKkyMIR","name":"Tensora","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"=Your name is \"Tensora\" who has multiple Managers under your observation.\nAssign Proper task and provide required and given information by to them according thier responsibility. Request or Inform user according to the status of the task.\n\nManagers Connected:\n1. **Project Content Manager**: Has responsibility to manage Project Data. has abilities like Search Project Data, Add new Project, Update existing Project, Inactive/Active any Existing Project and other related to Project Content Only in the Portfolio site.\n\n2. **SkillSet Content Manager**: Has responsibility to manage SkillSet Data. has abilities like Search SkillSet Data, Add new SkillSet, Update existing SkillSet, Inactive/Active any Existing SkillSet and other related to SkillSet Content Only in the Portfolio site."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2304,-656],"id":"5c95c08e-5e0c-4829-8248-c4d1a1e111b0","name":"Tensora"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3120,-320],"id":"c16d9dce-c130-4377-87ec-2bc92b8679be","name":"Tensora's Brain","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"tableName":"tensora_memory_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2896,-336],"id":"1dfab2f6-dae0-4d2e-bd2b-bd9909bc4f47","name":"Tensora's Memory","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"jsCode":"\nreturn {\n  \"message\":$input.first().json.output\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-656],"id":"7dbac716-d4c6-468b-a9a5-596031e0133c","name":"Parsor"},{"parameters":{"options":{"maxOutputTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3040,16],"id":"49fafe09-c834-45db-be9a-889f222225e9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"tableName":"tensora_project_content_manager_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2864,16],"id":"985742dc-63eb-4e72-a94b-c294bc94dbd0","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"toolDescription":"Call to create a new Project in portfolio website","method":"POST","url":"https://n8n.prasadsawant.com/webhook/create-projects","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `in format\n\\`\\`\\`\njson \n{\n  \"title\": \"Title or name of a projects\";\n  \"description\": \"20-30 word description of project\";\n  \"technologies\": [\"Array\",\"of\",\"technologies\",\"used in project\"];\n  \"image\": \"url of thumbnail image (Required if  project is featured)\";\n  \"demo_url\": \"url if any\";\n  \"github_url\": \"github repo url if has\";\n  \"featured\": true/ false;\n}\n\\`\\`\\``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2320,16],"id":"17a5f8ac-bc78-4d56-a035-576e311052fa","name":"Create New Project"},{"parameters":{"toolDescription":"Call to get all projects list exist in portfolio","url":"https://n8n.prasadsawant.com/webhook/get-projects","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2688,16],"id":"6f31bd37-2a47-46b6-b70e-21d85c7cc055","name":"Get All Projects List"},{"parameters":{"descriptionType":"manual","toolDescription":"Call to updated an existing Project in portfolio website. (need Project Id as \"Id\")  ","operation":"update","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', `Id of the project. Get it from Other get tools`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', `updated title of Project`, 'string') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `updated Description of Project (Short Description)`, 'string') }}","technologies":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('technologies', `updated comma separated list of technologies of the project e.g [\"Gemini LLM\",\"Pinecone\",\"RAG\",\"n8n\",\"Vector Embeddings\",\"LangChain\",\"FastAPI\"]`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `its a updated https://.. url of thumbnail url(need if feature is true)`, 'string') }}","demo_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('demo_url', `updated Demo url of project(Optional)`, 'string') }}","github_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('github_url', `updated Demo github repo urlof project(Optional)`, 'string') }}","featured":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('featured', `updated featured flag (true/false)`, 'string') }}","is_active":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_active', `updated active flag (true/false)`, 'string') }}","updated_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"technologies","displayName":"technologies","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_url","displayName":"demo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"github_url","displayName":"github_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"featured","displayName":"featured","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-2160,16],"id":"4801a1ce-b0db-4681-b8f6-57c9a3ded4dd","name":"Update Project","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call to get all inactive projects list exist in portfolio.","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"filtersUI":{"values":[{"lookupColumn":"is_active","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-2496,16],"id":"20425ade-6a78-412e-bb5d-d51332950bee","name":"Call to get all inactive projects list","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"toolDescription":"Call to Get Project Data, Add new Project, Update Existing Project, Delete Existing Project","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Proper task description with user given values`, 'string') }}","options":{"systemMessage":"You are a \"Project Content Manager\" who performs tasks given by \"Tensora\" which is your senior. you has responsibilities manage \"Project Content\" only and to  handle below thing and performs tasks \n1. Search Projects And return list of Projects to \"Tensora\".\n2. Return List of Projects.\n3. Create New Project.\n4. Update existing project as per Tensora's instructions.\n5. Make active or inactive any project.\n\nReport or request \"Tensora\" back if your task or information provided to you by Tensora.\n\nUse Connected tools to perform task given by \"Tensora\" and report status back to it."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-2688,-336],"id":"0a1b5ba2-9ee5-45ae-a9ee-2ecb808d93fb","name":"Project Content Manager"},{"parameters":{"toolDescription":"Call to Get Skill Data, Add new Skill, Update Existing Skill, Activate/Inactive any Existing Project","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1760,-352],"id":"b6472068-56fe-438f-9ff4-ddb2ee87486e","name":"Skill Content Manager"},{"parameters":{"tableName":"tensora_skill_content_manager_chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1824,16],"id":"89a34868-4035-4378-8ca4-0d8c3f4b51fd","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"odt4ipqVoAUDhpSK","name":"Postgres account: hostinger"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call to get all skills exist in portfolio","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1664,16],"id":"ee5e4998-f8f4-46f0-a9d1-fbd80935c3bf","name":"Get All Skills List","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"toolDescription":"Call to create a new Skills Set in portfolio website","method":"POST","url":"https://n8n.prasadsawant.com/webhook/create-skill","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `in format\n\\`\\`\\`\njson {\n  \"title\": \"Title For the List of skills e.g. AI & Automation\",\n  \"skills\": [\n    { \"name\": \"skill 1  e.g. AI Agent Workflows (LangChain/n8n)\", \"level\": 95 },\n    { \"name\": \"skill 2  e.g. Retrieval-Augmented Generation (RAG)\", \"level\": 95 },\n    { \"name\": \"skill 3  e.g. GenAI Solution Design (OpenAI/Groq)\", \"level\": 90 },\n    { \"name\": \"skill 4  e.g. Prompt Engineering & LLM Integration\", \"level\": 88 },\n    { \"name\": \"skill 5  e.g. AI Task Automation (Python + APIs)\", \"level\": 85 }\n  ]\n}\n\\`\\`\\``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-1504,16],"id":"22c538bf-8d21-48a8-8b70-519ce62080f9","name":"Create New Skill"},{"parameters":{"descriptionType":"manual","toolDescription":"Call to updated an existing Skill in portfolio website. (need skill Id as \"Id\")  ","operation":"update","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"columns":{"mappingMode":"defineBelow","value":{"updated_at":"={{ $now }}","skill_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('skill_name', `updated skill name for the skillset record`, 'string') }}","skill_level":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('skill_level', `updated skill level for the skillset record. it must be 0-100 integer`, 'string') }}","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', `updated title for the skillset`, 'string') }}","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', `its a id for the record, get it from other data retrieval tool`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_name","displayName":"skill_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_level","displayName":"skill_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1328,16],"id":"6b8cd09d-557c-434b-a759-d1eb3ed82ede","name":"Update Skill","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"options":{"maxOutputTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2000,16],"id":"5197e529-194a-4706-9c7e-5118ab9d4f1c","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"o40oJ0ZLn1vdpVvD","name":"Tensora 2"}}},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"action"},{"name":"chatInput"},{"name":"source"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2576,-656],"id":"7b551529-1b55-4f37-83a7-1471d5084cb1","name":"When Executed by Another Workflow"}],"connections":{"Tensora":{"main":[[{"node":"Parsor","type":"main","index":0}]]},"Tensora's Brain":{"ai_languageModel":[[{"node":"Tensora","type":"ai_languageModel","index":0}]]},"Tensora's Memory":{"ai_memory":[[{"node":"Tensora","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Project Content Manager","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Project Content Manager","type":"ai_memory","index":0}]]},"Create New Project":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Get All Projects List":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Update Project":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Call to get all inactive projects list":{"ai_tool":[[{"node":"Project Content Manager","type":"ai_tool","index":0}]]},"Project Content Manager":{"ai_tool":[[{"node":"Tensora","type":"ai_tool","index":0}]]},"Skill Content Manager":{"ai_tool":[[{"node":"Tensora","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Skill Content Manager","type":"ai_memory","index":0}]]},"Get All Skills List":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Create New Skill":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Update Skill":{"ai_tool":[[{"node":"Skill Content Manager","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Skill Content Manager","type":"ai_languageModel","index":0}]]},"Parsor":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Tensora","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7ab47be-fb4c-4c5b-b77f-af8e5213bd99","triggerCount":1,"shared":[{"createdAt":"2025-08-02T06:48:25.398Z","updatedAt":"2025-08-02T06:48:25.398Z","role":"workflow:owner","workflowId":"80yK71oGtTKkyMIR","projectId":"jYp8xiWttkK2cWvC"}],"tags":[{"createdAt":"2025-08-03T14:23:51.503Z","updatedAt":"2025-08-03T14:23:51.503Z","id":"HyvSuDLV7ktBrUwp","name":"core"}]}