workflows/Testing- Create WorkflowAgent.json
{"updatedAt":"2026-02-01T15:51:20.000Z","createdAt":"2026-02-01T15:38:41.112Z","id":"ZdKflfIkUB8x34BZ","name":"Testing- Create WorkflowAgent","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3920,352],"id":"d225dc7f-67c7-4a57-a585-ccd99f2ef2c7","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"9cc9f3a1-382a-4052-88e5-925c070d1655","name":"task","value":"={{ $json.body.task }}","type":"string"},{"id":"85143c1c-c82c-419a-8021-934937522507","name":"agency_id","value":"={{ $json.body.agency_id }}","type":"string"},{"id":"b122f78a-d593-491c-8ed8-ad5d95f4f569","name":"bearer_token","value":"={{ $json.body.bearer_token }}","type":"string"},{"id":"f1e28889-bb0b-4ca4-84c4-7e9b4ac25b45","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"62b5aca5-4ce1-4556-aca6-fad4f68ea85e","name":"kangaroo_base_uri","value":"https://kangarooapi.vskyapplications.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,192],"id":"f4a382b5-5870-4d81-9ea2-08bc342e80e6","name":"Edit Fields"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{"maxOutputTokens":2048,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4304,368],"id":"ae19d141-e907-42a6-914f-c74e1a80d7b6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ddV4Th7HVfDEIw9j","name":"Kangaroo"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-2976,400],"id":"a8103bd6-f979-4e31-ad1e-34c50cb69284","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n\t\"templateFolderName\": \"Name for the template folder\",\n    \"templates\":[\n      {\n        \"templateType\":\"Send Email/Send SMS\",\n        \"templateTitle\":\"Email #X – [Folder Name]/SMS #X – [Folder Name] (where X is the order of the template)\",\n        \"subjectLine\":\"Subject line for email type only \",\n        \"body\":\"Content of the Email/SMS template\",\n        \"orderToSend\":1\n      }\n    ],\n    \"workflowFolderName\":\"Name for the Workflow folder\",\n    \"workflowData\":{\n      \"workflowName\":\"Name of the workflow\",\n      \"triggerCategory\":\"Insured/Prospect default Insured\",\n      \"triggerTypes\":\"Birthday/Cross Sell/Net New Insured/New Claim/New Policy Closed Won/New Policy Quoted/Policy Expiration Date : default 'Net New Insured'\"\n      \n    }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2832,608],"id":"31fe39ca-4d28-455e-ac1e-51b1cba07967","name":"Structured Output Parser"},{"parameters":{"jsCode":"const workflowsFolder = $input.all();\nconst requireFolder = [];\nconst aiWorkflowFolderName = $('data Designer').first().json.output.workflowFolderName;\nfor (const item of workflowsFolder) {\n  if (item.json.folderName == aiWorkflowFolderName) {\n    requireFolder.push(item)\n  }\n}\nif ( requireFolder.length != 0) {\n  return requireFolder\n}else{\n  return [{\n    \"folderName\": aiWorkflowFolderName,\n    \"deleted\": false,\n    \"id\": null,\n    \"customProperties\": {}\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,128],"id":"5c410040-16d5-4c42-a0ad-90247f4b323f","name":"Find Workflow"},{"parameters":{"url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-folders/list?agencyId={{ $('Edit Fields').first().json.agency_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,128],"id":"499f3e46-8de9-4175-ae45-a6d0d7d988e7","name":"Get All Workflow Folder List"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.task.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"  \",\" \") }}","hasOutputParser":true,"options":{"systemMessage":"=You are an expert assistant responsible for generating workflow configuration data\nfor an Insurance CRM Automation System.\n\nThis CRM is used by Insurance Agencies, whose clients (insureds or prospects)\npurchase policies such as Home, Health, Auto, and Life Insurance.\n\nThe purpose of this system is to automate alerts, notifications, and campaign\nmessaging using Email and SMS through configurable workflows.\n\n----------------------------------------------------------------\n\nWORKFLOW ARCHITECTURE\n\nEach workflow consists of three core components:\n\n1. Trigger\n   - Defines the criteria that determine which clients are eligible to enter\n     the workflow.\n\n2. Templates\n   - Predefined Email and SMS templates used to send notifications, alerts,\n     or campaign messages.\n\n3. Touchpoints\n   - A sequence of actions where each touchpoint:\n     • Selects a template (Send Email or Send SMS)\n     • Defines the delay after the previous touchpoint\n     • Sends communication automatically\n\n----------------------------------------------------------------\n\nSUPPORTED WORKFLOW USE CASES\n\nWorkflows may be created for purposes such as (but not limited to):\n\n1. Thank-You Messages\n2. Policy Expiry Alerts\n3. Policy Renewal Reminders\n4. New Policy Welcome Campaigns\n5. Cross-Sell / Upsell Campaigns\n\n----------------------------------------------------------------\n\nUSER REQUEST HANDLING RULES\n\nWhen a user requests the creation of a new workflow, you MUST generate\nall required content listed below.\n\n----------------------------------------------------------------\n\nMANDATORY OUTPUT REQUIREMENTS\n\nA. Template Folder Name\n   - If the user provides a folder name → use it exactly.\n   - If not provided → generate a simple, meaningful folder name\n     based on the workflow objective.\n\nB. Send Email Templates (3 Required)\n   - Generate 3 distinct email templates aligned with the workflow objective.\n   - Each Send Email template must include:\n     • templateTitle:\"Email #X – [Folder Name]\" (where X is the order of the template),\n     • templateType: \"Send SMS\" (Exact Same)\n     • templateName\n     • subject\n     • body (Simple 2-3 lines)\n     • orderToSend (unique values between 1 and 6)\n\n\nC. Send SMS Templates (3 Required)\n   - Generate 3 SMS templates aligned with the same workflow objective.\n   - Each Send SMS template must include:\n     • templateTitle:\"SMS #X – [Folder Name]\" (where X is the order of the template),\n     • templateType: \"Send Email\" (Exact Same)\n     • templateName\n     • body (Simple 2-3 lines)\n     • orderToSend (unique values between 1 and 6)\n\nD. Workflow Folder Name\n   - If the user provides a workflow folder name → use it exactly.\n   - If not provided → generate a logical folder name aligned\n     with the workflow purpose.\n\nE. Workflow Definition (1 Required)\n   - Generate one complete workflow object containing:\n     • Trigger configuration\n     • Ordered touchpoints referencing the created templates\n     • Clear timing logic between touchpoints\n\n----------------------------------------------------------------\n\nTEMPLATE CONTENT RULES\n\nPlaceholders:\nUse in double curly braces.\nDo NOT introduce additional placeholders.\n\n- FirstName\n- LastName\n- Email\n- Company.Name\n\norderToSend Rules:\n- Must be a number between 1 and 6\n- Each template must have a unique orderToSend value\n- Sequence must be logical and non-random\n\n----------------------------------------------------------------\nWORKFLOW TRIGGER RULES\n\nEach workflow trigger must include the following fields:\n1. \"triggerCategory\": [\"Insured\",\"Prospect\"] default Insured\",\n  \"triggerTypes\":  [\"Birthday\", \"Cross Sell\", \"Net New Insured\", \"New Claim\", \"New Policy Closed Won\", \"New Policy Quoted\", \"Policy Expiration Date\"] - default \"Net New Insured\"\n\n- If the user specifies a trigger type/ trigger Category, use it.\n- If not specified use default.\n\n----------------------------------------------------------------\n\nQUALITY STANDARDS\n\n- Use professional insurance-industry language\n- Avoid slang or overly casual phrasing\n- Ensure messaging is polite, compliant, and customer-friendly\n- Touchpoint timing must feel natural and non-spammy\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3136,192],"id":"42bf8e61-1bf9-4c9f-9da7-b3824c3b332a","name":"data Designer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0399030d-1c83-43d4-ae49-6b00f7aa0eef","leftValue":"={{ $json.id }}","rightValue":"null","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,128],"id":"ef1b86c9-3cc4-413d-a60a-2cad8b7670c3","name":"If"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-folders ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"folderName\":\"{{ $json.folderName }}\",\n  \"agencyId\": \"64849a38-d084-4c22-ae11-252fbf4c8747\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"d98827dd-143f-4041-9b73-9eda8b0a057e","name":"Create Workflow Folder"},{"parameters":{"jsCode":"return {\n  \"folderName\": $input.first().json.folderName,\n  \"deleted\": false,\n  \"id\": $input.first().json.id,\n  \"customProperties\": {}\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"1fc27499-e860-4967-87a4-e59afcf19c53","name":"Return Workflow Folder Data"},{"parameters":{"method":"POST","url":"https://kangarooai.vskyapplications.com/api/v1/agent/n8n/workflow_folder-worflow/fuzzy-matching","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workflow\":\"{{ $('data Designer').first().json.output.workflowData.workflowName }}\" \n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,144],"id":"cfaada1d-076d-4afb-b027-41edc4360b34","name":"Check Workflows"},{"parameters":{"jsCode":"const workflowList = $input.all();\nconst matchedWorkflow = workflowList.find(i=>i.json.match_score == 100) || null;\nif (matchedWorkflow != null) {\n  return matchedWorkflow;\n}\n\nreturn{\n  \"WorkflowName\": $('data Designer').first().json.output.workflowData.workflowName,\n  \"WorkflowId\": null,\n  \"WorkflowFolderId\": $('No Operation, do nothing: Return Workflow Folder Data').first().json.id,\n  \"WorkflowFolderName\": $('No Operation, do nothing: Return Workflow Folder Data').first().json.folderName,\n  \"TriggerCategory\": \"Prospect\",\n  \"TriggerType\": \"New Claim\",\n  \"match_score\":0\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,144],"id":"3be05ae8-fb93-4f5c-89f9-7f7e0ffc7262","name":"Return Workflow Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"faf54755-5801-449f-aefa-cc9d6a76cb96","leftValue":"={{ $json.WorkflowId }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,144],"id":"174b2eb3-e525-4204-b0f1-db969e34b78b","name":"If1"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Type\": \"A\",\n  \"WebhookURL\": \"AI Testing\",\n  \"FolderId\":\"{{ $('If1').item.json.WorkflowFolderId }}\",\n  \"Name\": \"{{ $('If1').item.json.WorkflowName }}\",\n  \"TriggerCategoryId\": \"{{ $('Trigger Category').item.json.id }}\",\n  \"TriggerCategoriesName\": \"{{ $('Trigger Category').item.json.name }}\",\n  \"TriggerTypeId\": \"{{ $json.id }}\",\n  \"TriggerTypeName\": \"{{ $json.name }}\",\n  \"UserId\": \"A048C104-4E4E-4308-8EDE-2FC6852CB77B\",\n  \"AgencyId\": \"64849a38-d084-4c22-ae11-252fbf4c8747\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,32],"id":"b73cade0-acc1-44c6-82e7-7b0c4ee85f82","name":"Create Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,160],"id":"98a4a3a7-dcd9-4c48-80cd-5b1288faa202","name":"No Operation, do nothing"},{"parameters":{"url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/triggers/categories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,32],"id":"ec00386c-0d88-46a8-989e-e2295046b1b8","name":"Trigger Categories"},{"parameters":{"jsCode":"const allTriggerCats = $input.all();\nconst triggerCat = allTriggerCats.find(i=>i.json.name == $('data Designer').first().json.output.workflowData.triggerCategory) || null;\nif (triggerCat != null) {\n  return triggerCat;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,32],"id":"ed045bb2-cd50-4cd2-bd20-bfe07cd02153","name":"Trigger Category"},{"parameters":{"url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/triggers/types","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,32],"id":"ebe35f21-c44f-4cf3-99c2-7413f2f65955","name":"Trigger Type"},{"parameters":{"jsCode":"const allTriggerTypes = $input.all();\nconst triggerType = allTriggerTypes.find(i=>i.json.name == $('data Designer').first().json.output.workflowData.triggerTypes) || null;\nif (triggerType != null) {\n  return triggerType;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,32],"id":"ce7311e8-4f07-4908-be94-5f2ac279060b","name":"Trigger Type Find"},{"parameters":{"jsCode":"return {\n  \"WorkflowName\": $input.first().json.name,\n  \"WorkflowId\": $input.first().json.id,\n  \"WorkflowFolderId\": $input.first().json.folderId,\n  \"WorkflowFolderName\": $('If1').first().json.WorkflowName,\n  \"TriggerCategory\": $input.first().json.triggerCategoriesName,\n  \"TriggerType\": $input.first().json.triggerTypeName,\n  \"match_score\": 100\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,32],"id":"453d5c20-5e51-4e7c-b171-1b7fc0c50ef7","name":"Return Workflow Data1"},{"parameters":{"jsCode":"const templates = $('data Designer').first().json.output.templates\nconst folderId = $input.first().json.id;\nfor (const element of templates) {\n  element.folderId = folderId\n}\nreturn templates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,208],"id":"839d3a38-23c8-40f4-b6d6-a251d4bd654f","name":"Templates"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-80,416],"id":"b317e29b-3893-4894-af4c-1b40af8dee89"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1184,208],"id":"1829962d-6598-4c88-b32b-11e0363f5e87","name":"Template creation Loop"},{"parameters":{"url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-email-folders/list?agencyId={{ $('Edit Fields').item.json.agency_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2672,192],"id":"3c251c64-4f71-455e-ae4b-e6b1f8a8d73d","name":"Get Template Folders"},{"parameters":{"jsCode":"const templateFolderLists= $('Get Template Folders').all();\nconst aiTemplateFolderName = $('data Designer').first().json.output.templateFolderName\nconst requireTemplateFolder = templateFolderLists.find(i=>i.json.folderName==aiTemplateFolderName) || null;\n\n\nif ( requireTemplateFolder != null) {\n  return [requireTemplateFolder]\n}else{\n  return [{\n    \"folderName\": aiTemplateFolderName,\n    \"deleted\": false,\n    \"id\": null,\n    \"customProperties\": {}\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,192],"id":"31c77a6f-9619-43ea-9d24-42de1d8d1f8a","name":"Find Template Folder"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b848cbc7-5b98-4785-9404-99add7b3bfa9","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,192],"id":"84f54d09-23fa-427f-95c5-b29504663127","name":"If2"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-email-folders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"folderName\": \"{{ $json.folderName }}\",\n  \"agencyId\": \"{{$('Edit Fields').first().json.agency_id}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,96],"id":"edcd845e-5638-4546-a5d7-561cfe5c0232","name":"Create Template Folder"},{"parameters":{"jsCode":"return {\n  \"folderName\": $input.first().json.folderName,\n  \"deleted\": false,\n  \"id\": $input.first().json.id,\n  \"customProperties\":{}\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,96],"id":"78ac1207-237c-480b-8b70-2d5da902da1d","name":"Created Template folder data"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-email-templates/insert-workflowemail-templates","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"{{ $json.body.replaceAll(\"\\n\",\"\\\\n\") }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"agencyId\": \"{{$('Edit Fields').first().json.agency_id}}\",\n  \"emailTemplateFolderId\": \"{{ $json.emailTemplateFolderId }}\",\n  \"workFlowActionTypeId\": \"{{ $json.workFlowActionTypeId }}\",\n  \"subjectLine\": \"{{ $json.subjectLine }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,336],"id":"f3d3f33b-6f2d-4cbe-afe8-e810dd6e7539","name":"Create Template","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const idMaps = [\n  {\n    \"name\": \"Send SMS\",\n    \"id\": \"0607acfe-84b1-4974-bd44-c6461d6b0887\"\n  },\n  {\n    \"name\": \"Send Email\",\n    \"id\": \"0607acfe-84b1-4974-bd44-c64lad6b0887\"\n  }\n]\nconst inputType=$input.first().json.templateType;\nconst typeObj = idMaps.find(i => \n    i.name.toLowerCase().includes(inputType.toLowerCase())\n);\n\nreturn {\n  \"body\": $input.first().json.body,\n  \"title\": $input.first().json.templateTitle,\n  \"agencyId\": $('Edit Fields').first().json.agency_id,\n  \"emailTemplateFolderId\": $input.first().json.folderId,\n  \"workFlowActionTypeId\": typeObj.id,\n  \"subjectLine\": $input.first().json.subjectLine\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,336],"id":"0e6fa2e7-c383-48d4-9def-efbeeb0c9c72","name":"Get action Type Id"},{"parameters":{"jsCode":"const templates = $('Created Templates').first().json.data;\nconst touchpoints =[];\nfor (const touchpoint of templates) {\n  touchpoints.push({\n    \"workFlowEmailTemplateId\": touchpoint.json.emailTemplateFolderId,\n    \"workFlowActionTypeId\": touchpoint.json.workFlowActionTypeId,\n    \"workFlowId\": $('No Operation, do nothing').first().json.WorkflowId,\n    \"actionTitle\": touchpoint.json.title,\n    \"templateTitle\": touchpoint.json.title,\n    \"subjectLine\": touchpoint.json.subjectLine,\n    \"wait\": 1,\n    \"waitUntil\": \"days\",\n    \"messageContent\": touchpoint.json.body,\n    \"agencyId\": $('Edit Fields').first().json.agency_id\n  })\n}\n\nreturn touchpoints;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,160],"id":"e5958e13-6bda-4521-85f1-2bbc9949d2ce","name":"design Touchpoint data"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn {\n  data: $input.all()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128],"id":"47a6bf46-ff43-4051-96b3-fa6b55402d2c","name":"Created Templates"},{"parameters":{"url":"={{ $('Edit Fields').first().json.kangaroo_base_uri }}/workflow-email-templates/list","sendQuery":true,"queryParameters":{"parameters":[{"name":"AgencyId","value":"={{ $json.agencyId }}"},{"name":"TemplateName","value":"={{ $json.title }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,432],"id":"b5f62c05-0ffb-4808-9fff-c6bb3c42c4fa","name":"Get Template By Name"},{"parameters":{"jsCode":"\nreturn{\n  \"agencyId\": $('Edit Fields').first().json.agency_id,\n  \"workFlowActionTypeId\": $input.first().json.data[0].workFlowActionType.id,\n  \"emailTemplateFolderId\": $input.first().json.data[0].workFlowEmailTemplateFolder.id,\n  \"subjectLine\": $input.first().json.data[0].subjectLine,\n  \"title\": $input.first().json.data[0].title,\n  \"body\": $input.first().json.data[0].body,\n  \"createdById\": null,\n  \"createdOnUtc\": null,\n  \"deleted\": false,\n  \"id\": $input.first().json.data[0].id\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,432],"id":"9c4e33ce-41ae-4935-8438-80bcfa30a2e9","name":"Get Existing Templates"},{"parameters":{"method":"POST","url":"={{$('Edit Fields').first().json.kangaroo_base_uri}}/workflow-touchpoints/addtouchpoint","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields').first().json.bearer_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"workFlowEmailTemplateId\": \"{{ $json.workFlowEmailTemplateId }}\",\n  \"workFlowActionTypeId\": \"{{ $json.workFlowActionTypeId }}\",\n  \"workFlowId\": \"{{ $json.workFlowId }}\",\n  \"actionTitle\": \"{{ $json.actionTitle }}\",\n  \"templateTitle\": \"{{ $json.templateTitle }}\",\n  \"subjectLine\": \"{{ $json.subjectLine }}\",\n  \"wait\": 1,\n  \"waitUntil\": \"days\",\n  \"messageContent\": \"{{ $json.messageContent.replaceAll(\"\\n\",\"\\\\n\") }}\",\n  \"agencyId\": \"{{ $json.agencyId }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,160],"id":"e963d9f0-1897-4e22-8887-b998a4913789","name":"Create Touchpoints","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Trigger and Templates created in system are:\n{{ JSON.stringify($('data Designer').first().json.output) }}\n-----------------\nTouchpoints Created in the System are:\n{{ JSON.stringify($('No Operation, do nothing2').item.json.touchpointsCreated) }}","options":{"systemMessage":"=SYSTEM PROMPT – Agent-Style Workflow, Template & Touchpoint Summary Generator\n\nYou are a customer support agent for an Insurance CRM platform.\n\nYour role is to clearly and confidently explain to the user,\nin friendly and professional language,\nwhat YOU have just set up for them inside the system.\n\nYou will receive structured data representing workflows,\nemail and SMS templates, triggers, and touchpoints\nthat have already been created successfully.\n\nSpeak in a first-person, agent-assisted tone\n(e.g., “I’ve created…”, “I’ve set this up for you…”).\n\n----------------------------------------------------------------\n\nINPUT CONTEXT\n\nYou may receive data that includes:\n- Workflow name and workflow folder\n- Trigger category and trigger type\n- Email templates (title, subject, body, order)\n- SMS templates (title, body, order)\n- Touchpoints with wait timing and sequence\n\nAll data represents completed actions in the system.\n\n----------------------------------------------------------------\n\nREQUIRED OUTPUT STRUCTURE (MUST FOLLOW EXACTLY)\n\n1. Workflow Information\n   - State that YOU created the workflow\n   - Mention the workflow name and folder\n   - Explain who the workflow applies to\n   - Explain what event triggers it\n   - Clearly describe the purpose of the workflow in plain language\n\n2. Email Templates I Set Up for You\n   For EACH Email template:\n   - Template Title\n   - Subject\n   - Template body/content (use the provided content as-is or lightly summarised)\n   - When this email is sent in the overall sequence\n\n3. SMS Templates I Set Up for You\n   For EACH SMS template:\n   - Template Title\n   - Template body/content (use the provided content as-is or lightly summarised)\n   - When this SMS is sent in the overall sequence\n\n4. How the Messages Will Be Sent (Touchpoint Flow)\n   - Explain the full message flow step by step\n   - Describe the order using natural language:\n     “first”, “next”, “after that”, “then”, “finally”\n   - Mention relative timing (e.g., “each message is sent a day apart”)\n     ONLY if timing data is present\n   - Do NOT assume exact dates or times unless explicitly provided\n\n----------------------------------------------------------------\n\nWRITING & TONE RULES\n\n- Use first-person language (“I’ve”, “I set up”, “I’ve arranged”)\n- Sound helpful, confident, and professional\n- Write for NON-TECHNICAL USERS\n- Avoid system, developer, or database terminology\n- Reflect the actual data accurately\n- Do NOT invent, assume, or exaggerate\n- Do NOT include emojis\n\n----------------------------------------------------------------\n\nOUTPUT FORMAT RULES\n\n- Plain text only\n- Use clear sections with bold headings\n- Use bullet points or short paragraphs\n- No code blocks\n- No references to JSON, schemas, or field names\n\n----------------------------------------------------------------\n\nFINAL OBJECTIVE\n\nMake the user feel confident that:\n- Their workflow is correctly configured\n- Templates are properly created and organised\n- Touchpoints are sequenced logically\n- You have carefully handled the setup on their behalf\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[4304,160],"id":"7aad36c1-ef54-438d-b5e4-7456d7c79313","name":"Sumarizer"},{"parameters":{"jsCode":"// 1. Get the array of items\nconst items = $input.all();\n\n// 2. Map through each item to transform the data\nconst cleanedData = items.map(item => {\n  // Use destructuring to pull 'error' out and group everything else into 'rest'\n  const { error, ...rest } = item.json;\n  \n  // Return the cleaned object back into the n8n structure\n  return {\n    json: rest\n  };\n});\n\nreturn {\"touchpointsCreated\":cleanedData};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,224],"id":"93d3962f-d53a-4064-a71d-54c2614e83ae","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3728,160],"id":"a20872ad-67f9-4094-b754-fcd34c8df307","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"\n\nreturn {\"touchpointsCreated\":$input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,80],"id":"ea8e5e9d-e581-4e5f-94bf-4260e5cbd45d","name":"Code1"},{"parameters":{"httpMethod":"POST","path":"create_workflow_testing_agent","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3936,64],"id":"6da5b09b-2cdf-41ef-a6fa-fde3915a7f82","name":"Webhook","webhookId":"6f4e06d7-546d-4866-ba29-a4c19c118e51"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4656,160],"id":"903911f1-1ba6-428b-b021-589481dd73ad","name":"Respond to Webhook"},{"parameters":{"options":{"maxOutputTokens":2048,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3232,528],"id":"860ba508-44dc-4f3a-bfe6-3361c8693c6e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ddV4Th7HVfDEIw9j","name":"Kangaroo"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,144],"id":"5d979efc-0e17-4d24-8cff-c7ce723a6935","name":"No Operation, do nothing: Return Workflow Folder Data"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"data Designer","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Sumarizer","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"data Designer","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Find Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Get All Workflow Folder List":{"main":[[{"node":"Find Workflow","type":"main","index":0}]]},"data Designer":{"main":[[{"node":"Get Template Folders","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Workflow Folder","type":"main","index":0}],[{"node":"No Operation, do nothing: Return Workflow Folder Data","type":"main","index":0}]]},"Create Workflow Folder":{"main":[[{"node":"Return Workflow Folder Data","type":"main","index":0}]]},"Return Workflow Folder Data":{"main":[[{"node":"No Operation, do nothing: Return Workflow Folder Data","type":"main","index":0}]]},"Check Workflows":{"main":[[{"node":"Return Workflow Data","type":"main","index":0}]]},"Return Workflow Data":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Trigger Categories","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Create Workflow":{"main":[[{"node":"Return Workflow Data1","type":"main","index":0}]]},"Trigger Categories":{"main":[[{"node":"Trigger Category","type":"main","index":0}]]},"Trigger Category":{"main":[[{"node":"Trigger Type","type":"main","index":0}]]},"Trigger Type":{"main":[[{"node":"Trigger Type Find","type":"main","index":0}]]},"Trigger Type Find":{"main":[[{"node":"Create Workflow","type":"main","index":0}]]},"Return Workflow Data1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Templates":{"main":[[{"node":"Template creation Loop","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Template creation Loop","type":"main","index":0}]]},"Template creation Loop":{"main":[[{"node":"Created Templates","type":"main","index":0}],[{"node":"Get action Type Id","type":"main","index":0}]]},"Get Template Folders":{"main":[[{"node":"Find Template Folder","type":"main","index":0}]]},"Find Template Folder":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Create Template Folder","type":"main","index":0}],[{"node":"Templates","type":"main","index":0}]]},"Create Template Folder":{"main":[[{"node":"Created Template folder data","type":"main","index":0}]]},"Created Template folder data":{"main":[[{"node":"Templates","type":"main","index":0}]]},"Create Template":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Get Template By Name","type":"main","index":0}]]},"Get action Type Id":{"main":[[{"node":"Create Template","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"design Touchpoint data","type":"main","index":0}]]},"Created Templates":{"main":[[{"node":"Get All Workflow Folder List","type":"main","index":0}]]},"Get Template By Name":{"main":[[{"node":"Get Existing Templates","type":"main","index":0}]]},"Get Existing Templates":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"design Touchpoint data":{"main":[[{"node":"Create Touchpoints","type":"main","index":0}]]},"Create Touchpoints":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Sumarizer","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Sumarizer":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"data Designer","type":"ai_languageModel","index":0}]]},"No Operation, do nothing: Return Workflow Folder Data":{"main":[[{"node":"Check Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"1221","user-agent":"python-requests/2.32.5","accept-encoding":"gzip, deflate, zstd","accept":"*/*","content-type":"application/json"},"params":{},"query":{},"body":{"task":"\n        Your Task Is :Create a new workflow named \"Home Renewal Clients #3\" in the folder \"Testing AI\". Ensure the workflow is initialized with default data.\n\n        For the step :Create a new workflow named \"Home Renewal Clients #3\" in the \"Testing AI\" folder using default data.\n        here is the actual conversation happened between Human and AI:\n\n        * human: Create a workflow named \"Home Renewal Clients #3\" in folder \"Testing AI\" for default data\n        Find Accurate information from system and give detailed the task back.\n        ","agency_id":"64849a38-d084-4c22-ae11-252fbf4c8747","bearer_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJBMDQ4QzEwNC00RTRFLTQzMDgtOEVERS0yRkM2ODUyQ0I3N0IiLCJ1bmlxdWVfbmFtZSI6IkFkbWluIiwianRpIjoiMWY3NGU3OGQtODc2Zi00ZTE2LTlkNzYtY2ZlY2QwODJjMGY5IiwiaWF0IjoxNzY4NDYxMjk1LCJlbWFpbCI6ImFkbWluQG1lbGRlcC5jb20iLCJpc3MiOiJodHRwczovL215d2ViYXBpLmNvbSIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlN1cGVyIEFkbWluIiwibmJmIjoxNzY4NDYxMjk0LCJleHAiOjE3NzEwNTMyOTQsImF1ZCI6Imh0dHBzOi8vbXl3ZWJhcGkuY29tIn0.qCDk6wUIPfRkFkEnrEJ5Gny8hh2gEQQwg5lwjWAQg_U","user_id":"A048C104-4E4E-4308-8EDE-2FC6852CB77B"},"webhookUrl":"https://n8n.prasadsawant.com/webhook/create_workflow_testing_agent","executionMode":"production"}}]},"versionId":"78cd9eeb-586c-470f-a4b4-2bfea1c89b45","triggerCount":1,"shared":[{"updatedAt":"2026-02-01T15:38:41.121Z","createdAt":"2026-02-01T15:38:41.121Z","role":"workflow:owner","workflowId":"ZdKflfIkUB8x34BZ","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}