workflows/Timesheet Description Designer.json
{"updatedAt":"2026-03-27T13:59:24.000Z","createdAt":"2026-03-20T18:35:05.109Z","id":"q1y2kdghX9ftkHd8","name":"Timesheet Description Designer","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=User worked on below Part of the task:\n<Actually_Worked_Part>\n{{ $json.body.userInput }}\n</Actually_Worked_Part>\n\n{{ ($json.body.takeReferenceFromExistingDescription) ? '---':'' }}\n{{ ($json.body.takeReferenceFromExistingDescription) ? 'Here is existing content for reference:':'' }}\n{{ ($json.body.takeReferenceFromExistingDescription) ? '---':'' }}\n{{ ($json.body.takeReferenceFromExistingDescription) ? $json.body.currentContent:'' }}{{ ($json.body.takeReferenceFromExistingDescription) ? '---':'' }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a Task Description Designer Who checks and design description as\n1. Grammer Correction\n2. Action Key word\n3. Description Length (min 50, Max 100 words only)\n4. If the content in marathi Language then Convert the Content into English and generate the task Description.\n\nYour task is to expand the Description if its too short and shorten it its too long.\nAlways reframe it will detailed description idea.\n\nexamples:\n<few_shot_tunning>\n<example>\n  <Input>\n    User worked on below Part of the task:\n    <Actually_Worked_Part>\n    I have workrked on the UI side of the dashboard page, also tested the code by uinit testing\n    </Actually_Worked_Part>\n  </Input>  \n  <Output>\n    1. Worked on the Dashboard page related to UI changes.\n    2. Completed the unit tested of the Code.\n  </Output>\n<example>\n\n<example>\n  <Input>\n    User worked on below Part of the task:\n    <Actually_Worked_Part>\n    Attetnded meetinng with David, Call With PS for Stratergy discussion \n    </Actually_Worked_Part>\n  </Input>  \n  <Output>\n    1. Attended meeting with David for Updates.\n    2. Call with PS for Stratergy discussion related to project.\n  </Output>\n<example>\n\n<few_shot_tunning>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-432,448],"id":"47906e3b-9431-48bb-ace6-c1bd042c5e66","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n\t\"taskDescription\": \"20-30 word description.\"    \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-64,896],"id":"c379d7ae-e1f0-4ff6-a6d8-f833dfdda30f","name":"Structured Output Parser1"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-416,848],"id":"34133708-6a18-42f4-831a-de77ef234ae4","name":"Groq Chat Model","credentials":{"groqApi":{"id":"qfg4IRTFYATnvhGV","name":"Groq account"}}},{"parameters":{"httpMethod":"POST","path":"generate-description","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,496],"id":"b8dda83f-eded-4f73-bb07-a3456db314e9","name":"Webhook","webhookId":"54b5e180-b15e-4c34-a0a4-904eda2fa012"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-80,448],"id":"744aac07-abea-46fe-8f35-30db1a03ff4b","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-224,640],"id":"b4caa6b7-c07e-4788-86c2-652104535da7","name":"Auto-fixing Output Parser"}],"connections":{"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Respond to Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"1207","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36","sec-ch-ua":"\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"https://meldep.com","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://meldep.com/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,mr;q=0.8,hi;q=0.7"},"params":{},"query":{},"body":{"userInput":"Worked in the UI","currentContent":"Performed an in-depth analysis of the Budget Transfer Process, understanding functional requirements, business rules, and dependencies between source and target budgets.\n\nReviewed existing system behavior and identified gaps, constraints, and edge cases related to budget movement and validation.\n\nCreated detailed process documentation, including step-by-step workflow, data mappings, assumptions, and error-handling scenarios for the Budget Transfer Process.\n\nAnalyzed and finalized the Maconomy APIs required for budget transfer, including request/response structures, mandatory fields, and integration points.\n\nImplemented API-level logic to support secure and accurate budget transfer between jobs and sub-jobs within Maconomy.\n\nDeveloped the Budget Transfer functionality, ensuring correct budget calculations, validations, and consistency with financial rules.\n\nCoordinated testing and validation to confirm successful budget transfer, data integrity, and compliance with business requirements.\n\nSupported debugging, fixes, and enhancements identified during development and testing phases.","takeReferenceFromExistingDescription":true},"webhookUrl":"https://n8n.prasadsawant.com/webhook/generate-description","executionMode":"production"}}]},"versionId":"08b28651-c36b-440b-84de-44637bee336c","triggerCount":1,"shared":[{"updatedAt":"2026-03-20T18:35:05.119Z","createdAt":"2026-03-20T18:35:05.119Z","role":"workflow:owner","workflowId":"q1y2kdghX9ftkHd8","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}