workflows/user_want_to_budget_setting_node.json
{"createdAt":"2025-08-04T11:15:31.826Z","updatedAt":"2025-08-31T03:28:41.000Z","id":"mcT9JhPX3Hj8TEoT","name":"user_want_to_budget_setting_node","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"user_want_to_budget_setting_node","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-304,-32],"id":"6c4e0245-e483-41d5-9be4-f0660664dc5e","name":"Webhook","webhookId":"61ce0a35-cad2-41a6-af6c-4d3b59eab277"},{"parameters":{"jsCode":"\n\nreturn {\n    reply: \"Thank You, Will proceed To Budget Setting\",\n    data: {\n      next:\"set_budget\"\n    },\n    changeTheState: true\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-256],"id":"1bb4384a-cd96-49fe-8360-c0a047d7292b","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[944,-256],"id":"5b33eeff-17bf-4844-8205-4703e5bfe87d","name":"Respond to Webhook"},{"parameters":{"html":"={{ $json.body.stateHistory }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-96,-32],"id":"d10b3724-d6fb-4bc5-9e26-14b90a0738ef","name":"Markdown"},{"parameters":{"inputText":"={{ $json.data.replaceAll('\\n\\n','\\n') }}\nuser:{{ $json.body.userMessage }}\n","categories":{"categories":[{"category":"yes","description":"If user wants to set budget"},{"category":"no","description":"User dont want to set budget"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[112,-32],"id":"20775833-06ea-4aa7-9c80-26acf266d2e0","name":"Text Classifier"},{"parameters":{"model":"meta-llama/llama-4-maverick-17b-128e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[48,176],"id":"357839ca-6d2d-4037-92be-f16c7dd64937","name":"Groq Chat Model","credentials":{"groqApi":{"id":"j5UsUm4yE3hxfjmL","name":"Divya's Account"}}},{"parameters":{"jsCode":"\n\nreturn {\n    reply: \"Thank You, Will skip the Budget Setting process\",\n    data: {\n      next:\"skip\"\n    },\n    changeTheState: true\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-32],"id":"02659e21-a90d-47c9-b61c-edf4a39f1504","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[960,-32],"id":"45ce5c58-2f7c-4d22-b8a5-3b3f03dcdddf","name":"Respond to Webhook1"},{"parameters":{"jsCode":"\n\nreturn {\n    reply: \"I am not clear what you want.\",\n    data: {\n      next:\"confused\"\n    },\n    changeTheState: false\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,144],"id":"15b2a51a-22c9-4f02-95ea-e45a10f54d5f","name":"Code2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[976,144],"id":"5f095674-1b48-40b1-99cb-9bbc3953dfc7","name":"Respond to Webhook2"}],"connections":{"Webhook":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff7d5606-3844-4d4e-b25d-cfde0d96be7e","triggerCount":1,"shared":[{"createdAt":"2025-08-04T11:15:31.847Z","updatedAt":"2025-08-04T11:15:31.847Z","role":"workflow:owner","workflowId":"mcT9JhPX3Hj8TEoT","projectId":"jYp8xiWttkK2cWvC"}],"tags":[]}