workflows/Web Site APIs.json
{"createdAt":"2025-07-29T08:20:02.849Z","updatedAt":"2025-07-29T10:19:31.000Z","id":"d7Im9u3ePRE1eElw","name":"Web Site APIs","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"contact-from-portfolio","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,-112],"id":"b95d3e3b-cb12-492b-9a28-3a2434f3c3a1","name":"/contact-from-portfolio","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-592,-112],"id":"21892132-0608-49e9-ba1a-f2430dfe2802","name":"Final Response: (contact-from-portfolio)"},{"parameters":{"sendTo":"={{ $json.body.email }}","subject":"Thank You for Reaching Out!","message":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Thank You for Contacting</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;\">\n  <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n    <h2 style=\"color: #222;\">Hi {{ $json.body.name }},</h2>\n\n    <p>Thank you for reaching out through my portfolio website — I truly appreciate your interest!</p>\n\n    <p>I’ve received your message and will review it shortly. You can expect a reply within the next <strong>1–2 hours</strong>.</p>\n\n    <p>If there’s anything more you'd like to add or share, feel free to reply to this email.</p>\n\n    <p>Looking forward to connecting with you!</p>\n\n    <p style=\"margin-top: 30px;\">\n      Best regards,<br>\n      <strong>Prasad Sawant</strong><br>\n      <a href=\"https://portfolio.prasadsawant.com\" style=\"color: #1a73e8; text-decoration: none;\">portfolio.prasadsawant.com</a><br>\n      📧 <a href=\"mailto:prasadsawant1618@gmail.com\" style=\"color: #1a73e8; text-decoration: none;\">prasadsawant1618@gmail.com</a><br>\n      📱 <a href=\"https://www.linkedin.com/in/prasad-r-sawant\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: none;\">LinkedIn Profile</a>\n    </p>\n  </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"senderName":"Prasad Sawant","replyToSenderOnly":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1152,-112],"id":"4f78ccd8-4c45-4155-a751-9a60a653a5e9","name":"Send Reply To Visitor","webhookId":"c55df793-28ee-4c6c-98c7-739f2628dba2","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"## Contact From Portfolio","height":240,"width":1632},"type":"n8n-nodes-base.stickyNote","position":[-1472,-176],"typeVersion":1,"id":"15602405-1105-48c7-b494-d582528c7a8c","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1392,-528],"id":"b1c44035-f812-47c9-8406-0163770bfa47","name":"Create Data Storage Sheet","disabled":true},{"parameters":{"content":"## Setup Google Sheet for Data Storage","height":592,"width":3168,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1472,-800],"typeVersion":1,"id":"9c63c6dc-24be-4381-95b5-c43c8bdfdede","name":"Sticky Note1"},{"parameters":{"resource":"folder","name":"=Portfolio Data - {{ $('Global Variables').item.json['portfolio-holder-name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-544,-448],"id":"c151fab4-fc74-423c-a724-840acf61648f","name":"Create folder For Portfolio Data","credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"8bbd0a53-4919-4005-a8b3-507438a7b9c9","name":"portfolio-holder-name","value":"Prasad Sawant","type":"string"},{"id":"59762419-25dd-403b-bb6b-f76cc3219fde","name":"data-workbook-name","value":"Portfolio Data - Prasad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-528],"id":"e560a07b-90f7-4015-8956-ea03fcf528be","name":"Global Variables"},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Global Variables').item.json['data-workbook-name'] }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $('Get Data Of Folder').item.json.folder_id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-112,-528],"id":"fabe90f5-04c4-4320-a6f2-d2c18a3b0b0e","name":"Search Sheet If Exist","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"resource":"fileFolder","queryString":"=Portfolio Data - {{ $('Global Variables').item.json['portfolio-holder-name'] }}","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-976,-528],"id":"0f5fa9db-d447-4ad2-a83c-6328e1fb3ede","name":"Search Folder Is Exist or not","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1997c2ff-ccf5-4d15-908a-431385b57429","leftValue":"={{ $('Search Folder Is Exist or not').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,-528],"id":"ff6ab333-eb19-498f-8659-181bc50b33aa","name":"Is Exist"},{"parameters":{"jsCode":"return {\n  \"folder_id\":$input.first().json.id,\n  \"folder_name\":$input.first().json.name\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-528],"id":"194aa470-47b8-40c0-a0b6-2d232982a74b","name":"Get Data Of Folder"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,-608],"id":"3ee88598-a2fa-4616-8c84-450ddf85f24e","name":"-"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf695b5a-d83a-4be7-93ba-ac404ddc850a","leftValue":"={{ $('Search Sheet If Exist').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-528],"id":"200b414d-6303-4cf9-99bf-3f89a43da961","name":"Is Workbook Exist"},{"parameters":{"resource":"spreadsheet","title":"={{ $('Global Variables').item.json[\"data-workbook-name\"] }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,-432],"id":"2b60ab58-5645-464a-a90c-e168300b1e2f","name":"Create Workbook","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,-608],"id":"233d7c20-744a-4389-9ff8-96cead97be1a","name":"-1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Get Data Of Folder').item.json.folder_id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,-432],"id":"cdc6380e-0aba-4902-a4a6-ae0a14642685","name":"Move Workbook","credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-528],"id":"6aa70ad7-ab14-4672-a49e-64c41043d8ff","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"folder_id\": \"{{ $('Get Data Of Folder').item.json.folder_id }}\",\n  \"folder_name\": \"{{ $('Get Data Of Folder').item.json.folder_name }}\",\n  \"workbook_id\":\"{{ $json.id }}\",\n  \"workbook_name\":\"{{ $('Global Variables').item.json['data-workbook-name'] }}\",\n  \"sheet_data\":[\n    {\n      \"workbook_id\":\"{{ $json.id }}\",\n      \"sheet_name\":\"ContactUsForm\",\n      \"columns\":[\"id\",\"visitor_full_name\",\"visitor_email\",\"subject\",\"message\",\"from_source\",\"created_at\"]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-528],"id":"05ae8795-13b7-4a4f-af9d-985da240bf6a","name":"Set Sheets Data"},{"parameters":{"jsCode":"return $input.first().json.sheet_data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-528],"id":"628b1cca-3a51-4bc1-bb28-066dd0f8ad0a","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,-528],"id":"6be3efec-3cf0-48e2-a2a4-383b44718198","name":"Loop Over Sheets","alwaysOutputData":true},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"={{ $json.workbook_id }}","mode":"id"},"title":"={{ $json.sheet_name }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1504,-432],"id":"a8f0cc65-1085-4c1e-8af8-c41085fb2c61","name":"Create sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":591386692,"mode":"list","cachedResultName":"ContactUsForm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=591386692"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","created_at":"={{ $json.created_at }}","visitor_full_name":"={{ $('/contact-from-portfolio').item.json.body.name }}","visitor_email":"={{ $('/contact-from-portfolio').item.json.body.email }}","subject":"={{ $('/contact-from-portfolio').item.json.body.subject }}","message":"={{ $('/contact-from-portfolio').item.json.body.message }}","from_source":"={{ $('/contact-from-portfolio').item.json.query.from }}","automation_reply":"=<!DOCTYPE html> <html> <head>   <meta charset=\"UTF-8\">   <title>Thank You for Contacting</title> </head> <body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;\">   <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">     <h2 style=\"color: #222;\">Hi {{ $('/contact-from-portfolio').item.json.body.name }} ({{ $('/contact-from-portfolio').item.json.body.email }}),</h2>      <p>Thank you for reaching out through my portfolio website — I truly appreciate your interest!</p>      <p>I’ve received your message and will review it shortly. You can expect a reply within the next <strong>1–2 hours</strong>.</p>      <p>If there’s anything more you'd like to add or share, feel free to reply to this email.</p>      <p>Looking forward to connecting with you!</p>      <p style=\"margin-top: 30px;\">       Best regards,<br>       <strong>Prasad Sawant</strong><br>       <a href=\"https://portfolio.prasadsawant.com\" style=\"color: #1a73e8; text-decoration: none;\">portfolio.prasadsawant.com</a><br>       📧 <a href=\"mailto:prasadsawant1618@gmail.com\" style=\"color: #1a73e8; text-decoration: none;\">prasadsawant1618@gmail.com</a><br>       📱 <a href=\"https://www.linkedin.com/in/prasad-r-sawant\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: none;\">LinkedIn Profile</a>     </p>   </div> </body> </html>","automation_reply_from":"prasadsawant1618@gmail.com","automation_reply_at":"={{ $json.created_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"visitor_full_name","displayName":"visitor_full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"visitor_email","displayName":"visitor_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"automation_reply","displayName":"automation_reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"automation_reply_from","displayName":"automation_reply_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"automation_reply_at","displayName":"automation_reply_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"from_source","displayName":"from_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-784,-112],"id":"2352b212-6d5b-454f-966c-e3116b03d362","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\nreturn {\n  \"id\": str(uuid.uuid4()),\n  \"created_at\": datetime.now().isoformat()\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-112],"id":"4361215e-2ce3-4e88-88f9-2e124c2017d4","name":"Meta Data"},{"parameters":{"content":"## Table : [Columns]\n\n1. ContactUsForm : [id, visitor_full_name, visitor_email, subject, message, automation_reply, automation_reply_from, automation_reply_at, from_source\tcreated_at]","height":592,"width":1232,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1712,-800],"typeVersion":1,"id":"58122d0e-c054-4efe-b552-6701990cc0c4","name":"Sticky Note2"}],"connections":{"/contact-from-portfolio":{"main":[[{"node":"Send Reply To Visitor","type":"main","index":0}]]},"Final Response: (contact-from-portfolio)":{"main":[[]]},"Send Reply To Visitor":{"main":[[{"node":"Meta Data","type":"main","index":0}]]},"Create Data Storage Sheet":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Create folder For Portfolio Data":{"main":[[{"node":"Get Data Of Folder","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Search Folder Is Exist or not","type":"main","index":0}]]},"Search Sheet If Exist":{"main":[[{"node":"Is Workbook Exist","type":"main","index":0}]]},"Search Folder Is Exist or not":{"main":[[{"node":"Is Exist","type":"main","index":0}]]},"Is Exist":{"main":[[{"node":"-","type":"main","index":0}],[{"node":"Create folder For Portfolio Data","type":"main","index":0}]]},"Get Data Of Folder":{"main":[[{"node":"Search Sheet If Exist","type":"main","index":0}]]},"-":{"main":[[{"node":"Get Data Of Folder","type":"main","index":0}]]},"Is Workbook Exist":{"main":[[{"node":"-1","type":"main","index":0}],[{"node":"Create Workbook","type":"main","index":0}]]},"Create Workbook":{"main":[[{"node":"Move Workbook","type":"main","index":0}]]},"-1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Move Workbook":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Set Sheets Data","type":"main","index":0}]]},"Set Sheets Data":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Sheets","type":"main","index":0}]]},"Loop Over Sheets":{"main":[[],[{"node":"Create sheet","type":"main","index":0}]]},"Create sheet":{"main":[[{"node":"Loop Over Sheets","type":"main","index":0}]]},"Meta Data":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Final Response: (contact-from-portfolio)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"/contact-from-portfolio":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"121","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://192.168.0.111:8080","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://192.168.0.111:8080/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{"from":"portfolio"},"body":{"name":"Developer","email":"prasadsawant11121999@gmail.com","subject":"Get information about project","message":"Hello"},"webhookUrl":"https://n8n.prasadsawant.com/webhook/contact-from-portfolio","executionMode":"production"}}]},"versionId":"ff6b1f5c-4c9a-4798-882d-6b0353bfd401","triggerCount":1,"tags":[]}