workflows/Web Site APIs.json
{"createdAt":"2025-07-29T08:20:02.849Z","updatedAt":"2025-08-02T12:59:23.000Z","id":"d7Im9u3ePRE1eElw","name":"Web Site APIs","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"contact-from-portfolio","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,-112],"id":"b95d3e3b-cb12-492b-9a28-3a2434f3c3a1","name":"/contact-from-portfolio","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-592,-112],"id":"21892132-0608-49e9-ba1a-f2430dfe2802","name":"Final Response: (contact-from-portfolio)"},{"parameters":{"sendTo":"={{ $json.body.email }}","subject":"Thank You for Reaching Out!","message":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Thank You for Contacting</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;\">\n  <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n    <h2 style=\"color: #222;\">Hi {{ $json.body.name }},</h2>\n\n    <p>Thank you for reaching out through my portfolio website — I truly appreciate your interest!</p>\n\n    <p>I’ve received your message and will review it shortly. You can expect a reply within the next <strong>1–2 hours</strong>.</p>\n\n    <p>If there’s anything more you'd like to add or share, feel free to reply to this email.</p>\n\n    <p>Looking forward to connecting with you!</p>\n\n    <p style=\"margin-top: 30px;\">\n      Best regards,<br>\n      <strong>Prasad Sawant</strong><br>\n      <a href=\"https://portfolio.prasadsawant.com\" style=\"color: #1a73e8; text-decoration: none;\">portfolio.prasadsawant.com</a><br>\n      📧 <a href=\"mailto:prasadsawant1618@gmail.com\" style=\"color: #1a73e8; text-decoration: none;\">prasadsawant1618@gmail.com</a><br>\n      📱 <a href=\"https://www.linkedin.com/in/prasad-r-sawant\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: none;\">LinkedIn Profile</a>\n    </p>\n  </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"senderName":"Prasad Sawant","replyToSenderOnly":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1152,-112],"id":"4f78ccd8-4c45-4155-a751-9a60a653a5e9","name":"Send Reply To Visitor","webhookId":"c55df793-28ee-4c6c-98c7-739f2628dba2","credentials":{"gmailOAuth2":{"id":"Cvn2NEdre5yz0on6","name":"Gmail account: prasadsawant1618@gmail.com"}}},{"parameters":{"content":"## Post Contact From Portfolio","height":240,"width":1632},"type":"n8n-nodes-base.stickyNote","position":[-1472,-176],"typeVersion":1,"id":"15602405-1105-48c7-b494-d582528c7a8c","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1392,-528],"id":"b1c44035-f812-47c9-8406-0163770bfa47","name":"Create Data Storage Sheet","disabled":true},{"parameters":{"content":"## Setup Google Sheet for Data Storage","height":592,"width":3168,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1472,-800],"typeVersion":1,"id":"9c63c6dc-24be-4381-95b5-c43c8bdfdede","name":"Sticky Note1"},{"parameters":{"resource":"folder","name":"=Portfolio Data - {{ $('Global Variables').item.json['portfolio-holder-name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-544,-448],"id":"c151fab4-fc74-423c-a724-840acf61648f","name":"Create folder For Portfolio Data","credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"8bbd0a53-4919-4005-a8b3-507438a7b9c9","name":"portfolio-holder-name","value":"Prasad Sawant","type":"string"},{"id":"59762419-25dd-403b-bb6b-f76cc3219fde","name":"data-workbook-name","value":"Portfolio Data - Prasad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-528],"id":"e560a07b-90f7-4015-8956-ea03fcf528be","name":"Global Variables"},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Global Variables').item.json['data-workbook-name'] }}","limit":1,"filter":{"folderId":{"__rl":true,"value":"={{ $('Get Data Of Folder').item.json.folder_id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-112,-528],"id":"fabe90f5-04c4-4320-a6f2-d2c18a3b0b0e","name":"Search Sheet If Exist","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"resource":"fileFolder","queryString":"=Portfolio Data - {{ $('Global Variables').item.json['portfolio-holder-name'] }}","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-976,-528],"id":"0f5fa9db-d447-4ad2-a83c-6328e1fb3ede","name":"Search Folder Is Exist or not","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1997c2ff-ccf5-4d15-908a-431385b57429","leftValue":"={{ $('Search Folder Is Exist or not').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,-528],"id":"ff6ab333-eb19-498f-8659-181bc50b33aa","name":"Is Exist"},{"parameters":{"jsCode":"return {\n  \"folder_id\":$input.first().json.id,\n  \"folder_name\":$input.first().json.name\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-528],"id":"194aa470-47b8-40c0-a0b6-2d232982a74b","name":"Get Data Of Folder"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,-608],"id":"3ee88598-a2fa-4616-8c84-450ddf85f24e","name":"-"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf695b5a-d83a-4be7-93ba-ac404ddc850a","leftValue":"={{ $('Search Sheet If Exist').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-528],"id":"200b414d-6303-4cf9-99bf-3f89a43da961","name":"Is Workbook Exist"},{"parameters":{"resource":"spreadsheet","title":"={{ $('Global Variables').item.json[\"data-workbook-name\"] }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,-432],"id":"2b60ab58-5645-464a-a90c-e168300b1e2f","name":"Create Workbook","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,-608],"id":"233d7c20-744a-4389-9ff8-96cead97be1a","name":"-1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Get Data Of Folder').item.json.folder_id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,-432],"id":"cdc6380e-0aba-4902-a4a6-ae0a14642685","name":"Move Workbook","credentials":{"googleDriveOAuth2Api":{"id":"mqHbvBT2ysemWk47","name":"Google Drive: prasadsawant1618@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-528],"id":"6aa70ad7-ab14-4672-a49e-64c41043d8ff","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"folder_id\": \"{{ $('Get Data Of Folder').item.json.folder_id }}\",\n  \"folder_name\": \"{{ $('Get Data Of Folder').item.json.folder_name }}\",\n  \"workbook_id\":\"{{ $json.id }}\",\n  \"workbook_name\":\"{{ $('Global Variables').item.json['data-workbook-name'] }}\",\n  \"sheet_data\":[\n    {\n      \"workbook_id\":\"{{ $json.id }}\",\n      \"sheet_name\":\"ContactUsForm\",\n      \"columns\":[\"id\",\"visitor_full_name\",\"visitor_email\",\"subject\",\"message\",\"from_source\",\"created_at\"]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-528],"id":"05ae8795-13b7-4a4f-af9d-985da240bf6a","name":"Set Sheets Data"},{"parameters":{"jsCode":"return $input.first().json.sheet_data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-528],"id":"628b1cca-3a51-4bc1-bb28-066dd0f8ad0a","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,-528],"id":"6be3efec-3cf0-48e2-a2a4-383b44718198","name":"Loop Over Sheets","alwaysOutputData":true},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"={{ $json.workbook_id }}","mode":"id"},"title":"={{ $json.sheet_name }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1504,-432],"id":"a8f0cc65-1085-4c1e-8af8-c41085fb2c61","name":"Create sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":591386692,"mode":"list","cachedResultName":"ContactUsForm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=591386692"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","created_at":"={{ $json.created_at }}","visitor_full_name":"={{ $('/contact-from-portfolio').item.json.body.name }}","visitor_email":"={{ $('/contact-from-portfolio').item.json.body.email }}","subject":"={{ $('/contact-from-portfolio').item.json.body.subject }}","message":"={{ $('/contact-from-portfolio').item.json.body.message }}","from_source":"={{ $('/contact-from-portfolio').item.json.query.from }}","automation_reply":"=<!DOCTYPE html> <html> <head>   <meta charset=\"UTF-8\">   <title>Thank You for Contacting</title> </head> <body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;\">   <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">     <h2 style=\"color: #222;\">Hi {{ $('/contact-from-portfolio').item.json.body.name }} ({{ $('/contact-from-portfolio').item.json.body.email }}),</h2>      <p>Thank you for reaching out through my portfolio website — I truly appreciate your interest!</p>      <p>I’ve received your message and will review it shortly. You can expect a reply within the next <strong>1–2 hours</strong>.</p>      <p>If there’s anything more you'd like to add or share, feel free to reply to this email.</p>      <p>Looking forward to connecting with you!</p>      <p style=\"margin-top: 30px;\">       Best regards,<br>       <strong>Prasad Sawant</strong><br>       <a href=\"https://portfolio.prasadsawant.com\" style=\"color: #1a73e8; text-decoration: none;\">portfolio.prasadsawant.com</a><br>       📧 <a href=\"mailto:prasadsawant1618@gmail.com\" style=\"color: #1a73e8; text-decoration: none;\">prasadsawant1618@gmail.com</a><br>       📱 <a href=\"https://www.linkedin.com/in/prasad-r-sawant\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: none;\">LinkedIn Profile</a>     </p>   </div> </body> </html>","automation_reply_from":"prasadsawant1618@gmail.com","automation_reply_at":"={{ $json.created_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"visitor_full_name","displayName":"visitor_full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"visitor_email","displayName":"visitor_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"automation_reply","displayName":"automation_reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"automation_reply_from","displayName":"automation_reply_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"automation_reply_at","displayName":"automation_reply_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"from_source","displayName":"from_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-784,-112],"id":"2352b212-6d5b-454f-966c-e3116b03d362","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\nreturn {\n  \"id\": str(uuid.uuid4()),\n  \"created_at\": datetime.now().isoformat()\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-112],"id":"4361215e-2ce3-4e88-88f9-2e124c2017d4","name":"Meta Data"},{"parameters":{"content":"## Table : [Columns]\n\n1. ContactUsForm : [id, visitor_full_name, visitor_email, subject, message, automation_reply, automation_reply_from, automation_reply_at, from_source\tcreated_at]","height":592,"width":1232,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1712,-800],"typeVersion":1,"id":"58122d0e-c054-4efe-b552-6701990cc0c4","name":"Sticky Note2"},{"parameters":{"content":"## Get/Post Projects","height":816,"width":2224,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1472,96],"typeVersion":1,"id":"5fabe306-3f98-433f-b3aa-9ffb7ffef8cb","name":"Sticky Note3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-736,224],"id":"e1e9c123-8544-497e-a2b2-89912830db68","name":"Final Response: (get-projects)"},{"parameters":{"path":"get-projects","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,224],"id":"525f5805-374f-4a82-b874-28597a49b8b6","name":"GET: /get-projects","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"httpMethod":"POST","path":"create-projects","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,720],"id":"e479c33c-1d9f-4db5-ac57-888813021391","name":"POST: /create-projects","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"assignments":{"assignments":[{"id":"a2bc4b73-a804-4cbd-a8b6-a821df6b3db2","name":"id","value":"={{ $('Set Data Custom Fields').item.json.id }}","type":"string"},{"id":"2a16b324-42a3-4199-8d5d-6a3c3ca1ef55","name":"title","value":"={{ $('POST: /create-projects').item.json.body.title }}","type":"string"},{"id":"11f257dd-f238-4230-93de-de4e63f69517","name":"description","value":"={{ $('POST: /create-projects').item.json.body.description }}","type":"string"},{"id":"13c8d49b-d3ec-45e8-9191-da1cdeda9fb8","name":"technologies","value":"={{ $('POST: /create-projects').item.json.body.technologies }}","type":"string"},{"id":"546168b1-68e3-4d3d-9af0-81f2b6e568ff","name":"image","value":"={{ $('POST: /create-projects').item.json.body.image }}","type":"string"},{"id":"250c667d-3d9b-4f9e-acfd-307fa2b18b1b","name":"demoUrl","value":"={{ $('POST: /create-projects').item.json.body.demoUrl }}","type":"string"},{"id":"f5699528-619f-4d1a-8377-b2a370d928da","name":"githubUrl","value":"={{ $('POST: /create-projects').item.json.body.githubUrl }}","type":"string"},{"id":"4d2a566d-e0a1-45f2-839e-baf2a04a7078","name":"featured","value":"={{ $('POST: /create-projects').item.json.body.featured }}","type":"string"},{"id":"1ff6c727-c915-4a53-9a2f-a4e9bbe05680","name":"created_at","value":"={{ $('Set Data Custom Fields').item.json.created_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,576],"id":"7950d4b5-c1b9-4fd2-8716-755d818bb084","name":"Set Data","onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\nreturn {\n  \"id\": str(uuid.uuid4()),\n  \"created_at\": datetime.now().isoformat()\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,720],"id":"4db9c9a7-f376-4696-b8b5-2df60b86fd1c","name":"Set Data Custom Fields","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-208,384],"id":"14a7e610-0af0-4540-a376-bd8cb8335ccb","name":"Final Response: (post-projects)"},{"parameters":{"jsCode":"return {\n  \"iserror\":false,\n  \"message\":\"Project Added Successfull!\",\n  \"data\":$input.all()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,384],"id":"b7b58073-da98-4dd2-b8f5-4ffe2e6c6505","name":"Final Response Data: (post-projects)"},{"parameters":{"jsCode":"return {\n  \"iserror\":true,\n  \"message\":\"Something went wrong\",\n  \"data\":null\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,736],"id":"38e82d24-16c1-4ed9-b5f8-9d81ff055f22","name":"Final Response Data: post-project: (error)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-208,736],"id":"ac833fc7-9cba-482c-b1fe-2267888e4989","name":"Final Response: post-project: (error)"},{"parameters":{"language":"python","pythonCode":"data = _input.all()\nresponse = [{  \n  \"id\":i.get(\"json\").get(\"id\",\"\"),\n  \"title\":i.get(\"json\").get(\"title\",\"\"),\n  \"description\": i.get(\"json\").get(\"description\",\"\"),\n  \"technologies\": i.get(\"json\").get(\"technologies\",\"\").replace('[','').replace('\\\"','').replace(']','').split(','),\n  \"image\": i.get(\"json\").get(\"image\",\"\"),\n  \"demo_url\": i.get(\"json\").get(\"demo_url\",\"\"),\n  \"github_url\": i.get(\"json\").get(\"github_url\",\"\"),\n  \"featured\": i.get(\"json\").get(\"featured\",\"\"),\n  \"created_at\": i.get(\"json\").get(\"created_at\",\"\")\n} for i in data]\nreturn response"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,224],"id":"51a8d700-0996-4054-a3a7-b923e57de518","name":"Code setting"},{"parameters":{"content":"## Get/Post Skills","height":800,"width":2224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1472,928],"typeVersion":1,"id":"1a851d95-680d-4303-bf85-abc7e5193e0d","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"create-skill","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1232,1392],"id":"38c69cd4-7944-4d60-85d5-963fb3ceb1cc","name":"POST: /create-skill","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\ndata = _input.all()[0].json.body\ntitle =data.title\nskills =data.skills\ndataArray = [{\n  \"id\": str(uuid.uuid4()),\n  \"title\":title,\n  \"skill_name\":i.name,\n  \"skill_level\":i.level,\n  \"created_at\": datetime.now().isoformat(),\n  \"updated_at\": \"\"\n} for i in skills]\nreturn dataArray"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,1392],"id":"35a5e2e3-95a9-4cec-8d8d-e1b8851d2aea","name":"Set Data Custom Fields: for /create-skill","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return {\n  \"iserror\":true,\n  \"message\":\"Something went wrong\",\n  \"data\":null\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,1520],"id":"a89744d4-98b2-430a-aef7-26d6b943a9fc","name":"Final Response Data: post-skill: (error)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-528,1520],"id":"87ddc832-1c2a-465a-9fd4-497855f04f1b","name":"Final Response: post-skill: (error)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-688,1216],"id":"4a9fe569-4433-48fb-9872-6531244c6082","name":"each skill"},{"parameters":{"jsCode":"return {\n  \"iserror\":false,\n  \"message\":\"Project Added Successfull!\",\n  \"data\":$input.all()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1120],"id":"1593435f-7653-43c0-927c-2dd79660e07c","name":"Final Response Data: (create-skill)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-288,1120],"id":"6de65703-3c22-4919-8f79-20297a520c06","name":"Final Response: (create-skill)"},{"parameters":{"content":"## Raw body: Create\n```json\n{\n  \"title\": \"AI & Automation\",\n  \"skills\": [\n    { \"name\": \"AI Agent Workflows (LangChain/n8n)\", \"level\": 95 },\n    { \"name\": \"Retrieval-Augmented Generation (RAG)\", \"level\": 95 },\n    { \"name\": \"GenAI Solution Design (OpenAI/Groq)\", \"level\": 90 },\n    { \"name\": \"Prompt Engineering & LLM Integration\", \"level\": 88 },\n    { \"name\": \"AI Task Automation (Python + APIs)\", \"level\": 85 }\n  ]\n}\n```\n","height":272,"width":784},"type":"n8n-nodes-base.stickyNote","position":[-48,960],"typeVersion":1,"id":"0e0c4298-fa9f-4fbe-80aa-d478d79fe20b","name":"Sticky Note5"},{"parameters":{"content":"## Raw body: Create\ntitle =\"\",\tdescription=\"\",\ttechnologies=[\"A\",\"B\"],\timage=\"\",\tdemo_url=\"#\",\tgithub_url=\"#\",\tfeatured=true/false\n","height":272,"width":656},"type":"n8n-nodes-base.stickyNote","position":[80,112],"typeVersion":1,"id":"c5789ea2-6150-482c-8de8-435e1c0bdf5c","name":"Sticky Note6"},{"parameters":{"path":"get-skills","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1232,976],"id":"46548657-52b0-4d8d-be00-c54b11cdc70f","name":"GET: /get-skills","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"filtersUI":{"values":[{"lookupColumn":"is_active","lookupValue":"true"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1152,224],"id":"35b9cece-4a25-4cb6-b65f-98032433e4e0","name":"Get Project data","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2050530071,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2050530071"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","title":"={{ $json.title }}","description":"={{ $json.description }}","technologies":"={{ $json.technologies }}","image":"={{ $json.image }}","demo_url":"={{ $json.demoUrl }}","github_url":"={{ $json.githubUrl }}","featured":"={{ $json.featured }}","created_at":"={{ $json.created_at }}","is_active":"true"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"technologies","displayName":"technologies","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"demo_url","displayName":"demo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"github_url","displayName":"github_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"featured","displayName":"featured","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-704,480],"id":"9e622e90-380c-4be8-b588-f5203ebb6257","name":"Append Project","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","title":"={{ $json.title }}","skill_name":"={{ $json.skill_name }}","skill_level":"={{ $json.skill_level }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.created_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_name","displayName":"skill_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skill_level","displayName":"skill_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,1312],"id":"d01710ca-ff89-424c-a98e-7545183e123f","name":"Append Skills","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125102149,"mode":"list","cachedResultName":"Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=125102149"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1056,976],"id":"8410035c-2e1f-4c9f-bda0-3e31ab095197","name":"Get Skills","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"data = _input.all()\n\nset_of_title = list(set([item.get(\"json\").get(\"title\") for item in data]))\nresponse = []\nfor skill_title in set_of_title:\n  skills =[{\n    \"name\":item.get(\"json\",{}).get(\"skill_name\",\"\"),\n    \"level\":item.get(\"json\",{}).get(\"skill_level\",\"\")\n  } for item in data if item.get(\"json\",{}).get(\"title\",\"\") == skill_title]\n  \n  response.append({\n    \"title\":skill_title,\n    \"skills\":skills\n  })\nreturn response\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,976],"id":"2fb16147-160c-4caa-83a6-77239d4847b8","name":"Code setting: Skills"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-640,976],"id":"5f043574-6b7d-44f0-8a98-94200cf82ea5","name":"Final Response: (get-skill)"},{"parameters":{"content":"## Get/Post Skills","height":1696,"width":3456,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1472,1744],"typeVersion":1,"id":"31d674a6-fab9-4422-b7c8-81aff1bf26ef","name":"Sticky Note7"},{"parameters":{"content":"## Raw body: Create\n```json\n{\n    \"title\": \"AI ML Engineer\",\n    \"company\": \"VSky Solutions Pvt Ltd\",\n    \"location\": \"Kudal, Maharashtra, India\",\n    \"period\": \"May 2023 - Present\",\n    \"type\": \"Full-time\",\n    \"description\": \"Delivering AI-powered solutions across enterprise systems, enhancing automation, intelligent document processing, chatbot development, and ML model deployment at scale.\",\n    \"achievements\": [\n    \"Built a custom OCR pipeline for invoice processing, increasing accuracy by 92% and reducing turnaround time by 60%\",\n    \"Developed AI-driven Microsoft Teams chatbot that automated 80% of ERP job creation workflows using NLP and RAG\",\n    \"Integrated NetSuite & QuickBooks APIs with ASP.NET Core and MSSQL to automate financial data reporting\",\n    \"Deployed scalable ML services on Azure with GitHub CI/CD, achieving 99.9% uptime and 70% reduction in deployment time\",\n    \"Created a Python MVC framework with built-in ML model support, improving development speed by 40%\"\n    ],\n    \"technologies\": [\n    \"Python\", \"Machine Learning\", \"OCR\", \"TensorFlow\", \"Keras\", \"Scikit-learn\", \n    \"Azure\", \"FastAPI\", \"GitHub Actions\", \"SQL\", \"n8n\", \"LangChain\", \"Microsoft Teams\"\n    ]\n}\n```\n","height":432,"width":928},"type":"n8n-nodes-base.stickyNote","position":[-208,1776],"typeVersion":1,"id":"b2fbac55-2377-4f52-b7d0-bd61575e8876","name":"Sticky Note8"},{"parameters":{"httpMethod":"POST","path":"create-experience","responseMode":"responseNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,2784],"id":"07e3873a-a842-40dd-89e7-0862e69df455","name":"POST: /create-experience","webhookId":"6c30c22f-ea3c-4965-a796-4ad4289ec55b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1376,2384],"id":"7ab7f0c1-a983-412c-9d1e-c548042aa7aa","name":"Respond to Webhook"},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1373287874,"mode":"list","cachedResultName":"Experience","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=1373287874"},"filtersUI":{"values":[{"lookupColumn":"title","lookupValue":"={{ $json.body.title }}"},{"lookupColumn":"company","lookupValue":"={{ $json.body.company }}"},{"lookupColumn":"period","lookupValue":"={{ $json.body.period }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1200,2784],"id":"8fb73c12-e5b0-401b-989a-1de4b1b97fb7","name":"Is Experience Exist?","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"9ac853b1-6250-4232-a812-5a3a9530a48e","name":"experience_id","value":"={{ $json.id }}","type":"string"},{"id":"6576f952-6805-4e9b-ac1a-aec1905f00b7","name":"is_existing","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,2880],"id":"dc51d52a-6f08-4444-af66-5f449f68330d","name":"Get Experience"},{"parameters":{"language":"python","pythonCode":"import uuid\n\nreturn {\n  \"experience_id\":str(uuid.uuid4()),\n  \"is_existing\":False\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,2672],"id":"250816d2-0fee-4e29-8255-be0d31a44f44","name":"Get New Experience Id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00dbf906-1abd-4723-849d-162a6b80d104","leftValue":"={{ $('Is Experience Exist?').item.json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,2784],"id":"07ec6855-4f35-4eee-b787-9afe989d300f","name":"Get Existing else New"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\ndata = [x.json.body for x in _('POST: /create-experience').all()]\nif not data:\n  return {\n    \"data\":[]\n  }\ndata = data[0]\n\n# Experience Data\nexperience_id= _json.experience_id\ntimestamp = datetime.now().isoformat()\nexperience_data={\n  \"id\":experience_id,\n  \"title\":data.title,\n  \"company\":data.company,\n  \"location\":data.location,\n  \"period\":data.period,\n  \"type\":data.type,\n  \"description\":data.description,\n  \"created_at\":timestamp,\n  \"updated_at\":timestamp,\n  \"is_active\":True,\n  \"isExisting\":_json.is_existing\n}\n\nreturn {\n  \"experience_data\":experience_data,\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,2784],"id":"8d352a6b-9b49-4ff6-b3e1-85b867629839","name":"Prepare Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f02f3f9-cf13-4b52-aab6-3c69636e584d","leftValue":"={{ $('Prepare Data').item.json.experience_data.isExisting }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,2784],"id":"6c4feb0c-0787-4104-b183-b989e7df1f9d","name":"Add If New Experience"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,2896],"id":"a8fe18b4-63ad-45b2-8181-462b4b6a075b","name":"-2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1373287874,"mode":"list","cachedResultName":"Experience","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=1373287874"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.experience_data.id }}","title":"={{ $json.experience_data.title }}","company":"={{ $json.experience_data.company }}","location":"={{ $json.experience_data.company }}","period":"={{ $json.experience_data.period }}","description":"={{ $json.experience_data.description }}","type":"={{ $json.experience_data.type }}","is_active":"={{ $json.experience_data.is_active }}","updated_at":"={{ $json.experience_data.updated_at }}","created_at":"={{ $json.experience_data.created_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"period","displayName":"period","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-160,2688],"id":"e06bd1ac-cfff-40dd-baa3-53a98e3586d9","name":"Append New Experience","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2039781173,"mode":"list","cachedResultName":"Experience-Achievements","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2039781173"},"filtersUI":{"values":[{"lookupColumn":"experience_id","lookupValue":"={{ $json.experience_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,2416],"id":"e3fed047-b9d8-4405-886d-b0f3b8ef6219","name":"Get By Experience Id","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"255d38ae-c751-46e9-863b-9192d3d74431","name":"experience_id","value":"={{ $json.experience_data.id }}","type":"string"},{"id":"8e3d2322-633e-474e-91c3-20be377a27de","name":"is_existing","value":"={{ $json.experience_data.isExisting }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,2784],"id":"8f7f2c8f-f4fb-4373-ab5a-9d6f0324cc14","name":"set data"},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\ntimestamp = datetime.now().isoformat()\nexperience_id = _('Get Experience').first().json.experience_id\nall_requested_achievements = _('POST: /create-experience').first().json.body.achievements\nexisting_achievements_list = [x.json for x in _('Get By Experience Id').all() if x.json != {}]\n\n# Fix: Ensure all sort_order values are integers\nexisting_sort_orders = [\n    int(x.get(\"sort_order\")) if str(x.get(\"sort_order\")).strip().isdigit() else 0\n    for x in existing_achievements_list\n]\n\nmax_sort_order = max(existing_sort_orders, default=-1)\n\n# Fix: Get existing achievement strings\nexist_ach_str = [x.get(\"achievements\", \"\") for x in existing_achievements_list]\n\n# Create new only list with updated sort_order\nnew_only = []\nfor i, item in enumerate([a for a in all_requested_achievements if a not in exist_ach_str]):  \n  new_only.append({\n      \"id\": str(uuid.uuid4()),\n      \"experience_id\": experience_id,\n      \"sort_order\": max_sort_order + i + 1,\n      \"achievements\": item,\n      \"created_at\": timestamp,\n      \"updated_at\": timestamp,\n      \"is_active\": True\n  })\n\nreturn new_only\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,2416],"id":"9a523392-72db-4ab6-b9ea-75ac0739da9c","name":"Check New Data Only","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1152,2480],"id":"9781079c-ad68-469b-a8ae-edbbf626c070","name":"Insert Acheivements"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2039781173,"mode":"list","cachedResultName":"Experience-Achievements","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2039781173"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","experience_id":"={{ $json.experience_id }}","sort_order":"={{ $json.sort_order }}","achievements":"={{ $json.achievements }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.updated_at }}","is_active":"={{ $json.is_active }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"experience_id","displayName":"experience_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sort_order","displayName":"sort_order","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"achievements","displayName":"achievements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1360,2576],"id":"ea6ce865-469a-497d-aa59-66816598a8c7","name":"Append Achievement","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbd24cfe-242a-4db5-aa97-c95f92b89a33","leftValue":"={{ $('Check New Data Only').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"d7ca5a31-c306-4e05-acb0-2122fb1e80cc","leftValue":"={{ $('Check New Data Only').first().json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,2416],"id":"ebaacecb-22da-491e-8037-ba0c944d5496","name":"Is Empty Achivement"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1376,3024],"id":"3083483c-db26-439f-97b6-ad079404ad07","name":"Respond to Webhook1"},{"parameters":{"documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1865652354,"mode":"list","cachedResultName":"Experience-Technologies","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=1865652354"},"filtersUI":{"values":[{"lookupColumn":"experience_id","lookupValue":"={{ $json.experience_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,3056],"id":"531b6f7d-6aeb-4118-8e95-158c9668cbf9","name":"Get By Experience Id1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"language":"python","pythonCode":"import uuid\nfrom datetime import datetime\n\ntimestamp = datetime.now().isoformat()\nexperience_id = _('Get Experience').first().json.experience_id\nall_requested_achievements = _('POST: /create-experience').first().json.body.achievements\nexisting_achievements_list = [x.json for x in _('Get By Experience Id').all() if x.json != {}]\n\n# Fix: Ensure all sort_order values are integers\nexisting_sort_orders = [\n    int(x.get(\"sort_order\")) if str(x.get(\"sort_order\")).strip().isdigit() else 0\n    for x in existing_achievements_list\n]\n\nmax_sort_order = max(existing_sort_orders, default=-1)\n\n# Fix: Get existing achievement strings\nexist_ach_str = [x.get(\"achievements\", \"\") for x in existing_achievements_list]\n\n# Create new only list with updated sort_order\nnew_only = []\nfor i, item in enumerate([a for a in all_requested_achievements if a not in exist_ach_str]):  \n  new_only.append({\n      \"id\": str(uuid.uuid4()),\n      \"experience_id\": experience_id,\n      \"sort_order\": max_sort_order + i + 1,\n      \"achievements\": item,\n      \"created_at\": timestamp,\n      \"updated_at\": timestamp,\n      \"is_active\": True\n  })\n\nreturn new_only\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,3056],"id":"4f5ba567-cc35-408d-9610-7d307aca2ffe","name":"Check New Data Only1","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1152,3120],"id":"ceb70e40-5ec4-4bcb-b9fa-2f9df0ec8ece","name":"Insert Acheivements1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao","mode":"list","cachedResultName":"Portfolio Data - Prasad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2039781173,"mode":"list","cachedResultName":"Experience-Achievements","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16XuOl-ko5sspAxNUP87pLzOLQ6aY4mTNqORJWU0SIao/edit#gid=2039781173"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","experience_id":"={{ $json.experience_id }}","sort_order":"={{ $json.sort_order }}","achievements":"={{ $json.achievements }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.updated_at }}","is_active":"={{ $json.is_active }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"experience_id","displayName":"experience_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sort_order","displayName":"sort_order","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"achievements","displayName":"achievements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1360,3216],"id":"8f0a3b50-5cf7-42d0-a3a8-c6d1103b9cef","name":"Append Achievement1","credentials":{"googleSheetsOAuth2Api":{"id":"1jKCIuTI1kwmBNPJ","name":"Google Sheets: prasadsawant1618@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbd24cfe-242a-4db5-aa97-c95f92b89a33","leftValue":"={{ $('Check New Data Only1').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"d7ca5a31-c306-4e05-acb0-2122fb1e80cc","leftValue":"={{ $('Check New Data Only1').first().json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,3056],"id":"203dc9a3-69c1-4edf-a649-cf73a9ceb5d4","name":"Is Empty Achivement1"}],"connections":{"/contact-from-portfolio":{"main":[[{"node":"Send Reply To Visitor","type":"main","index":0}]]},"Final Response: (contact-from-portfolio)":{"main":[[]]},"Send Reply To Visitor":{"main":[[{"node":"Meta Data","type":"main","index":0}]]},"Create Data Storage Sheet":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Create folder For Portfolio Data":{"main":[[{"node":"Get Data Of Folder","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Search Folder Is Exist or not","type":"main","index":0}]]},"Search Sheet If Exist":{"main":[[{"node":"Is Workbook Exist","type":"main","index":0}]]},"Search Folder Is Exist or not":{"main":[[{"node":"Is Exist","type":"main","index":0}]]},"Is Exist":{"main":[[{"node":"-","type":"main","index":0}],[{"node":"Create folder For Portfolio Data","type":"main","index":0}]]},"Get Data Of Folder":{"main":[[{"node":"Search Sheet If Exist","type":"main","index":0}]]},"-":{"main":[[{"node":"Get Data Of Folder","type":"main","index":0}]]},"Is Workbook Exist":{"main":[[{"node":"-1","type":"main","index":0}],[{"node":"Create Workbook","type":"main","index":0}]]},"Create Workbook":{"main":[[{"node":"Move Workbook","type":"main","index":0}]]},"-1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Move Workbook":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Set Sheets Data","type":"main","index":0}]]},"Set Sheets Data":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Sheets","type":"main","index":0}]]},"Loop Over Sheets":{"main":[[],[{"node":"Create sheet","type":"main","index":0}]]},"Create sheet":{"main":[[{"node":"Loop Over Sheets","type":"main","index":0}]]},"Meta Data":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Final Response: (contact-from-portfolio)","type":"main","index":0}]]},"GET: /get-projects":{"main":[[{"node":"Get Project data","type":"main","index":0}]]},"POST: /create-projects":{"main":[[{"node":"Set Data Custom Fields","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Append Project","type":"main","index":0}],[{"node":"Final Response Data: post-project: (error)","type":"main","index":0}]]},"Set Data Custom Fields":{"main":[[{"node":"Set Data","type":"main","index":0}],[{"node":"Final Response Data: post-project: (error)","type":"main","index":0}]]},"Final Response Data: (post-projects)":{"main":[[{"node":"Final Response: (post-projects)","type":"main","index":0}]]},"Final Response Data: post-project: (error)":{"main":[[{"node":"Final Response: post-project: (error)","type":"main","index":0}]]},"Code setting":{"main":[[{"node":"Final Response: (get-projects)","type":"main","index":0}]]},"POST: /create-skill":{"main":[[{"node":"Set Data Custom Fields: for /create-skill","type":"main","index":0}]]},"Set Data Custom Fields: for /create-skill":{"main":[[{"node":"each skill","type":"main","index":0}],[{"node":"Final Response Data: post-skill: (error)","type":"main","index":0}]]},"Final Response Data: post-skill: (error)":{"main":[[{"node":"Final Response: post-skill: (error)","type":"main","index":0}]]},"each skill":{"main":[[{"node":"Final Response Data: (create-skill)","type":"main","index":0}],[{"node":"Append Skills","type":"main","index":0}]]},"Final Response Data: (create-skill)":{"main":[[{"node":"Final Response: (create-skill)","type":"main","index":0}]]},"GET: /get-skills":{"main":[[{"node":"Get Skills","type":"main","index":0}]]},"Get Project data":{"main":[[{"node":"Code setting","type":"main","index":0}]]},"Append Project":{"main":[[{"node":"Final Response Data: (post-projects)","type":"main","index":0}],[{"node":"Final Response Data: post-project: (error)","type":"main","index":0}]]},"Append Skills":{"main":[[{"node":"each skill","type":"main","index":0}]]},"Get Skills":{"main":[[{"node":"Code setting: Skills","type":"main","index":0}]]},"Code setting: Skills":{"main":[[{"node":"Final Response: (get-skill)","type":"main","index":0}]]},"POST: /create-experience":{"main":[[{"node":"Is Experience Exist?","type":"main","index":0}]]},"Is Experience Exist?":{"main":[[{"node":"Get Existing else New","type":"main","index":0}]]},"Get New Experience Id":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Get Experience":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Get Existing else New":{"main":[[{"node":"Get New Experience Id","type":"main","index":0}],[{"node":"Get Experience","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Add If New Experience","type":"main","index":0}]]},"Add If New Experience":{"main":[[{"node":"Append New Experience","type":"main","index":0}],[{"node":"-2","type":"main","index":0}]]},"-2":{"main":[[{"node":"set data","type":"main","index":0}]]},"Append New Experience":{"main":[[{"node":"set data","type":"main","index":0}]]},"Get By Experience Id":{"main":[[{"node":"Check New Data Only","type":"main","index":0}]]},"set data":{"main":[[{"node":"Get By Experience Id","type":"main","index":0},{"node":"Get By Experience Id1","type":"main","index":0}]]},"Check New Data Only":{"main":[[{"node":"Is Empty Achivement","type":"main","index":0}]]},"Insert Acheivements":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Append Achievement","type":"main","index":0}]]},"Append Achievement":{"main":[[{"node":"Insert Acheivements","type":"main","index":0}]]},"Is Empty Achivement":{"main":[[],[{"node":"Insert Acheivements","type":"main","index":0}]]},"Get By Experience Id1":{"main":[[{"node":"Check New Data Only1","type":"main","index":0}]]},"Check New Data Only1":{"main":[[{"node":"Is Empty Achivement1","type":"main","index":0}]]},"Insert Acheivements1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Append Achievement1","type":"main","index":0}]]},"Append Achievement1":{"main":[[{"node":"Insert Acheivements1","type":"main","index":0}]]},"Is Empty Achivement1":{"main":[[],[{"node":"Insert Acheivements1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"/contact-from-portfolio":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","content-length":"121","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://192.168.0.111:8080","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://192.168.0.111:8080/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{"from":"portfolio"},"body":{"name":"Developer","email":"prasadsawant11121999@gmail.com","subject":"Get information about project","message":"Hello"},"webhookUrl":"https://n8n.prasadsawant.com/webhook/contact-from-portfolio","executionMode":"production"}}],"GET: /get-projects":[{"json":{"headers":{"connection":"upgrade","host":"n8n.prasadsawant.com","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://localhost:8080","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://localhost:8080/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.prasadsawant.com/webhook/get-projects","executionMode":"production"}}]},"versionId":"bf11f848-5185-4eac-98b9-8a0eb2c15916","triggerCount":6,"tags":[]}